{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Opciones-Definicion 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div style='display:block;'>
            <el-carousel :interval="4000" type="card" height="200px">
            <el-carousel-item v-for="(item,index) in opciones" :key="item">
                <h1 @click="goTO(index)"> $[[item]] </h1>
            </el-carousel-item>
            </el-carousel>
        </div>
        `,

        data() {
            return {

                opciones:["Agregar Miembros al Proyecto", "Roles del Proyecto - Administracion", "Otra Opcion"],
                
            };
        },
        methods: {

            goTO(index) {
                switch(index){

                    case 0:
                        window.location.href = "/definicion_proyecto/"+ {{ codigo_definicion }} + "/agregar_miembro/";
                        break;

                    case 1:
                        window.location.href = "/definicion_proyecto/"+ {{ codigo_definicion }} + "/rol_proyecto/listar/";
                        break;

                    case 2:
                        window.location.href = "/definicion_proyecto/"+ {{ codigo_definicion }} + "/otra_opcion/";
                        break;
                }
                
            },
        },
        mounted(){
            

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        .el-carousel__item h {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n + 1) {
            background-color: #d3dce6;
        }
    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
