{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    User Story-Administracion
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: left;display:block;">
           <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
            <h1 class="title is-1"> UserStories - Administracion </h1>
            <el-button type="primary" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/userstory/crear'"><i class="el-icon-circle-plus-outline" style="font-size:25px;"></i></el-button>
         
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">
                <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="3"><div class="grid-content"> ValorDeNegocio </div></el-col>
                <el-col :span="2"><div class="grid-content"> Prioridad </div></el-col>
                <el-col :span="2"><div class="grid-content"> ValorTécnico </div></el-col>
                <el-col :span="4"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="2"><div class="grid-content"> Priorizacion </div></el-col>
                <el-col :span="7"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="3"><div class="grid-content"> $[[ fila.valor_negocio ]] </div></el-col>
                <el-col :span="2"><div class="grid-content"> $[[ fila.prioridad ]] </div></el-col>
                <el-col :span="2"><div class="grid-content"> $[[ fila.valor_tecnico ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>
                <el-col :span="2"><div class="grid-content"> $[[ fila.priorizacion ]] </div></el-col>
            

                <el-col :span="7">
                    <div class="grid-content">
                        <el-button @click="editar(fila)" type="warning" icon="el-icon-edit" circle v-if="fila.estado == 'Pendiente' || fila.estado == 'No Finalizado'"></el-button>
                        <el-button @click="borrar(fila)" type="danger" icon="el-icon-delete" circle v-if="fila.estado == 'Pendiente'"></el-button>
                    </div>
                </el-col>

            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                tableData : [],
                permisoVista: 'Listar UserStory',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],
            };
        },

        created(){

                this.getUserStories();

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });

                
            
        },

        computed: { 

        },
        
        methods: {
            

            editar(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/userstory/editar/" + fila.id + "/";
            },


            getUserStories(){
                UserStoryServicio.ListarPorProyecto({{codigo_ejecucion}}).then( respuesta => {
                    this.tableData = respuesta;
                });
            },

            borrar(fila) {
                // Mensaje de Confirmacion para eliminar el us
                this.$confirm(
                'Esto eliminará permanentemente el UserStory. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.

                    UserStoryServicio.Borrar( fila.id ).then( respuesta => {
                        window.location.reload(); //al borrar el registro recargamos la pagina actual
                    });

                    this.$message({ //muestra un mensaje de  
                    type: 'success',
                    message: 'El userstory fue Eliminado Correctamente',
                    })
                })
                .catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                })
            },

        },

        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}






