{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Editar Proyecto 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js'%}"></script>
    <script src="{% static 'js/PermisosServicio.js'%}"></script>
    <script src="{% static 'js/MiembroServicio.js'%}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js'%}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" style='display:block;'>
            <el-row>
                <el-col :sm='24' :md='12'>
                    <h1 class="title is-1"> Editar Proyecto </h1>
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="form.nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Descripción" >
                            <el-input v-model="form.descripcion"></el-input>
                        </el-form-item>

                        
                        <el-form-item label="Scrum Master" >
                            <el-select v-model="miembro.usuario" placeholder="Seleccionar Scrum Master">
                                <el-option
                                    v-for="item in usuarios"
                                    :key="item.id"
                                    :label="item.user.username"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>
                        
                        <el-button type="primary" @click="submit" default> Guardar </el-button>


                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
   
        `,

        data() {
            return {
                usuarios: [],

                form: {
                    id: 0,
                    nombre: '',
                    descripcion: '',
                },

                miembro: {
                    id: 0,
                    proyecto: 0,
                    usuario: 0,
                    rol_proyecto: 0,
                },

                miembro_sprint: {
                    id: 0,
                    horas_laborales: 0,
                    team_member: 0,
                    sprint: 0,
                },

                permisoVista: 'Editar Proyecto',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[],

                auxUsuarioID:-1,
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
            
        },
        methods: {
            submit(){
                var self = this;

                var proyecto = {...self.form };
                var miembroDatos = {...self.miembro };

                ProyectoServicio.Editar( proyecto ).then( function() {
                    

                    console.log(miembroDatos)
                    if(miembroDatos.usuario == self.auxUsuarioID ){
                        //console.log("NO JASJDAJSD")
                        window.location.href="/proyecto/listar"
                    }else{

                        MiembroServicio.esMiembro(miembroDatos.usuario,proyecto.id).then((es_miembro)=>{
                            if(es_miembro){
                                //console.log("ES MIEMBRO") 
                                self.$notify({
                                    title: 'Este usuario ya tiene un Rol en el Proyecto Actual',
                                    message: 'Elija otro usuario, porfavor',
                                    type: 'error'
                                })
    
                            }else{ //si no es miembro, hacemos un cambio directo
                                MiembroServicio.Editar( miembroDatos ).then((resultado) => {
                                    console.log(miembroDatos)
                                    self.$notify({
                                        title: 'Correcto.',
                                        message: "Proyecto Editado Correctamente.",
                                        type: 'success'
                                    });

                                    //window.location.href="/proyecto/listar"
                                })
                                //console.log("NO ES MIEMBRO")
                            }
                        })

                    }
                    
                }).catch( (error) => {
                    self.$notify({
                        title: 'Error al Editar Proyecto',
                        message: error,
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;

            // al montarse el componente recuperamos todos los perfiles de usuarios
            // y lo guardamos en un array usuarios []
            UsuarioSistemaServicio.Listar().then( function(resultado) {
                self.usuarios = resultado;
            });

            //recuperamos el proyecto actual y sus datos a ser mostrados en
            // el form
            ProyectoServicio.Obtener( {{ codigo }} ).then( function(resultado) {

                var proyectoActual = resultado;

                self.form.id = proyectoActual.id;
                self.form.nombre = proyectoActual.nombre;
                self.form.descripcion = proyectoActual.descripcion;
                
            });

             MiembroServicio.ObtenerMiembroScrumMaster( {{ codigo }} ).then( function(resultado) {

                var miembroActual = resultado;
                console.log(miembroActual);

                self.miembro.id = miembroActual.id;
                self.miembro.proyecto = miembroActual.proyecto.id;
                self.miembro.usuario = miembroActual.usuario.id;
                self.miembro.rol_proyecto = miembroActual.rol_proyecto.id;


                self.auxUsuarioID=miembroActual.usuario.id;

                MiembroSprintServicio.ListarMiembrosSprintPorMiembro(miembroActual.id).then((res)=>{
                    var miembrosSprintActuales = res;
                    console.log(miembrosSprintActuales);
                    //self.miembro_sprint = miembroSprintActual
                    //console.log(self.miembro_sprint)

                })
                
            });


        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>
{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
