{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Inicio 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/RolProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1"  style='display:block;'>
            <h1 class="title is-1"> Crear Rol Proyecto </h1>
            <el-row>
                <el-col :sm='24' :md='12'>
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="form.nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Descripción" >
                            <el-input v-model="form.descripcion"></el-input>
                        </el-form-item>

                        <el-form-item label="Es Unico en el Proyecto" >
                            <el-checkbox v-model="form.es_unico"></el-checkbox>
                        </el-form-item>

                        <el-form-item label="Permisos" >
                            <el-checkbox-group
                                v-model="form.permisos">
                                
   
                                {% comment %} <el-checkbox v-for="permiso2 in permisos" :label="permiso2.id" :key="permiso2.id" :disabled="!permiso2.desactivado" >$[[permiso2.nombre]]</el-checkbox> {% endcomment %}
                                {% comment %} <el-checkbox v-for="permiso in permisos" :label="permiso.id" :key="permiso.id" :disabled="!permiso.desactivado" @change="checkboxT(permiso,$event)"     >$[[permiso.nombre]]</el-checkbox> {% endcomment %}
                                <el-checkbox v-for="permiso in permisos" :label="permiso.id" :key="permiso.id" :disabled="!permiso.desactivado" @change="checkboxT(permiso,$event)">$[[permiso.nombre]]</el-checkbox>
                            </el-checkbox-group>

                            
                        </el-form-item>

                        <el-button type="primary" @click="submit" round> Guardar </el-button>
                    </el-form>
                </el-col>
            </el-row>
        </div>
         <div v-else>
            
        </div>
        `,

        data() {
            return {
                isIndeterminate:true,
                checkAll:false,
                cityOptions:[1,2],

                desactivar: false,
//                permisosDesactivados: [],
                permisos: [],
                form: {
                    nombre: '',
                    descripcion: '',
                    permisos: [],
                    es_unico: false,
                    proyecto: parseInt('{{codigo_definicion}}')
                },
                permisoVista: 'Crear Rol Proyecto',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[]
            };
        },

        created(){
                
                var self=this;
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }} , {{ codigo_definicion}}).then( function(resultado) {
                    
                    self.permisosUsuarioProyecto=resultado;
    
                });
            
        },
        methods: {

            checkboxT(permiso,event){
                var self=this;
                //let hola =[...self.permisos]


                 switch(true){
                    case (permiso.nombre === 'Crear Sprint' && event==true):
                       self.form.permisos.push(20,12)
                        break;
                    case (permiso.nombre === 'Crear Sprint' && event==false):
                       var forDeletion = [20,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Editar Sprint' && event==true):
                       self.form.permisos.push(20,12)
                        break;
                    case (permiso.nombre === 'Editar Sprint' && event==false):
                        forDeletion = [20,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Crear UserStory' && event==true):
                       self.form.permisos.push(23,12,30)
                        break;
                    case (permiso.nombre === 'Crear UserStory' && event==false):
                       var forDeletion = [23,12,30]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Editar UserStory' && event==true):
                       self.form.permisos.push(23,12,30)
                        break;
                    case (permiso.nombre === 'Editar UserStory' && event==false):
                        forDeletion = [23,12,30]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Crear Rol Proyecto' && event==true):
                       self.form.permisos.push(15,12)
                        break;
                    case (permiso.nombre === 'Crear Rol Proyecto' && event==false):
                       var forDeletion = [15,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Editar Rol Proyecto' && event==true):
                       self.form.permisos.push(15,12)
                        break;
                    case (permiso.nombre === 'Editar Rol Proyecto' && event==false):
                        forDeletion = [15,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Agregar Miembro al Proyecto' && event==true):
                       self.form.permisos.push(15,12)
                        break;
                    case (permiso.nombre === 'Agregar Miembro al Proyecto' && event==false):
                        forDeletion = [15,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Agregar Miembro al Sprint' && event==true):
                       self.form.permisos.push(20,12)
                        break;
                    case (permiso.nombre === 'Agregar Miembro al Sprint' && event==false):
                       var forDeletion = [20,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Reemplazar Miembro' && event==true):
                       self.form.permisos.push(20,12)
                        break;
                    case (permiso.nombre === 'Reemplazar Miembro' && event==false):
                        forDeletion = [20,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Asignar UserStory' && event==true):
                       self.form.permisos.push(20,12)
                        break;
                    case (permiso.nombre === 'Asignar UserStory' && event==false):
                        forDeletion = [20,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    
                    case (permiso.nombre === 'Cancelar Proyecto' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Cancelar Proyecto' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Activar Proyecto' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Activar Proyecto' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;

                    case (permiso.nombre === 'Finalizar Proyecto' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Finalizar Proyecto' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;


                    case (permiso.nombre === 'Suspender Proyecto' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Suspender Proyecto' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Generar Reportes' && event==true):
                       self.form.permisos.push(12,30,29,34)
                        break;
                    case (permiso.nombre === 'Generar Reportes' && event==false):
                        forDeletion = [12,30,29,34]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Rechazar UserStory' && event==true):
                       self.form.permisos.push(12,35)
                        break;
                    case (permiso.nombre === 'Rechazar UserStory' && event==false):
                        forDeletion = [12,35]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Aprobar UserStory' && event==true):
                       self.form.permisos.push(12,35)
                        break;
                    case (permiso.nombre === 'Aprobar UserStory' && event==false):
                        forDeletion = [12,35]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Ver Actividades' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Ver Actividades' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Ver Control de Calidad' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Ver Control de Calidad' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Ver Kanban' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Ver Kanban' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Finalizar Sprint' && event==true):
                       self.form.permisos.push(12,34)
                        break;
                    case (permiso.nombre === 'Finalizar Sprint' && event==false):
                        forDeletion = [12,34]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Iniciar Sprint' && event==true):
                       self.form.permisos.push(12,34)
                        break;
                    case (permiso.nombre === 'Iniciar Sprint' && event==false):
                        forDeletion = [12,34]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Ver BurndownChart' && event==true):
                       self.form.permisos.push(12,20)
                        break;
                    case (permiso.nombre === 'Ver BurndownChart' && event==false):
                        forDeletion = [12,20]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Ver ProductBacklog' && event==true):
                       self.form.permisos.push(12)
                        break;
                    case (permiso.nombre === 'Ver ProductBacklog' && event==false):
                        forDeletion = [12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Ver SprintBacklog' && event==true):
                       self.form.permisos.push(12,20)
                        break;
                    case (permiso.nombre === 'Ver SprintBacklog' && event==false):
                        forDeletion = [12,20]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Asignar UserStorys' && event==true):
                       self.form.permisos.push(12,20)
                        break;
                    case (permiso.nombre === 'Asignar UserStorys' && event==false):
                        forDeletion = [12,20]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Reemplazar Miembro' && event==true):
                       self.form.permisos.push(12,20)
                        break;
                    case (permiso.nombre === 'Reemplazar Miembro' && event==false):
                        forDeletion = [12,20]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Agregar Miembro al Sprint' && event==true):
                       self.form.permisos.push(12,20)
                        break;
                    case (permiso.nombre === 'Agregar Miembro al Sprint' && event==false):
                        forDeletion = [12,20]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    
                    case (permiso.nombre === 'Eliminar UserStory' && event==true):
                       self.form.permisos.push(23,12,30)
                        break;
                    case (permiso.nombre === 'Eliminar UserStory' && event==false):
                       var forDeletion = [23,12,30]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Eliminar Rol Proyecto' && event==true):
                       self.form.permisos.push(15,12)
                        break;
                    case (permiso.nombre === 'Eliminar Rol Proyecto' && event==false):
                        forDeletion = [15,12]
                       self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                  
                    default:
                        console.log("..")//no debería ocurrir
                        break;
                }
                

                
                    
                },

           

            
                    
                //console.log(event)
                
            
            submit(){

                var self = this;
                var datos = {...self.form };
                
                console.log(datos);

                RolProyectoServicio.Guardar( datos ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "Guardado correcto.",
                        type: 'success'
                    })

                    window.location.href= "/definicion_proyecto/{{codigo_definicion}}/rol_proyecto/listar/";

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error.',
                        message: error,
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;

            PermisosServicio.ObtenerPermisosProyecto().then( function(resultado) {
                var aux = resultado
                
                console.log(aux)
                //aux
                aux.forEach(permiso =>{
                    permiso.check=false
                })
                console.log(aux)
                self.permisos = aux;
            });


            

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>s

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
