{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Ejecucion del Sprint 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: left;display:block;">
            <h1 class="title is-1"> Ejecución del Sprint, Iniciar - Finalizar Sprint </h1>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
            
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">
                <el-col :span="6"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="6"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="3"><div class="grid-content"> Duración </div></el-col>
                <el-col :span="9"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="6"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="6"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>
                <el-col :span="3"><div class="grid-content"> $[[ fila.dias_laborales ]] </div></el-col>
                
        
                <el-col :span="9">
                    <div class="grid-content">
                        
                        <el-button @click="cambiarEstadoSprint(fila,'En Proceso')" type="primary" icon="el-icon-video-play" default v-if="fila.estado == 'Pendiente' && permisosUsuarioProyecto.indexOf('Iniciar Sprint') != -1"> Iniciar Sprint </el-button>
                        <el-button @click="gotoKanban(fila)" type="primary" icon="el-icon-menu" default v-if="fila.estado == 'En Proceso' && permisosUsuarioProyecto.indexOf('Ver Kanban') != -1"> Tablero Kanban </el-button>
                        <el-button v-if="
                                        permisosUsuarioProyecto.indexOf(permisoVista5) != -1
                                        && fila.estado == 'En Proceso'  
                                        "
                            @click="exportarPdf(fila,{{codigo_ejecucion}})"
                            icon="el-icon-download"
                            type="warning"
                            default
                        >
                            Exportar a PDF

                        </el-button>
                        
                        <el-button @click="cambiarEstadoSprint(fila,'Terminado')" type="success" icon="el-icon-finished" default v-if="fila.estado == 'En Proceso' && permisosUsuarioProyecto.indexOf('Finalizar Sprint') != -1"> Finalizar Sprint </el-button>
                    </div>
                </el-col>

            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                tableData : [],
                permisoVista: 'Ver Kanban',// PERMISOS CAMBIAR
                permisoVista5: 'Generar Reportes',
                permisosUsuarioProyecto:[],
                userStoriesSprintBacklog:[],
            };
        },

        created(){

                this.getSprints();

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });

                
            
        },

        computed: { 

        },
        
        methods: {

            exportarPdf(fila,codigo_ejecucion){
                //window.location.href = "/sprintactualpdf/" + fila.id + "/proyecto/" + codigo_ejecucion;
                window.open("/sprintactualpdf/" + fila.id + "/proyecto/" + codigo_ejecucion,'_blank')
            },
            gotoKanban(fila){
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/kanban/";
            },

            cambiarEstadoSprint(sprint,estado){
                

                var self=this;
                var msg1 = '';
                var msg2='';
                var msg3='';
                var msg4='';
                console.log(sprint)

                UserStoryServicio.ListarUsSprintBackLog({{codigo_ejecucion}},sprint.id).then((resultado)=>{
                    self.userStoriesSprintBacklog =resultado
                    console.log("resultado",resultado)
                

                var sprintActual = {
                    id: sprint.id,
                    proyecto: sprint.proyecto.id,
                    nombre: sprint.nombre,
                    estado: sprint.estado,
                    //dias_habiles: [...sprint.dias_habiles],
                    dias_laborales: sprint.dias_laborales,

                 };
                
                switch(true){
                    case (estado === 'En Proceso'):
                        sprintActual.estado=estado;
                        msg1 = 'Desea Iniciar el Sprint. ¿Continuar?'
                        msg2 ='Activación del Sprint'
                        msg3 ='Activación Cancelada'
                        msg4='El Sprint se Inicio Correctamente'
                        //si no se recuperaron userstories mostrar un mensaje diciendo que necesitas agregar userstories al sprint para iniciarlo

                        


                        break;
                    case (estado === 'Terminado'):
                        sprintActual.estado=estado;
                        msg1 = 'Desea Finalizar el Sprint. ¿Continuar?'
                        msg2 ='Finalización del Sprint'
                        msg3 ='Finalización Cancelada'
                        msg4='El Sprint fue Finalizado Correctamente' 
                        break;
                    default:
                        console.log("El Sprint no tiene estado.")//no debería ocurrir
                        break;
                }
                
                console.log(sprintActual);


                if(resultado.length > 0){ //si en el sprint se asignaron userstories
                    this.$confirm(
                    msg1,
                    msg2,
                    {
                        confirmButtonText: 'SI',
                        cancelButtonText: 'CANCELAR',
                        type: 'info',
                        center: true,
                    }
                    )
                    .then(() => { // Opcion: ACTIVAR/REANUDAR/CANCELAR/SUSPENDER/FINALIZAR - PROYECTO
                    //si se recuperaron
                            
                        var userstory = {}
                        if(estado == 'Terminado')
                        {   //pasamos todos los userStories en estado_tablero ='Done' a estado_tablero='Control de Calidad'
                            resultado.forEach((us)=>{
                                if(us.estado_tablero == 'Done'){
                                        userStory ={
                                        id: us.id,
                                        nombre: us.nombre,
                                        valor_negocio: us.valor_negocio,
                                        prioridad: us.prioridad,
                                        valor_tecnico:us.valor_tecnico,
                                        proyecto: us.proyecto.id,
                                        estado_tablero: 'Control de Calidad'
                                    }
                                    UserStoryServicio.Editar(userStory).then(()=> {window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/control_calidad/"})
                                }else if(us.estado_tablero == 'Doing' || us.estado_tablero == 'To Do'){ //pasamos todos los userStories en estado_tablero ='Doing' a estado_tablero='To Do' y aumentamos su priorizacion
                                    userStory ={
                                        id:us.id,
                                        nombre:us.nombre,
                                        valor_negocio:10,
                                        prioridad: 10,
                                        valor_tecnico: 10,
                                        proyecto: us.proyecto.id,
                                        

                                        estado:'No Finalizado',
                                        estado_tablero: 'To Do',
                                        duracion_estimada: null,
                                        sprint : null,
                                        miembro_sprint: null,
                                        usuario: null,
                                        duracion_restante: null,
                                        porcentaje_realizado: null,
                                        horas_extras_trabajadas_us: null,
                                    }
                                    UserStoryServicio.Editar(userStory).then(()=> {window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/control_calidad/"})
                                }
                                    
                            })
                        }
                        SprintServicio.Editar( sprintActual ).then( function() {
                        self.$notify({
                            title: 'Correcto.',
                            message: msg4,
                            type: 'success'
                        });

                        window.location.reload(); //recargamos la pagina para que tome el nuevo estado el proyecto

                        }).catch( (error) => {
                            self.$notify({
                                title: 'Error.',
                                message: error,
                                type: 'error'
                            })
                        });
                        
                    })
                    .catch(() => { // Opcion: CANCELAR, 
                        this.$message({
                        type: 'info',
                        message: msg3,
                        })
                    })
                }else { //si no se asignaron
                        self.$notify({
                        title: 'Sprint sin UserStories.',
                        message: 'Debe asignar UserStories en el Sprint Planing antes de Iniciarlo',
                        type: 'warning'
                        });
                    }

                })
            },









            iniciarSprint(fila) {
                //window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/sprint_planing/";

            },

            finalizarSprint(fila) {
                //window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/sprint_planing/";

            },


            getSprints(){
                SprintServicio.ListarSprintPorProyectoEnProcesoPendiente({{codigo_ejecucion}}).then( respuesta => {
                    this.tableData = respuesta;
                });
            },

        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




