{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Listar Rol Proyecto
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/RolProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="rol_proyecto_editar" style="text-align: left;display:block;" >
            <h1 class="title is-1"> Listar Roles de Proyecto </h1>
            {% comment %} <el-button type="primary" ><i class="el-icon-circle-plus-outline" style="font-size:25px;"></i></el-button> {% endcomment %}

            
            <div class="botonesBacklog">
                

                <el-button v-if="
                                permisosUsuarioProyecto.indexOf(permisoVista4) != -1  
                                && (proyectoPendiente || proyectoActivado)
                                
                                "
                    onclick="window.location.href='/definicion_proyecto/{{codigo_definicion}}/rol_proyecto/crear/'"
                    type="primary" 
                    icon="el-icon-circle-plus-outline" 
                    default
                >
                    Crear Rol de Proyecto
                </el-button>
            </div>
            <el-row class="fila" style="text-align:center;">
                <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="6"><div class="grid-content"> Descripción </div></el-col>
                <el-col :span="6"><div class="grid-content"> Permisos </div></el-col>
                <el-col :span="2"><div class="grid-content"> Unico </div></el-col>
                <el-col :span="6"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="6"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>

                <el-col :span="6"><div class="grid-content"> 
                    <ul style="list-style-position:inside; margin:0; padding:0 10px;">
                        <li v-for="permiso in fila.permisos" style="padding:0 0 5px 0;"> <i class="el-icon-check" ></i>$[[ permiso.nombre ]] </li>
                    </ul>
                </el-col>

                <el-col :span="2"><div class="grid-content"> $[[ fila.es_unico ]] </div></el-col>

                <el-col :span="6">
                    <div class="grid-content">
                        <el-button 
                                v-if="
                                permisosUsuarioProyecto.indexOf(permisoVista2) != -1  
                                && (fila.nombre != 'ScrumMaster') && (fila.nombre != 'Developer') && (fila.nombre != 'ProductOwner')
                                && (proyectoPendiente || proyectoActivado)
                                "
                            @click="editar(fila)" 
                            type="warning" 
                            icon="el-icon-edit" 
                            default
                        >
                            Editar
                        </el-button>

                         <el-button 
                                v-if="
                                permisosUsuarioProyecto.indexOf(permisoVista3) != -1
                                && (fila.nombre != 'ScrumMaster') && (fila.nombre != 'Developer') && (fila.nombre != 'ProductOwner')
                                && (proyectoPendiente || proyectoActivado)
                                "
                        
                            @click="borrar(fila)" 
                            type="danger" 
                            icon="el-icon-delete" 
                            default
                        >
                            Eliminar
                        </el-button>
                        
                    </div>
                </el-col>

            </el-row>
        </div>
            <div v-else>
            
            </div>
        `,

        data() {
            return {
               
                tableData : [],
                permisoVista: 'Listar Rol Proyecto',// PERMISOS CAMBIAR
                permisoVista2: 'Editar Rol Proyecto',// PERMISOS CAMBIAR
                permisoVista3: 'Eliminar Rol Proyecto',// PERMISOS CAMBIAR
                permisoVista4: 'Crear Rol Proyecto',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],

                proyectoActivado:null,
                proyectoPendiente:null,
                proyectoCancelado:null,
                proyectoSuspendido:null,
                proyectoTerminado:null,

                proyectoActual: {
                    id: 0,
                    nombre: '',
                    estado: '',
                    fecha_inicio: '',
                    fecha_fin: '',
                    descripcion: '',
                },
            };
        },

        created(){
                var self=this;
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }} , {{ codigo_definicion}}).then( function(resultado) {

                    self.permisosUsuarioProyecto=resultado;
    
                });
                
                    
                this.getrolesproyecto();

                ProyectoServicio.Obtener( {{ codigo_definicion }} ).then( function(resultado) {

                    var proyecto = resultado;

                    self.proyectoActual.id = proyecto.id;
                    self.proyectoActual.nombre = proyecto.nombre;
                    self.proyectoActual.fecha_inicio = proyecto.fecha_inicio;
                    self.proyectoActual.descripcion = proyecto.descripcion;
                    self.proyectoActual.fecha_fin = proyecto.fecha_fin;
                    self.proyectoActual.estado = proyecto.estado;
                    
                    switch(self.proyectoActual.estado){
                        case 'Pendiente':
                            self.proyectoPendiente=true;
                            break;
                        case 'Activo':
                            self.proyectoActivado=true;
                            break;
                        case 'Cancelado':
                            self.proyectoCancelado=true;
                            break;
                        case 'Suspendido':
                            self.proyectoSuspendido=true;
                            break;
                        case 'Terminado':
                            self.proyectoTerminado=true;
                            break;
                        default:
                            console.log("El Proyecto no tiene estado.");//no debería ocurrir
                            break;
                    }
                    
                });

                
                
        },

        computed: { //propiedad calculada se puede usar directamente en los templates usando ex: longitud
           

        },
        
        methods: {

            editar(fila) {
                window.location.href = "/definicion_proyecto/{{codigo_definicion}}/rol_proyecto/editar/" + fila.id + "/";
            },
            
           borrar(fila) {
                // Mensaje de Confirmacion para eliminar el rol
                this.$confirm(
                'Esto eliminará permanentemente el Rol. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.
                    
                    RolProyectoServicio.Borrar( fila.id ).then( respuesta => {
                        window.location.reload();
                    }).then(() => {
                        this.$message({   
                        type: 'success',
                        message: 'El Rol fue Eliminado Correctamente',
                        })
                    }).catch( (error) => {

                        opcion = error.request.status;

                        switch(opcion){
                            case 403:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: 'Es un Rol por Defecto',
                                type: 'error',
                                });
                            break;

                            case 500:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: 'El Rol esta en Uso Actualmente',
                                type: 'error',
                                });
                            break;

                            default:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: error,
                                type: 'error',
                                });
                            break;
                        }

                     });
                        
                }).catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                });
                
            },

            getrolesproyecto(){
                RolProyectoServicio.ListarRolesPorProyecto( {{ codigo_definicion }} ).then( respuesta => {
                    this.tableData = respuesta;
                });
            },

            

        },
        mounted(){
            
        },

       
        
    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #rol_proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #rol_proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #rol_proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #rol_proyecto_editar .fila {
            box-sizing:content-box;
        }

        #rol_proyecto_editar .alternado {
            background: #eaeaea;
        } 

        .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
            }
            .detalle .subtitulo {
                color:#409EFF;
                font-weight: bold;
                font-size: 18px;
            }
            .detalle .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        

        .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
        }

        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




