{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    {% if "hola" in "foo" %}
    {{foo}}
    {% else %}
    Proyectos
    {% endif %}
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: left;display:block;">
            <h1 class="title is-1"> Listar Proyectos </h1>
            {% comment %} <el-button type="primary" ><i class="el-icon-circle-plus-outline" style="font-size:25px;"></i></el-button> {% endcomment %}

            <div class="botonesBacklog">
                

                <el-button v-if="
                                permisosUsuarioSistema.indexOf(permisoVista4) != -1  
                                "
                    onclick="window.location.href='/proyecto/crear'"
                    type="primary" 
                    icon="el-icon-circle-plus-outline" 
                    default
                >
                    Crear Proyecto
                </el-button>
            </div>
            <el-row class="fila" style="text-align:center;">
                <el-col :span="8"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="8"><div class="grid-content"> Descripcion </div></el-col>
                {% comment %} <el-col :span="4"><div class="grid-content"> Scrum Master </div></el-col> {% endcomment %}
                <el-col :span="4"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="4"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="8"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="8"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>
                {% comment %} <el-col :span="4"><div class="grid-content"> $[[scrumNombre(fila)]] </div></el-col> {% endcomment %}
                <el-col :span="4"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>

                <el-col :span="4">
                    <div class="grid-content">
                        <el-button 
                            v-if="
                                permisosUsuarioSistema.indexOf(permisoVista2) != -1
                                && (fila.estado == 'Pendiente'   || fila.estado == 'Activo'  )
                                "
                            @click="editar(fila)" 
                            type="warning" 
                            icon="el-icon-edit" 
                            default 
                        >
                        Editar Proyecto
                        </el-button>
                        
                        <el-button 
                            v-if="
                                permisosUsuarioSistema.indexOf(permisoVista3) != -1  
                                && fila.estado == 'Pendiente'  
                                "

                            @click="borrar(fila)" 
                            type="danger" 
                            icon="el-icon-delete" 
                            default
                        >
                        Eliminar Proyecto
                        </el-button>
                    </div>
                </el-col>

            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                tableData : [],
                permisoVista: 'Listar Proyecto',// PERMISOS CAMBIAR
                permisoVista2: 'Editar Proyecto',// PERMISOS CAMBIAR
                permisoVista3: 'Eliminar Proyecto',// PERMISOS CAMBIAR
                permisoVista4: 'Crear Proyecto',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[],
                nombreScrum:''
            };
        },

        created(){

                this.getproyectos();

                var self=this;  

                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });

                

                
            
        },

        computed: { 

        },
        
        methods: {
            
            // scrumNombre(fila){
                
            //     var self=this;
                
            //     MiembroServicio.ObtenerMiembroScrumMaster( fila.id  ).then( function(resultado) {
            //          self.nombreScrum= resultado.usuario.username;
            //         console.log(self.nombreScrum)
            //     });

            //     return (self.nombreScrum)
                
                
                
            // },


            editar(fila) {
                window.location.href = "/proyecto/editar/" + fila.id + "/";
            },

            borrar(fila) {
                // Mensaje de Confirmacion para eliminar el proyecto
                this.$confirm(
                'Esto eliminará permanentemente el Proyecto. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.

                    ProyectoServicio.Borrar( fila.id ).then( respuesta => {
                        window.location.reload(); //al borrar el registro recargamos la pagina actual
                    });

                    this.$message({ //muestra un mensaje de  
                    type: 'success',
                    message: 'El proyecto fue Eliminado Correctamente',
                    })
                })
                .catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                })
            },

            getproyectos(){
                ProyectoServicio.Listar().then( respuesta => {
                    this.tableData = respuesta;
                });
            },

        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
         .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
        }

        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




