{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Sprint Backlog
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
    <script src="{% static 'js/ActividadServicio.js' %}"></script>
    <script src="{% static 'js/HistorialUserStoryServicio.js' %}"></script>
    <script src="{% static 'js/HistorialEstadosUserStoryServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: center;display:block;">
         <el-dialog v-model="dialogFormVisible"  width="90%">
                <span class="tituloDialog" slot="title"> Actividades </span> 
                <div v-if="actividadesActual.length > 0 " id="proyecto_editar">
                    <el-row class="fila" style="text-align:center;">
                        <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                        <el-col :span="8"><div class="grid-content"> Descripcion </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Duracion (Hs) </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Fecha </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Sprint </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Usuario </div></el-col>
                    </el-row>

                    <el-row v-for="(fila, index) in actividadesActual" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                        <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                        <el-col :span="8"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.duracion ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.fecha ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.sprint.nombre ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.miembro.team_member.usuario.username ]] </div></el-col>

                    </el-row>
                </div>
            </el-dialog>
                
                

            <el-dialog v-model="dialogFormVisible4"  width="90%" >
                <span class="tituloDialog" slot="title"> Detalle User Story</span>                        

                <el-divider><i class="el-icon-info"></i></el-divider>
                <div class="detalle">
                    <span class="subtitulo">  Nombre: </span> <span class="valor">$[[userStoryActual.us.nombre]]  </span> <br>
                    <span class="subtitulo">  Priorización: </span> <span class="valor">$[[userStoryActual.priorizacion]]  </span> <br>
                    <span class="subtitulo">  Duración Estimada: </span> <span class="valor" v-if="userStoryActual.duracion_estimada_sprint">$[[userStoryActual.duracion_estimada_sprint]]  </span> <br>
                    <span class="subtitulo">  Usuario Asignado: </span> <span class="valor" v-if="userStoryActual.miembro_sprint">$[[userStoryActual.miembro_sprint.team_member.usuario.username]]  </span> <br>
                    <span class="subtitulo">  Sprint: </span> <span class="valor" v-if="userStoryActual.sprint">$[[userStoryActual.sprint.nombre]]  </span> <br>
                    <span class="subtitulo">  Valor Negocio: </span> <span class="valor">$[[userStoryActual.us.valor_negocio]]  </span> <br>
                    <span class="subtitulo">  Valor Técnico: </span> <span class="valor">$[[userStoryActual.us.valor_tecnico]]  </span> <br>
                    <span class="subtitulo">  Descripcion: </span> <span class="valor">$[[userStoryActual.us.descripcion]]  </span> <br>
                    <span class="subtitulo">  Estado: </span> <span class="valor">$[[userStoryActual.estado]]  </span> <br>
                    <span class="subtitulo">  Estado en Tablero: </span> <span class="valor">$[[userStoryActual.estado_tablero]]  </span> <br>
                    <span class="subtitulo">  Duración Restante: </span> <span class="valor" v-if="userStoryActual.us.duracion_restante">$[[userStoryActual.us.duracion_restante]]  </span> <br>
                    <span class="subtitulo">  Porcentaje Realizado: </span> <span class="valor" v-if="userStoryActual.us.porcentaje_realizado">$[[userStoryActual.us.porcentaje_realizado]]  </span> <br>
                    <span class="subtitulo">  Horas Trabajadas: </span> <span class="valor" v-if="userStoryActual.us.horas_trabajadas_us">$[[userStoryActual.us.horas_trabajadas_us]]  </span> <br>
                    <span class="subtitulo">  Horas Extras Trabajadas: </span> <span class="valor" v-if="userStoryActual.us.horas_extras_trabajadas_us">$[[userStoryActual.us.horas_extras_trabajadas_us]]  </span> <br>
                </div>
                <el-divider><i class="el-icon-info"></i></el-divider>    
            
            </el-dialog>


            <el-dialog v-model="dialogFormVisible5"  width="90%">
                <span class="tituloDialog" slot="title"> Historial User Story </span>

                    <el-tabs type="card">
                    <el-tab-pane label="Historial de Estimaciones">
                        
                        <el-divider><i class="el-icon-timer"></i></el-divider>
                        <div class="detalle" v-for="(item,index) in historialUsActual">
                            <span class="subtitulo">  Sprint: </span> <span class="valor">$[[item.sprint.nombre]]  </span> <br>
                            <span class="subtitulo">  Usuario: </span> <span class="valor">$[[item.miembro_sprint.team_member.usuario.username]]  </span> <br>
                            <span class="subtitulo">  Duracion Estimada: </span> <span class="valor">$[[item.duracion_estimada_sprint]]  </span> <br>
                            <span class="subtitulo">  Fecha en que se estimo: </span> <span class="valor">$[[item.fecha_estimada]]  </span> <br>
                            <span class="subtitulo">  Estado Tablero: </span> <span class="valor">$[[item.estado_tablero]]  </span> <br>
                            <span class="subtitulo">  Estado: </span> <span class="valor">$[[item.estado]]  </span> <br>
                            <span class="subtitulo">  Comentario - Motivo Rechazo: </span> <span class="valor">$[[item.motivo_comentario]]  </span> <br>
                            <span class="subtitulo">  Horas Trabajadas en el Sprint: </span> <span class="valor">$[[item.horas_trabajadas_sprint]]  </span> <br>
                            <el-divider><i class="el-icon-timer"></i></el-divider>
                            
                        </div>


                    </el-tab-pane>
                    
                    <el-tab-pane label="Historial Estados en Tablero">

                        <el-divider><i class="el-icon-timer"></i></el-divider>
                        <div class="detalle" v-for="(item,index) in historialEstadosUsActual">
                            <span class="subtitulo">  Sprint: </span> <span class="valor">$[[item.sprint.nombre]]  </span> <br>
                            <span class="subtitulo">  Usuario: </span> <span class="valor">$[[item.miembro_sprint.team_member.usuario.username]]  </span> <br>
                            <span class="subtitulo">  Estado Tablero: </span> <span class="valor">$[[item.estado_tablero]]  </span> <br>
                            <span class="subtitulo">  Fecha Cambio Estado: </span> <span class="valor">$[[item.fecha_cambio_estado]]  </span> <br>
                            <span class="subtitulo">  Hora Cambio Estado: </span> <span class="valor">$[[item.hora_cambio_estado]]  </span> <br>
                            <el-divider><i class="el-icon-timer"></i></el-divider>
                        </div>

                    </el-tab-pane>
                    
                </el-tabs>
                
            </el-dialog>

            <h1 class="tituloPrincipal"> Sprint Backlog </h1>
            

            <div class="botonesBacklog">
                {% comment %} <el-button v-if="
                                permisosUsuarioProyecto.indexOf(permisoVista4) != -1 
                                && proyectoActivado 
                                "
                    icon="el-icon-circle-plus-outline" 
                    type="primary"
                    default 
                    onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/userstory/crear'"
                >
       
                    Crear UserStory

                </el-button> {% endcomment %}

                <a target="_blank" href="{% url 'reporte_sb' codigo_sprint codigo_ejecucion%}">
                    <el-button v-if="
                                    permisosUsuarioProyecto.indexOf(permisoVista5) != -1 
                                    "
                        icon="el-icon-download"
                        type="success"
                        default
                    >
                        Exportar a PDF

                    </el-button>
                </a>

                <el-button
                        type="danger"
                        icon="el-icon-refresh-left"
                        @click="clearFilter"
                        default
                    >
                        Resetear Filtros

                </el-button>
            </div>
            

            <el-table 
                ref="filterTable"
                :data="tableData"
                style="width: 100%"
                stripe
                border
                fit
                
                
            >
                <el-table-column 
                    prop="us.nombre"
                    label="Nombre"
                    sortable
                    width="180"
                    column-key="us.nombre"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="priorizacion"
                    label="Priorizacion"
                    sortable
                    width="180"
                    column-key="priorizacion"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="estado"
                    label="Estado"
                    sortable
                    width="180"
                    column-key="estado"
                    :filters="[
                        { text: 'Pendiente', value: 'Pendiente' },
                        { text: 'Asignado', value: 'Asignado' },
                        { text: 'Finalizado', value: 'Finalizado' },
                        { text: 'No Finalizado', value: 'No Finalizado' },
                    ]"
                    :filter-method="filterHandler"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="estado_tablero"
                    label="Estado Tablero"
                    sortable
                    width="180"
                    column-key="estado_tablero"
                    :filters="[
                        { text: 'To Do', value: 'To Do' },
                        { text: 'Doing', value: 'Doing' },
                        { text: 'Done', value: 'Done' },
                        { text: 'Control de Calidad', value: 'Control de Calidad' },
                    ]"
                    :filter-method="filterHandler"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="duracion_estimada_sprint"
                    label="Duracion Estimada"
                    sortable
                    width="180"
                    column-key="duracion_estimada_sprint"
                    class-name="filaBacklog"
                    align="center"
                />

                <el-table-column
                    prop="miembro_sprint.team_member.usuario.username"
                    label="Asignado a:"
                    sortable
                    width="180"
                    column-key="miembro_sprint.team_member.usuario.username"
                    class-name="filaBacklog"
                    align="center"
                />

                <el-table-column label="Opciones" class-name="filaBacklog"
                header-align="center">
                    <template #default="scope">
                        
                        <el-button
                            icon="el-icon-info"
                            type="primary"
                            medium
                            default
                            @click="recuperarUS4(scope.row, scope.$index)"
                        >
                            

                        </el-button>

                        <el-button
                            icon="el-icon-timer"
                            type="success"
                            medium
                            default
                            @click="recuperarHistorialUs(scope.row, scope.$index)"
                        >
                            Historial

                        </el-button>


                        <el-button v-if="permisosUsuarioProyecto.indexOf(permisoVista3) != -1"
                            icon="el-icon-document"
                            type="info"
                            medium
                            default
                            @click="recuperarUS1(scope.row, scope.$index)"
                        >
                            Actividades

                        </el-button>
                        
                        {% comment %} <el-button v-if="
                                        (scope.row.estado == 'Pendiente') 
                                        && permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                        && proyectoActivado
                                        "
                            
                            type="warning" icon="el-icon-edit" 
                            medium
                            default 
                            @click="editar(scope.row)" 
                        >
                        </el-button>

                        <el-button v-if="
                                        scope.row.estado == 'Pendiente' 
                                        && permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                        && proyectoActivado
                                        "
                            
                            type="danger" 
                            icon="el-icon-delete" 
                            medium
                            default
                            @click="borrar(scope.row)" 
                            >
                        </el-button> {% endcomment %}

                    </template>
                </el-table-column>

            </el-table>
            
        

            {% comment %} <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">

                <el-col :span="6"><div class="grid-content"> Nombre del UserStory</div></el-col>
                <el-col :span="3"><div class="grid-content"> Priorizacion </div></el-col>
                <el-col :span="3"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="3"><div class="grid-content"> Estado en Tablero </div></el-col>
                <el-col :span="3"><div class="grid-content"> Duración Estimada(Hs)</div></el-col>
                <el-col :span="6"><div class="grid-content"> Miembro Asignado </div></el-col>
                
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }"  >
                
               
                <el-col :span="6"><div class="grid-content"> $[[ fila.us.nombre ]] </div></el-col>
                <el-col :span="3"><div class="grid-content"> $[[ fila.priorizacion ]] </div></el-col>
                <el-col :span="3"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>
                <el-col :span="3"><div class="grid-content"> $[[ fila.estado_tablero ]] </div></el-col>
                <el-col :span="3"><div class="grid-content"> $[[ fila.duracion_estimada_sprint ]] </div></el-col>
                <el-col :span="6"><div class="grid-content"> $[[ fila.miembro_sprint.team_member.usuario.username ]] </div></el-col>
 
            </el-row> {% endcomment %}
            
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {

                tableData : [],

                permisoVista: 'Ver SprintBacklog',// PERMISOS CAMBIAR
                permisoVista2: 'Editar UserStory',// PERMISOS CAMBIAR
                permisoVista3: 'Ver Actividades',
                permisoVista4: 'Crear UserStory',
                permisoVista5: 'Generar Reportes',
                permisosUsuarioProyecto:[],


                dialogFormVisible: false,
                dialogFormVisible4: false,
                dialogFormVisible5: false,
                actividadesActual:[],
                userStoryActual:null,
                historialUsActual :[],
                historialEstadosUsActual :[],


                proyectoActivado:null,
                proyectoPendiente:null,
                proyectoCancelado:null,
                proyectoSuspendido:null,
                proyectoTerminado:null,

                proyectoActual: {
                    id: 0,
                    nombre: '',
                    estado: '',
                    fecha_inicio: '',
                    fecha_fin: '',
                    descripcion: '',
                },


                
                
            };
        },

        created(){

                //this.getUserStories();

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });


                HistorialUserStoryServicio.HistorialSprintBacklog({{codigo_sprint}}).then((resultado)=>{
                    self.tableData=resultado
                    console.log(self.tableData)
                });

                ProyectoServicio.Obtener( {{ codigo_ejecucion }} ).then( function(resultado) {

                    var proyecto = resultado;

                    self.proyectoActual.id = proyecto.id;
                    self.proyectoActual.nombre = proyecto.nombre;
                    self.proyectoActual.fecha_inicio = proyecto.fecha_inicio;
                    self.proyectoActual.descripcion = proyecto.descripcion;
                    self.proyectoActual.fecha_fin = proyecto.fecha_fin;
                    self.proyectoActual.estado = proyecto.estado;
                    
                    switch(self.proyectoActual.estado){
                        case 'Pendiente':
                            self.proyectoPendiente=true;
                            break;
                        case 'Activo':
                            self.proyectoActivado=true;
                            break;
                        case 'Cancelado':
                            self.proyectoCancelado=true;
                            break;
                        case 'Suspendido':
                            self.proyectoSuspendido=true;
                            break;
                        case 'Terminado':
                            self.proyectoTerminado=true;
                            break;
                        default:
                            console.log("El Proyecto no tiene estado.");//no debería ocurrir
                            break;
                    }
                    
                });
                

                    


             

                
            
        },

        computed: { 

        },
        
        methods: {
            
            submit(){
                var self=this;
                const aux1 = [...self.usToPut];
                const aux2 =[...self.obj];
                aux1.forEach(index =>{
                    const datos = {...aux2[index]}
                    console.log(datos)
                    UserStoryServicio.Editar(datos).then((resultado)=>{
                        self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                        })
                    }).catch( (error) => {
                        self.$notify({
                            title: 'Error.',
                            //message: error,
                            message:error,
                            type: 'error'
                        })
                    })
                })
                window.location.reload();
            },
            test(fila) {
                var self=this
                console.log(self.usToPut)
                console.log(self.obj)
            },

            editar(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/editar/" + fila.id + "/";
            },


            getUserStories(){
                UserStoryServicio.ListarUsSprintPlaning({{codigo_ejecucion}}).then( respuesta => {
                    this.tableData = respuesta;
                    this.obj=respuesta;
                });
            },

            resetDateFilter() {
                this.$refs.filterTable.clearFilter('date')
            },
            clearFilter() {
                this.$refs.filterTable.clearFilter()
            },
            formatter(row, column) {
                return row.address
            },
            filterTag(value, row) {
                return row.tag === value
            },
            filterHandler(value, row, column) {
                const property = column['property']
                return row[property] === value
            },


            recuperarHistorialUs(us){ //historial userstory
                var self = this;
                var us_id = us.us.id
                self.dialogFormVisible5 = true;
                HistorialUserStoryServicio.HistorialUserStoryPorUs(us_id).then((resultado)=>{
                    self.historialUsActual = resultado
                    console.log("el historial recuperado es: ", self.historialUsActual)
                })
                HistorialEstadosUserStoryServicio.HistorialEstadosUserStoryPorUs(us_id).then((resultado)=>{
                    self.historialEstadosUsActual = resultado
                    console.log("el historial recuperado es: ", self.historialEstadosUsActual)
                })
            },

            recuperarUS4(historial){ //detalle userstory
                var self=this;
                self.dialogFormVisible4 = true;
                console.log(historial)
                self.userStoryActual = historial
                console.log(self.userStoryActual)
            },

            recuperarUS1(us){ //actividades
                var self=this;
                self.dialogFormVisible = true;
                var us_id = us.us.id
                ActividadServicio.ListarActividadPorUs(us_id).then((resultado)=>{
                    self.actividadesActual =resultado;
                    console.log(self.actividadesActual)
                })
            },

        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
           .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
            }
            .detalle .subtitulo {
                color:#409EFF;
                font-weight: bold;
                font-size: 18px;
            }
            .detalle .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
        }

        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }

            
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




