{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Tablero kanban
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load coordenadas_bdc %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
    <script src="{% static 'js/NotaServicio.js' %}"></script>
    <script src="{% static 'js/ActividadServicio.js' %}"></script>
    <script src="{% static 'js/HistorialUserStoryServicio.js' %}"></script>
    <script src="{% static 'js/HistorialEstadosUserStoryServicio.js' %}"></script>
    

    
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],

        template:`
        
        
           <div>
            <div >
                
                <div class="column">
                
                    <h1 class="title is-1">Tablero Kanban</h1>
                    
                </div>
            </div>
                        <el-dialog v-model="dialogFormVisible"  width="90%">
                            <span class="tituloDialog" slot="title"> Actividades </span> 
                            <el-tabs type="card" @tab-click="handleClick">
                                <el-tab-pane v-if="userStoryActual.estado_tablero == 'Doing' && ( {{user.id}} == usuarioActualId )" label="Cargar Actividad">
                                    <el-form :model="actividad">
                                        <el-form-item label="Nombre" :label-width="formLabelWidth">
                                            <el-input v-model="actividad.nombre" autocomplete="off"></el-input>
                                        </el-form-item>
                                        <el-form-item label="Descripcion" :label-width="formLabelWidth">
                                            <el-input v-model="actividad.descripcion" autocomplete="off"></el-input>
                                        </el-form-item>

                                        <!-- <el-form-item label="Fecha" :label-width="formLabelWidth">
                                            <input v-model="actividad.fecha" type="date" id="start" name="trip-start"
                                            
                                            v-bind:min="startDate" v-bind:max="endDate" required>
                                        </el-form-item> -->

                                        
                                        <el-form-item  label="Fecha" :label-width="formLabelWidth">
                                            

                                            <el-date-picker  v-model="actividad.fecha" type="date" placeholder="Ingrese una Fecha" 
                                                format="YYYY/MM/DD"
                                                value-format="YYYY-MM-DD">
                                        </el-form-item>



                                        

                                        

                                        <el-form-item label="Duracion" :label-width="formLabelWidth" >
                                            <el-input-number v-model="actividad.duracion" :min="1" :max="100"  />
                                        </el-form-item>
                                    </el-form>

                                    <span class="dialog-footer">
                                        <el-button @click="dialogFormVisible = false">Cancelar</el-button>
                                        <el-button type="primary" @click="submit1(actividad)">Guardar</el-button>
                                    </span>

                                    {% comment %} <template #footer>
                                    
                                    </template> {% endcomment %}

                                </el-tab-pane>
                                
                                <el-tab-pane v-if="( {{user.id}} == usuarioActualId || {{user.id}} == scrumMasterUserId )" label="Ver Actividades" >
                                    <div v-if="actividadesActual.length > 0 " id="proyecto_editar">
                                        <el-row class="fila" style="text-align:center;">
                                            <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                                            <el-col :span="8"><div class="grid-content"> Descripcion </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> Duracion (Hs) </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> Fecha </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> Sprint </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> Usuario </div></el-col>
                                        </el-row>

                                        <el-row v-for="(fila, index) in actividadesActual" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                                            <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                                            <el-col :span="8"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> $[[ fila.duracion ]] </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> $[[ fila.fecha ]] </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> $[[ fila.sprint.nombre ]] </div></el-col>
                                            <el-col :span="3"><div class="grid-content"> $[[ fila.miembro.team_member.usuario.username ]] </div></el-col>

                                        </el-row>
                                    </div>
                                

                                </el-tab-pane>
                                
                            </el-tabs>
                            
                        </el-dialog>

                        <el-dialog v-model="dialogFormVisible2" width="90%">
                            <span class="tituloDialog" slot="title"> Notas </span>  
                            <el-tabs type="card">
                                <el-tab-pane v-if="{{user.id}} == usuarioActualId" label="Cargar Nota">
                                    <el-form :model="form">
                                        <el-form-item label="Agregar Nota al UserStory"  :label-width="formLabelWidth">
                                            <el-input
                                            v-model="form.nota"
                                            autosize
                                            type="textarea"
                                            placeholder="Ingrese una nota para el userstory"
                                        />
                                        </el-form-item>
                                    </el-form>

                                   <span class="dialog-footer">
                                    <el-button @click="dialogFormVisible2 = false">Cancelar</el-button>
                                    <el-button type="primary" @click="submit2(form)">Guardar</el-button>
                                    </span>


                                </el-tab-pane>
                                
                                <el-tab-pane v-if="( {{user.id}} == usuarioActualId || {{user.id}} == scrumMasterUserId )"  label="Ver Notas">
                                    <div class="detalle" v-if="notasActual.length>0">
                                        <ul v-for="(fila,index) in notasActual">
                                            <li><span class="subtitulo"> Nota $[[index+1]]: </span> <span class="valor">  $[[fila.nota]] </span></li>
                                            <el-divider><i class="el-icon-edit"></i></el-divider>
                                            <br>
                                        </ul>
                                    </div>

                                </el-tab-pane>
                                
                            </el-tabs>
                            
                            
                            
                        </el-dialog>

                        

                        <el-dialog v-model="dialogFormVisible4"  width="90%" >
                            <span class="tituloDialog" slot="title"> Detalle User Story</span>                        

                            <el-divider><i class="el-icon-info"></i></el-divider>
                            <div class="detalle">
                                <span class="subtitulo">  Nombre: </span> <span class="valor">$[[userStoryActual.nombre]]  </span> <br>
                                <span class="subtitulo">  Priorización: </span> <span class="valor">$[[userStoryActual.priorizacion]]  </span> <br>
                                <span class="subtitulo">  Duración Estimada: </span> <span class="valor">$[[userStoryActual.duracion_estimada]]  </span> <br>
                                <span class="subtitulo">  Usuario Asignado: </span> <span class="valor">$[[userStoryActual.miembro_sprint.team_member.usuario.username]]  </span> <br>
                                <span class="subtitulo">  Sprint: </span> <span class="valor">$[[userStoryActual.sprint.nombre]]  </span> <br>
                                <span class="subtitulo">  Valor Negocio: </span> <span class="valor">$[[userStoryActual.valor_negocio]]  </span> <br>
                                <span class="subtitulo">  Valor Técnico: </span> <span class="valor">$[[userStoryActual.valor_tecnico]]  </span> <br>
                                <span class="subtitulo">  Descripcion: </span> <span class="valor">$[[userStoryActual.descripcion]]  </span> <br>
                                <span class="subtitulo">  Estado: </span> <span class="valor">$[[userStoryActual.estado]]  </span> <br>
                                <span class="subtitulo">  Estado en Tablero: </span> <span class="valor">$[[userStoryActual.estado_tablero]]  </span> <br>
                                <span class="subtitulo">  Duración Restante: </span> <span class="valor">$[[userStoryActual.duracion_restante]]  </span> <br>
                                <span class="subtitulo">  Porcentaje Realizado: </span> <span class="valor">$[[userStoryActual.porcentaje_realizado]]  </span> <br>
                                <span class="subtitulo">  Horas Trabajadas: </span> <span class="valor">$[[userStoryActual.horas_trabajadas_us]]  </span> <br>
                                <span class="subtitulo">  Horas Extras Trabajadas: </span> <span class="valor">$[[userStoryActual.horas_extras_trabajadas_us]]  </span> <br>
                            </div>
                            <el-divider><i class="el-icon-info"></i></el-divider>    
                        
                        </el-dialog>


                        <el-dialog v-model="dialogFormVisible5"  width="90%">
                            <span class="tituloDialog" slot="title"> Historial User Story </span>

                             <el-tabs type="card">
                                <el-tab-pane label="Historial de Estimaciones">
                                    
                                    <el-divider><i class="el-icon-timer"></i></el-divider>
                                    <div class="detalle" v-for="(item,index) in historialUsActual">
                                        <span class="subtitulo">  Sprint: </span> <span class="valor">$[[item.sprint.nombre]]  </span> <br>
                                        <span class="subtitulo">  Usuario: </span> <span class="valor">$[[item.miembro_sprint.team_member.usuario.username]]  </span> <br>
                                        <span class="subtitulo">  Duracion Estimada: </span> <span class="valor">$[[item.duracion_estimada_sprint]]  </span> <br>
                                        <span class="subtitulo">  Fecha en que se estimo: </span> <span class="valor">$[[item.fecha_estimada]]  </span> <br>
                                        <span class="subtitulo">  Estado Tablero: </span> <span class="valor">$[[item.estado_tablero]]  </span> <br>
                                        <span class="subtitulo">  Estado: </span> <span class="valor">$[[item.estado]]  </span> <br>
                                        <span class="subtitulo">  Comentario - Motivo Rechazo: </span> <span class="valor">$[[item.motivo_comentario]]  </span> <br>
                                        <span class="subtitulo">  Horas Trabajadas en el Sprint: </span> <span class="valor">$[[item.horas_trabajadas_sprint]]  </span> <br>
                                        <el-divider><i class="el-icon-timer"></i></el-divider>
                                        
                                    </div>


                                </el-tab-pane>
                                
                                <el-tab-pane label="Historial Estados en Tablero">

                                    <el-divider><i class="el-icon-timer"></i></el-divider>
                                    <div class="detalle" v-for="(item,index) in historialEstadosUsActual">
                                        <span class="subtitulo">  Sprint: </span> <span class="valor">$[[item.sprint.nombre]]  </span> <br>
                                        <span class="subtitulo">  Usuario: </span> <span class="valor">$[[item.miembro_sprint.team_member.usuario.username]]  </span> <br>
                                        <span class="subtitulo">  Estado Tablero: </span> <span class="valor">$[[item.estado_tablero]]  </span> <br>
                                        <span class="subtitulo">  Fecha Cambio Estado: </span> <span class="valor">$[[item.fecha_cambio_estado]]  </span> <br>
                                        <span class="subtitulo">  Hora Cambio Estado: </span> <span class="valor">$[[item.hora_cambio_estado]]  </span> <br>
                                        <el-divider><i class="el-icon-timer"></i></el-divider>
                                    </div>

                                </el-tab-pane>
                                
                            </el-tabs>
                            
                        </el-dialog>

                       


                        

            <div class="columns test">
                <div id="To Do" class="column is-one- color1"  v-on:dragover="allowDrop" v-on:drop="drop">
                    <h1 class="subtitle is-2">To Do</h1>
                    
                    <div v-for="(item,index) in userStoriesToDo" v-bind:id="item.id" class="card" draggable="true" v-on:dragstart="drag($event,item)">
                        
                        <header class="card-header" style="cursor:pointer;" >
                                <p class="card-header-title">
                                    $[[item.nombre]] 
                                </p>
                        </header>

                        <div class="card-content">
                          <div class="content">
                                <p>Duracion Estimada: $[[item.duracion_estimada]] hs</p>
                                <p>Horas Trabajadas : $[[item.horas_trabajadas_us]] hs </p>
                                <p v-if="item.duracion_restante != null">Duracion Restante : $[[item.duracion_restante]] hs </p>
                                <el-progress type="dashboard" :percentage="item.porcentaje_realizado" width="100">
                                        <template #default="{ percentage }">
                                        <span class="percentage-value">$[[percentage]]%</span>
                                        <span class="percentage-label"> realizado</span>
                                    </template>
                                </el-progress>
                                <p>Horas Extras Trabajadas: $[[item.horas_extras_trabajadas_us]] hs </p>
                                <p>Usuario Asignado: $[[item.miembro_sprint.team_member.usuario.username]] </p>
                                <p>Descripcion: $[[item.descripcion]]</p>
                                
                                
                          </div>
                        </div>

                        <footer class="card-footer">
                                                                
                            <el-button  type="text" v-on:click="recuperarUS1(item,'To Do')" class="card-footer-item"
                                >Actividad</el-button
                            >

                            <el-button type="text" @click="recuperarUS2(item)" class="card-footer-item"
                                >Nota</el-button
                            >

                            <!-- <el-button icon="el-icon-upload" @click="recuperarUS3(item)" class="card-footer-item"
                            ></el-button
                            > -->

                            <el-button  type="text" @click="recuperarHistorialUs(item)" class="card-footer-item"
                                >Historial</el-button
                            >

                            <el-button icon="el-icon-info" @click="recuperarUS4(item)" class="card-footer-item"
                                ></el-button
                            >
                           
                        </footer>
                           

                    </div>
                      
                </div>

                <div id="Doing" class="column color2 " v-on:dragover="allowDrop" v-on:drop="drop">
                    <h1 class="subtitle is-2">Doing</h1>
                    
                    
                    <div v-for="(item,index) in userStoriesDoing" v-bind:id="item.id" class="card" draggable="true" v-on:dragstart="drag($event,item)">
                        
                        <header class="card-header" style="cursor:pointer;" >
                                <p class="card-header-title">
                                    $[[item.nombre]] 
                                </p>
                        </header>

                        <div class="card-content">
                          <div class="content">
                                <p>Duracion Estimada: $[[item.duracion_estimada]] hs</p>
                                <p>Horas Trabajadas : $[[item.horas_trabajadas_us]] hs </p>
                                <p v-if="item.duracion_restante != null">Duracion Restante : $[[item.duracion_restante]] hs </p>
                                <el-progress type="dashboard" :percentage="item.porcentaje_realizado" width="100">
                                        <template #default="{ percentage }">
                                        <span class="percentage-value">$[[percentage]]%</span>
                                        <span class="percentage-label"> realizado</span>
                                    </template>
                                </el-progress>
                                <p>Horas Extras Trabajadas: $[[item.horas_extras_trabajadas_us]] hs </p>
                                <p>Usuario Asignado: $[[item.miembro_sprint.team_member.usuario.username]] </p>
                                <p>Descripcion: $[[item.descripcion]]</p>
                                
                                
                          </div>
                        </div>

                        <footer class="card-footer">
                            
                            <el-button type="text" v-on:click="recuperarUS1(item,'Doing')" class="card-footer-item"
                                >Actividad</el-button
                            >

                            <el-button type="text" @click="recuperarUS2(item)" class="card-footer-item"
                                >Nota</el-button
                            >

                            <!-- <el-button icon="el-icon-upload" @click="recuperarUS3(item)" class="card-footer-item"
                            ></el-button
                            > -->

                            <el-button  type="text" @click="recuperarHistorialUs(item)" class="card-footer-item"
                                >Historial</el-button
                            >

                            <el-button icon="el-icon-info" @click="recuperarUS4(item)" class="card-footer-item"
                                ></el-button
                            >
                           
                        </footer>
                           

                    </div>
                
                </div>

                <div id="Done" class="column color3" v-on:dragover="allowDrop" v-on:drop="drop">
                    <h1 class="subtitle is-2">Done</h1>
                    
                    
                    <div v-for="(item,index) in userStoriesDone" v-bind:id="item.id" class="card" draggable="true" v-on:dragstart="drag($event,item)">
                        
                        <header class="card-header" style="cursor:pointer;" >
                                <p class="card-header-title">
                                    $[[item.nombre]] 
                                </p>
                        </header>

                        <div class="card-content">
                          <div class="content">
                                <p>Duracion Estimada: $[[item.duracion_estimada]] hs</p>
                                <p>Horas Trabajadas : $[[item.horas_trabajadas_us]] hs </p>
                                <p v-if="item.duracion_restante != null">Duracion Restante : $[[item.duracion_restante]] hs </p>
                                <el-progress type="dashboard" :percentage="item.porcentaje_realizado" width="100">
                                        <template #default="{ percentage }">
                                        <span class="percentage-value">$[[percentage]]%</span>
                                        <span class="percentage-label"> realizado</span>
                                    </template>
                                </el-progress>
                                <p>Horas Extras Trabajadas: $[[item.horas_extras_trabajadas_us]] hs </p>
                                <p>Usuario Asignado: $[[item.miembro_sprint.team_member.usuario.username]] </p>
                                <p>Descripcion: $[[item.descripcion]]</p>
                                
                                
                          </div>
                        </div>

                        <footer class="card-footer">
                            
                            <el-button type="text" v-on:click="recuperarUS1(item,'Done')" class="card-footer-item"
                                >Actividad</el-button
                            >

                            <el-button type="text" @click="recuperarUS2(item)" class="card-footer-item"
                                >Nota</el-button
                            >

                            <!-- <el-button icon="el-icon-upload" @click="recuperarUS3(item)" class="card-footer-item"
                            ></el-button
                            > -->

                            <el-button  type="text" @click="recuperarHistorialUs(item)" class="card-footer-item"
                                >Historial</el-button
                            >

                            <el-button icon="el-icon-info" @click="recuperarUS4(item)" class="card-footer-item"
                                ></el-button
                            >
                            
                           
                        </footer>
                           

                    </div>
                </div>

                {% comment %} <div id="Control de Calidad" class="column color4" v-on:dragover="allowDrop" v-on:drop="drop">
                    <h1 class="subtitle is-2">QA</h1>
                    
                    
                    <div v-for="(item,index) in userStoriesQA" v-bind:id="item.id" class="card" draggable="true" v-on:dragstart="drag($event,item)">
                        
                        <header class="card-header" style="cursor:pointer;" >
                                <p class="card-header-title">
                                    $[[item.nombre]] 
                                </p>
                        </header>

                        <div class="card-content">
                          <div class="content">
                                <p>Duracion Estimada: $[[item.duracion_estimada]] hs</p>
                                <p>Horas Trabajadas : $[[item.horas_trabajadas_us]] hs </p>
                                <p v-if="item.duracion_restante != null">Duracion Restante : $[[item.duracion_restante]] hs </p>
                                <el-progress type="dashboard" :percentage="item.porcentaje_realizado" width="100">
                                        <template #default="{ percentage }">
                                        <span class="percentage-value">$[[percentage]]%</span>
                                        <span class="percentage-label"> realizado</span>
                                    </template>
                                </el-progress>
                                <p>Horas Extras Trabajadas: $[[item.horas_extras_trabajadas_us]] hs </p>
                                <p>Usuario Asignado: $[[item.miembro_sprint.team_member.usuario.username]] </p>
                                <p>Descripcion: $[[item.descripcion]]</p>
                                
                                
                          </div>
                        </div>

                        <footer class="card-footer">
                            
                            <el-button type="text" v-on:click="recuperarUS1(item,'Control de Calidad')" class="card-footer-item"
                                >Actividad</el-button
                            >

                            <el-button type="text" @click="recuperarUS2(item)" class="card-footer-item"
                                >Nota</el-button
                            >

                            <!-- <el-button icon="el-icon-upload" @click="recuperarUS3(item)" class="card-footer-item"
                            ></el-button
                            > -->

                            <el-button  type="text" @click="recuperarHistorialUs(item)" class="card-footer-item"
                                >Historial</el-button
                            >

                            <el-button icon="el-icon-info" @click="recuperarUS4(item)" class="card-footer-item"
                                ></el-button
                            >
                           
                        </footer>
                           

                    </div>
                </div> {% endcomment %}

            </div>
        </div>
        
        

     
       
        `,

        data() {
            return {
                activeName: 'tablero',
                idus:0,
                estado_tablero:'',
                nombre:"",

                userStoriesToDo:[],
                userStoriesDoing:[],
                userStoriesDone:[],
                userStoriesQA:[],

                obj:{
                    id:0,
                    nombre:'',
                    valor_negocio:0 ,
                    prioridad: 0,
                    valor_tecnico: 0,
                    proyecto: 0,
                    estado_tablero:'',
                    
                },


                dialogFormVisible: false,
                dialogFormVisible2: false,
                dialogFormVisible3: false,
                dialogFormVisible4: false,
                dialogFormVisible5: false,
                dialogFormVisible6: false,

                actividad: {
                    nombre: '',
                    descripcion:'',
                    duracion:1,
                    sprint:parseInt('{{codigo_sprint}}'),
                    us:0,
                    miembro:0,
                    fecha:'',
                    estado_tablero: '',
                },

                form: {
                    nota: '',
                    us: 0,
                },

                formLabelWidth: '120px',
                columna: '',
                startDate:'',
                endDate:'',

                actividadesActual:[],
                notasActual:[],
                userStoryActual:null,
                historialUsActual :[],
                historialEstadosUsActual :[],


                scrumMasterUserId: -1,
                usuarioActualId: -1

              

            
                 

            };
        },

        created(){

            this.getUs();
            

            
                
                
               
               
                              
        },

        computed: { //propiedad calculada se puede usar directamente en los templates usando ex: longitud
            

        },
        
        methods: {

          getScrumMasterID(id_proyecto){
              
          },

          getUs(){
              var self = this;

              UserStoryServicio.ListarUsSprintBackLogPorEstadoEnTablero({{codigo_ejecucion}},{{codigo_sprint}},'To Do').then((resultado)=>{
                self.userStoriesToDo=resultado
                console.log("us recuperados:", self.userStoriesToDo)
            })

            UserStoryServicio.ListarUsSprintBackLogPorEstadoEnTablero({{codigo_ejecucion}},{{codigo_sprint}},'Doing').then((resultado)=>{
                self.userStoriesDoing=resultado
            })

            UserStoryServicio.ListarUsSprintBackLogPorEstadoEnTablero({{codigo_ejecucion}},{{codigo_sprint}},'Done').then((resultado)=>{
                self.userStoriesDone=resultado
            })

            UserStoryServicio.ListarUsSprintBackLogPorEstadoEnTablero({{codigo_ejecucion}},{{codigo_sprint}},'Control de Calidad').then((resultado)=>{
                self.userStoriesQA=resultado
            })
          },
         allowDrop:function (ev) {
                ev.preventDefault();
                //console.log("hola")
            },

            drag:function (ev,userstory) {
                var self=this;
                console.log(ev.target.id) //al sostener recuperamos el id del elemento :D
                
                if(userstory.miembro_sprint.team_member.usuario.id == parseInt('{{user.id}}')){
                    console.log("puedes mover el US")
                    self.obj.id=ev.target.id;
                    self.obj.nombre=userstory.nombre;
                    self.obj.valor_negocio=userstory.valor_negocio;
                    self.obj.valor_tecnico=userstory.valor_tecnico;
                    self.obj.prioridad=userstory.prioridad;
                    self.obj.proyecto=userstory.proyecto.id;
                    self.columna=ev.target.id
                    ev.dataTransfer.setData("text", ev.target.id);
                } 
                else{
                    console.log("no tienes permiso para mover este US")
                    self.$notify({
                            title: 'No tienes Permiso.',
                            message: "Este userstory no esta asignado a tu usuario",
                            //message:'Debe Completar todos los Campos para Crear un userstory',
                            type: 'error'
                        })
                }
                    
                


                //console.log(self.obj.id)
                
                //console.log("equisde")
            },

            drop:function (ev) { //al cambiar estado
                var self=this;
                //console.log(ev)
                console.log(ev.target.id) //al soltar recuperamos el id del emento
                self.obj.estado_tablero=ev.target.id
                self.actividad.estado_tablero = ev.target.id
                var datos= {...self.obj}
                console.log("datos a enviar",datos)
                
                if(ev.target.id == "Done"){
                    self.columna=ev.target.id
                    UserStoryServicio.Editar(datos).then((resultado)=>{
                        self.$notify({
                            title: 'Correcto.',
                            message: "Cambio de Estado a: "+datos.estado_tablero,
                            type: 'success'
                        })

                     
                        
                        HistorialUserStoryServicio.HistorialUserStoryPorUs_Sprint(resultado.id,resultado.sprint).then((historialUs)=>{
                            console.log("El historial obtenido es",historialUs[0])

                            var historialUsPut ={
                                id: historialUs[0].id,
                                us: historialUs[0].us.id,
                                sprint: historialUs[0].sprint.id,
                                miembro_sprint: historialUs[0].miembro_sprint.id,
                                duracion_estimada_sprint: historialUs[0].duracion_estimada_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            //console.log("historial por actualizar: ", historialUsPut)
                            
                            HistorialUserStoryServicio.Editar(historialUsPut).then(()=>{
                                console.log("El historial se edito correctamente!!!!!")
                            })

                        })

                            var historialUsPost ={
                                
                                us: resultado.id,
                                sprint: resultado.sprint,
                                miembro_sprint: resultado.miembro_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            console.log("historial por guardar: ", historialUsPost)
                            
                            HistorialEstadosUserStoryServicio.Guardar(historialUsPost).then(()=>{
                                console.log("El historial se guardo correctamente!!!!!")
                                window.location.reload();
                            })
                                 


                    }).catch((error)=>{
                        /*self.$notify({
                            title: 'Error.',
                            message: error,
                            //message:'Debe Completar todos los Campos para Crear un userstory',
                            type: 'error'
                        })*/
                    })
                    console.log("Cambiamos estado a:"+ datos.estado_tablero)
                }else if(ev.target.id == "To Do"){
                    UserStoryServicio.Editar(datos).then((resultado)=>{
                        self.$notify({
                            title: 'Correcto.',
                            message: "Cambio de Estado a: "+datos.estado_tablero,
                            type: 'success'
                        })

                     
                        
                        HistorialUserStoryServicio.HistorialUserStoryPorUs_Sprint(resultado.id,resultado.sprint).then((historialUs)=>{
                            console.log("El historial obtenido es",historialUs[0])

                            var historialUsPut ={
                                id: historialUs[0].id,
                                us: historialUs[0].us.id,
                                sprint: historialUs[0].sprint.id,
                                miembro_sprint: historialUs[0].miembro_sprint.id,
                                duracion_estimada_sprint: historialUs[0].duracion_estimada_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            //console.log("historial por actualizar: ", historialUsPut)
                            
                            HistorialUserStoryServicio.Editar(historialUsPut).then(()=>{
                                console.log("El historial se edito correctamente!!!!!")
                            })

                        })

                            var historialUsPost ={
                                
                                us: resultado.id,
                                sprint: resultado.sprint,
                                miembro_sprint: resultado.miembro_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            console.log("historial por guardar: ", historialUsPost)
                            
                            HistorialEstadosUserStoryServicio.Guardar(historialUsPost).then(()=>{
                                console.log("El historial se guardo correctamente!!!!!")
                                window.location.reload();
                            })
                        
                        

                    })
                    console.log("Cambiamos estado a:"+ datos.estado_tablero)
                }else if(ev.target.id == "Doing"){
                    
                    UserStoryServicio.Editar(datos).then((resultado)=>{
                        self.$notify({
                            title: 'Correcto.',
                            message: "Cambio de Estado a: "+datos.estado_tablero,
                            type: 'success'
                        })

                     
                        
                        HistorialUserStoryServicio.HistorialUserStoryPorUs_Sprint(resultado.id,resultado.sprint).then((historialUs)=>{
                            console.log("El historial obtenido es",historialUs[0])

                            var historialUsPut ={
                                id: historialUs[0].id,
                                us: historialUs[0].us.id,
                                sprint: historialUs[0].sprint.id,
                                miembro_sprint: historialUs[0].miembro_sprint.id,
                                duracion_estimada_sprint: historialUs[0].duracion_estimada_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            //console.log("historial por actualizar: ", historialUsPut)
                            
                            HistorialUserStoryServicio.Editar(historialUsPut).then(()=>{
                                console.log("El historial se edito correctamente!!!!!")
                            })

                        })

                            var historialUsPost ={
                                
                                us: resultado.id,
                                sprint: resultado.sprint,
                                miembro_sprint: resultado.miembro_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            console.log("historial por guardar: ", historialUsPost)
                            
                            HistorialEstadosUserStoryServicio.Guardar(historialUsPost).then(()=>{
                                console.log("El historial se guardo correctamente!!!!!")
                                window.location.reload();
                            })
                        
                        

                    })
                    console.log("Cambiamos estado a:"+ datos.estado_tablero)
                }else if(ev.target.id == "Control de Calidad"){
                    
                    UserStoryServicio.Editar(datos).then((resultado)=>{
                        self.$notify({
                            title: 'Correcto.',
                            message: "Cambio de Estado a: "+datos.estado_tablero,
                            type: 'success'
                        })

                     
                        
                        HistorialUserStoryServicio.HistorialUserStoryPorUs_Sprint(resultado.id,resultado.sprint).then((historialUs)=>{
                            console.log("El historial obtenido es",historialUs[0])

                            var historialUsPut ={
                                id: historialUs[0].id,
                                us: historialUs[0].us.id,
                                sprint: historialUs[0].sprint.id,
                                miembro_sprint: historialUs[0].miembro_sprint.id,
                                duracion_estimada_sprint: historialUs[0].duracion_estimada_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            //console.log("historial por actualizar: ", historialUsPut)
                            
                            HistorialUserStoryServicio.Editar(historialUsPut).then(()=>{
                                console.log("El historial se edito correctamente!!!!!")
                            })

                        })

                            var historialUsPost ={
                                
                                us: resultado.id,
                                sprint: resultado.sprint,
                                miembro_sprint: resultado.miembro_sprint,
                                estado_tablero: datos.estado_tablero
                            }

                            console.log("historial por guardar: ", historialUsPost)
                            
                            HistorialEstadosUserStoryServicio.Guardar(historialUsPost).then(()=>{
                                console.log("El historial se guardo correctamente!!!!!")
                                window.location.reload();
                            })
                        
                        

                    })
                    console.log("Cambiamos estado a:"+ datos.estado_tablero)
                }

                //console.log("ID DEL US",self.obj.id)
                //console.log("estado_Tablero",self.obj.estado_tablero)
                ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                ev.target.appendChild(document.getElementById(data));
                //console.log("mundo")
            },
            submit1(actividad){

                var self=this;
                self.dialogFormVisible = false;
                console.log(actividad)
                var datos = {...actividad}
                console.log(datos)
                ActividadServicio.Guardar(datos).then((resultado)=>{
                    self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                    })
                    window.location.reload();

                }).catch((error)=>{
                    var msg1 = 'Error'
                    console.log("datos tablero", datos.estado_tablero)
                    if(datos.estado_tablero == 'To Do')
                    {
                        msg1 = 'No se pueden Cargar Actividades en To Do'
                        self.$notify({
                            title: 'No Permitido.',
                            message: msg1,
                            type: 'error'
                        })
                    }
                    
                    if(datos.estado_tablero == 'Done')
                    {
                        msg1 = 'No se pueden Cargar Actividades en Done'
                        self.$notify({
                            title: 'No Permitido.',
                            message: msg1,
                            type: 'error'
                        })
                    }
                    
                })
            },

            submit2(nota){
                var self=this;
                self.dialogFormVisible2 = false;
                //console.log(us)
                //console.log(nota)
                var datos = {...nota}
                console.log(datos)
                NotaServicio.Guardar(datos).then((resultado)=>{
                    self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                    })
                    
                     //despues de guardar reseteamos la variable nota, para que en el form no aparezca lo anterior
                }).catch((error)=>{
                    self.$notify({
                            title: 'Error.',
                            message: 'No se pueden Cargar Notas en To Do',
                            
                            type: 'error'
                        })
                })

            },

            recuperarUS1 : function(us,estado_tablero){ //uso esto por que esta bugueado element plus, el modal se  carga con fondo negro, EQUISDE, si lo meto en el v-for
                var self=this;
                self.userStoryActual = us
                var estadoTableroActual = estado_tablero
                console.log("al ir a actividad", estadoTableroActual)
                


                MiembroServicio.ObtenerMiembroScrumMaster({{codigo_ejecucion}}).then((response)=>{
                
                  self.scrumMasterUserId = response.usuario.id
                  self.usuarioActualId = us.miembro_sprint.team_member.usuario.id

                  console.log("ids",self.scrumMasterUserId)
                    console.log(parseInt('{{user.id}}'))
                    if( (us.miembro_sprint.team_member.usuario.id == parseInt('{{user.id}}') ) || (self.scrumMasterUserId == parseInt('{{user.id}}')) )
                        {
                            self.dialogFormVisible = true;
                            self.actividad.us=us.id
                            self.actividad.miembro=us.miembro_sprint.id
                            self.actividad.estado_tablero =estadoTableroActual
                            console.log(us)
                            console.log(self.actividad)
                            self.startDate = us.sprint.fecha_inicio
                            console.log(self.startDate)
                            self.endDate = us.sprint.fecha_fin
                            console.log(self.endDate)
                            console.log(self.fecha)

                            var us_id = self.actividad.us
                            ActividadServicio.ListarActividadPorUs(us_id).then((resultado)=>{
                                self.actividadesActual =resultado;
                                console.log(self.actividadesActual)
                            })
                        }else{
                            console.log("No puedes cargar Actividades en este us")
                        }
                  
              })

                
                    


                

                
                
            },

            recuperarUS2(us){
                var self=this;
                 MiembroServicio.ObtenerMiembroScrumMaster({{codigo_ejecucion}}).then((response)=>{
                
                    self.scrumMasterUserId = response.usuario.id
                    self.usuarioActualId = us.miembro_sprint.team_member.usuario.id

                    console.log("ids",self.scrumMasterUserId)
                    console.log(parseInt('{{user.id}}'))

                    
                    if( (us.miembro_sprint.team_member.usuario.id == parseInt('{{user.id}}') ) || (self.scrumMasterUserId == parseInt('{{user.id}}')) )
                        {
                        self.dialogFormVisible2 = true;
                        self.form.us=us.id
                        console.log(us)
                        //console.log(actividad)
                        var us_id = us.id
                        NotaServicio.ListarNotaPorUs(us_id).then((resultado)=>{
                            self.notasActual =resultado;
                            console.log(self.notasActual)
                        })
                    }else{
                        console.log("No puedes cargar notas en este us")
                    }
                    
                 })
                
            },

            recuperarUS3(us){
                var self=this;
                if(us.miembro_sprint.team_member.usuario.id == parseInt('{{user.id}}')){
                    self.dialogFormVisible3 = true;
                    
                }else{
                    console.log("No")
                }
            },

            recuperarUS4(us){
                var self=this;
                self.dialogFormVisible4 = true;
                console.log(us)
                self.userStoryActual = us
                console.log(self.userStoryActual)
            },

            recuperarUSactual(us){
                var self=this;
                console.log(us)
                self.userStoryActual = us
                console.log(self.userStoryActual)
            },

            recuperarHistorialUs(us){
                var self = this;
                var us_id = us.id
                self.dialogFormVisible5 = true;
                HistorialUserStoryServicio.HistorialUserStoryPorUs(us_id).then((resultado)=>{
                    self.historialUsActual = resultado
                    console.log("el historial recuperado es: ", self.historialUsActual)
                })
                HistorialEstadosUserStoryServicio.HistorialEstadosUserStoryPorUs(us_id).then((resultado)=>{
                    self.historialEstadosUsActual = resultado
                    console.log("el historial recuperado es: ", self.historialEstadosUsActual)
                })
            },

            recuperarHistorialEstadosUs(us){
                var self = this;
                var us_id = us.id
                self.dialogFormVisible6 = true;
                HistorialEstadosUserStoryServicio.HistorialEstadosUserStoryPorUs(us_id).then((resultado)=>{
                    self.historialEstadosUsActual = resultado
                    console.log("el historial recuperado es: ", self.historialEstadosUsActual)
                })
            },

            

            handleClick(tab, event) {
                var self=this;
                var pestanhaActual = tab.props.label
                if(pestanhaActual == 'Ver Actividades')
                {
                    console.log("Estas en Ver Actividades")
                 /*   var us_id = self.actividad.us
                    ActividadServicio.ListarActividadPorUs(us_id).then((resultado)=>{
                        self.actividadesActual =resultado;
                        console.log(self.actividadesActual)
                    })
                */

                }
                //console.log(event)
                //console.log(tab.$vnode.key)  
            },

        },
        mounted(){
            var self = this;

            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
            .tituloDialog{
                color:rgb(85, 172, 215);
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
                font-size: 35px;
                font-weight: bold;
            }
            .detalle .subtitulo {
                color:rgb(85, 172, 215);
                font-weight: bold;
                font-size: 18px;
            }
            .detalle .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
            .column{
                    word-break: break-all;
                    word-wrap: break-word;
                    overflow:hidden;
                    padding:50px;
                    box-sizing: border-box;
                }

            .color1 { 
                background-color:#d75555;                
            }

            .color4 { 
                background-color:rgb(85, 172, 215);                
            }

            .color3 { 
                background-color:rgb(95, 215, 85);                
            }

            .color2 { 
                background-color:#FFFF66;                
            }
            
            .test .column {
                margin:20px;
                min-height:80vh;
                {% comment %} box-shadow: 0px 0px 5px 2px #555; {% endcomment %}
                border-radius: 10px;
                font-size: 10px;
            }

            .card {
                box-shadow: 0px 0px 5px 2px #555;
                border-radius: 10px;
            }

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

            .subtitle {
                color:white;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

            #proyecto_editar .fila .el-col:first-of-type{
                border-left: 1px solid lightgray;
            }

            #proyecto_editar .el-col{
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
             }
        
            #proyecto_editar .fila:last-of-type .el-col {
                border-bottom: 1px solid lightgray;
            }

            #proyecto_editar .fila {
                box-sizing:content-box;
            }

            #proyecto_editar .alternado {
                background: #eaeaea;
            } 
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}





