{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Control de Calidad
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
    <script src="{% static 'js/NotaServicio.js' %}"></script>
    <script src="{% static 'js/ActividadServicio.js' %}"></script>
    <script src="{% static 'js/HistorialUserStoryServicio.js' %}"></script>
    <script src="{% static 'js/HistorialEstadosUserStoryServicio.js' %}"></script>
    
    
    

    
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],

        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar">

            <el-dialog v-model="dialogFormVisible"  width="90%">
                <span class="tituloDialog" slot="title"> Actividades </span> 
                <div v-if="actividadesActual.length > 0 " id="proyecto_editar">
                    <el-row class="fila" style="text-align:center;">
                        <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                        <el-col :span="8"><div class="grid-content"> Descripcion </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Duracion (Hs) </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Fecha </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Sprint </div></el-col>
                        <el-col :span="3"><div class="grid-content"> Usuario </div></el-col>
                    </el-row>

                    <el-row v-for="(fila, index) in actividadesActual" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                        <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                        <el-col :span="8"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.duracion ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.fecha ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.sprint.nombre ]] </div></el-col>
                        <el-col :span="3"><div class="grid-content"> $[[ fila.miembro.team_member.usuario.username ]] </div></el-col>

                    </el-row>
                </div>
            </el-dialog>
                
                

            <el-dialog v-model="dialogFormVisible4"  width="90%" >
                <span class="tituloDialog" slot="title"> Detalle User Story</span>                        

                <el-divider><i class="el-icon-info"></i></el-divider>
                <div class="detalle">
                    <span class="subtitulo">  Nombre: </span> <span class="valor">$[[userStoryActual.nombre]]  </span> <br>
                    <span class="subtitulo">  Priorización: </span> <span class="valor">$[[userStoryActual.priorizacion]]  </span> <br>
                    <span class="subtitulo">  Duración Estimada: </span> <span class="valor">$[[userStoryActual.duracion_estimada]]  </span> <br>
                    <span class="subtitulo">  Usuario Asignado: </span> <span class="valor">$[[userStoryActual.miembro_sprint.team_member.usuario.username]]  </span> <br>
                    <span class="subtitulo">  Sprint: </span> <span class="valor">$[[userStoryActual.sprint.nombre]]  </span> <br>
                    <span class="subtitulo">  Valor Negocio: </span> <span class="valor">$[[userStoryActual.valor_negocio]]  </span> <br>
                    <span class="subtitulo">  Valor Técnico: </span> <span class="valor">$[[userStoryActual.valor_tecnico]]  </span> <br>
                    <span class="subtitulo">  Descripcion: </span> <span class="valor">$[[userStoryActual.descripcion]]  </span> <br>
                    <span class="subtitulo">  Estado: </span> <span class="valor">$[[userStoryActual.estado]]  </span> <br>
                    <span class="subtitulo">  Estado en Tablero: </span> <span class="valor">$[[userStoryActual.estado_tablero]]  </span> <br>
                    <span class="subtitulo">  Duración Restante: </span> <span class="valor">$[[userStoryActual.duracion_restante]]  </span> <br>
                    <span class="subtitulo">  Porcentaje Realizado: </span> <span class="valor">$[[userStoryActual.porcentaje_realizado]]  </span> <br>
                    <span class="subtitulo">  Horas Trabajadas: </span> <span class="valor">$[[userStoryActual.horas_trabajadas_us]]  </span> <br>
                    <span class="subtitulo">  Horas Extras Trabajadas: </span> <span class="valor">$[[userStoryActual.horas_extras_trabajadas_us]]  </span> <br>
                </div>
                <el-divider><i class="el-icon-info"></i></el-divider>    
            
            </el-dialog>


            <el-dialog v-model="dialogFormVisible5"  width="90%">
                <span class="tituloDialog" slot="title"> Historial User Story </span>

                    <el-tabs type="card">
                    <el-tab-pane label="Historial de Estimaciones">
                        
                        <el-divider><i class="el-icon-timer"></i></el-divider>
                        <div class="detalle" v-for="(item,index) in historialUsActual">
                            <span class="subtitulo">  Sprint: </span> <span class="valor">$[[item.sprint.nombre]]  </span> <br>
                            <span class="subtitulo">  Usuario: </span> <span class="valor">$[[item.miembro_sprint.team_member.usuario.username]]  </span> <br>
                            <span class="subtitulo">  Duracion Estimada: </span> <span class="valor">$[[item.duracion_estimada_sprint]]  </span> <br>
                            <span class="subtitulo">  Fecha en que se estimo: </span> <span class="valor">$[[item.fecha_estimada]]  </span> <br>
                            <span class="subtitulo">  Estado Tablero: </span> <span class="valor">$[[item.estado_tablero]]  </span> <br>
                            <span class="subtitulo">  Estado: </span> <span class="valor">$[[item.estado]]  </span> <br>
                            <span class="subtitulo">  Comentario - Motivo Rechazo: </span> <span class="valor">$[[item.motivo_comentario]]  </span> <br>
                            <span class="subtitulo">  Horas Trabajadas en el Sprint: </span> <span class="valor">$[[item.horas_trabajadas_sprint]]  </span> <br>
                            <el-divider><i class="el-icon-timer"></i></el-divider>
                            
                        </div>


                    </el-tab-pane>
                    
                    <el-tab-pane label="Historial Estados en Tablero">

                        <el-divider><i class="el-icon-timer"></i></el-divider>
                        <div class="detalle" v-for="(item,index) in historialEstadosUsActual">
                            <span class="subtitulo">  Sprint: </span> <span class="valor">$[[item.sprint.nombre]]  </span> <br>
                            <span class="subtitulo">  Usuario: </span> <span class="valor">$[[item.miembro_sprint.team_member.usuario.username]]  </span> <br>
                            <span class="subtitulo">  Estado Tablero: </span> <span class="valor">$[[item.estado_tablero]]  </span> <br>
                            <span class="subtitulo">  Fecha Cambio Estado: </span> <span class="valor">$[[item.fecha_cambio_estado]]  </span> <br>
                            <span class="subtitulo">  Hora Cambio Estado: </span> <span class="valor">$[[item.hora_cambio_estado]]  </span> <br>
                            <el-divider><i class="el-icon-timer"></i></el-divider>
                        </div>

                    </el-tab-pane>
                    
                </el-tabs>
                
            </el-dialog>

            <el-tabs v-model="activeName" >
            
            <el-tab-pane label="Control de Calidad" name="segundo">

                <!-- aca haces un listado de los us que recuperaste en la variable userStoriesQA,
                MIRAR  EL EJEMPLO DE INICIAR_SPRINT ES LO MISMO ACA -->
                    
                <!-- necesitas el this.confirm para que salgan la ventanita de confrimar, ver el cu iniciar_sprint - listar -->

                <h1 class="title is-1">Control de Calidad</h1>


                <el-row class="fila" style="text-align:center;">
                    <el-col :span="5"><div class="grid-content"> Nombre del UserStory </div></el-col>
                    <el-col :span="5"><div class="grid-content"> Comentarios-Motivo de Rechazo </div></el-col>
                    <el-col :span="14"><div class="grid-content"> Opciones </div></el-col>
                </el-row>

                <el-row v-for="(fila, index) in userStoriesQA"  v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                    <el-col :span="5"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>

                    <el-col :span="5">
                        <div class="grid-content">
                            <el-input v-model="comentario_motivo[index]" placeholder="Ingrese un comentario" autocomplete="off"></el-input> 
                        </div>
                    </el-col>
                            
                    <el-col :span="14">
                        <div class="grid-content">
                            
                            <el-button v-if=" 
                                            permisosUsuarioProyecto.indexOf(permisoVista3) != -1
                                            && proyectoActivado
                                            "
                                        @click="aprobar(fila,index)" 
                                        type="success" 
                                        icon="el-icon-success"
                            >
                                Aprobar

                            </el-button>

                            <el-button v-if=" 
                                            permisosUsuarioProyecto.indexOf(permisoVista4) != -1
                                            && proyectoActivado
                                            "
                                        @click="rechazar(fila,index)" 
                                        type="danger" 
                                        icon="el-icon-error"
                            >
                                Rechazar

                            </el-button>
                           
                            <el-button 
                                @click="recuperarUS4(fila,index)" 
                                type="primary" 
                                icon="el-icon-info"
                            >

                                Detalles UserStory

                            </el-button>

                            <el-button 
                                @click="recuperarHistorialUs(fila,index)"
                                type="warning" 
                                icon="el-icon-timer"
                            >
                                Historial UserStory
                            </el-button>
                            
                            <el-button v-if=" 
                                            permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                            && proyectoActivado
                                            "
                                        @click="recuperarUS1(fila,index)" 
                                        type="info" 
                                        icon="el-icon-document"
                            >
                                Actividades
                            </el-button>
                        </div>
                    </el-col>

                </el-row>
                


            </el-tab-pane>

            <el-tab-pane label="Release" name="tercero">

                
                
                <h1 class="title is-1">Release</h1>

                <el-row class="fila" style="text-align:center;">
                    <el-col :span="6"><div class="grid-content"> Nombre UserStory </div></el-col>
                    <el-col :span="6"><div class="grid-content"> Descripcion </div></el-col>
                    <el-col :span="6"><div class="grid-content"> Comentario </div></el-col>
                    <el-col :span="6"><div class="grid-content"> Opciones </div></el-col>
                    
                </el-row>

                <el-row v-for="(fila, index) in userStoriesRelease"  v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                    <el-col :span="6"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                    <el-col :span="6"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>
                    <el-col :span="6"><div class="grid-content"> $[[ fila.motivo_comentario ]] </div></el-col>
                    <el-col :span="6">
                        <div class="grid-content">
                            <el-button @click="recuperarUS4(fila,index)" type="primary" icon="el-icon-info ">Detalles UserStory</el-button>
                            <el-button @click="recuperarHistorialUs(fila,index)" type="warning" icon="el-icon-timer ">Historial UserStory</el-button>
                            <el-button v-if=" 
                                            permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                            && proyectoActivado
                                            "
                                        @click="recuperarUS1(fila,index)" 
                                        type="info" 
                                        icon="el-icon-document"
                            >
                                Actividades
                            </el-button>
                        </div>
                    </el-col>
                            


                </el-row>
                
                </el-tab-pane>
        </div>
     
       
        `,

        data() {
            return {
                activeName: 'segundo', //que ventana va estar activa por defecto
                
                userStoriesQA:[], //recuperas los us en qa en este array
                userStoriesRelease:[],
                permisoVista: 'Ver Control de Calidad',// PERMISOS CAMBIAR
                permisoVista2: 'Ver Actividades',// PERMISOS CAMBIAR
                permisoVista3: 'Aprobar UserStory',// PERMISOS CAMBIAR
                permisoVista4: 'Rechazar UserStory',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],
                comentario_motivo : [],

                dialogFormVisible: false,
                dialogFormVisible4: false,
                dialogFormVisible5: false,
                actividadesActual:[],
                userStoryActual:null,
                historialUsActual :[],
                historialEstadosUsActual :[],


                proyectoActivado:null,
                proyectoPendiente:null,
                proyectoCancelado:null,
                proyectoSuspendido:null,
                proyectoTerminado:null,

                proyectoActual: {
                    id: 0,
                    nombre: '',
                    estado: '',
                    fecha_inicio: '',
                    fecha_fin: '',
                    descripcion: '',
                },
            


                 

            };
        },

        created(){

            var self=this;


            //recuperas los user y guardas en un array para iterar con el v-for en el html

            UserStoryServicio.ListarUsPorProyectoQA({{codigo_ejecucion}},'Control de Calidad').then((resultado)=>{
                self.userStoriesQA=resultado
                console.log("us recuperados:", self.userStoriesQA) //vez que recuperaste en consola
            })
            UserStoryServicio.ListarUsPorProyectoRealese({{codigo_ejecucion}}).then((resultado)=>{
                self.userStoriesRelease=resultado
                console.log("us recuperados:", self.userStoriesRelease) //vez que recuperaste en consola
            })

            
            PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                self.permisosUsuarioProyecto=resultado;
            });


            ProyectoServicio.Obtener( {{ codigo_ejecucion }} ).then( function(resultado) {

                    var proyecto = resultado;

                    self.proyectoActual.id = proyecto.id;
                    self.proyectoActual.nombre = proyecto.nombre;
                    self.proyectoActual.fecha_inicio = proyecto.fecha_inicio;
                    self.proyectoActual.descripcion = proyecto.descripcion;
                    self.proyectoActual.fecha_fin = proyecto.fecha_fin;
                    self.proyectoActual.estado = proyecto.estado;
                    
                    switch(self.proyectoActual.estado){
                        case 'Pendiente':
                            self.proyectoPendiente=true;
                            break;
                        case 'Activo':
                            self.proyectoActivado=true;
                            break;
                        case 'Cancelado':
                            self.proyectoCancelado=true;
                            break;
                        case 'Suspendido':
                            self.proyectoSuspendido=true;
                            break;
                        case 'Terminado':
                            self.proyectoTerminado=true;
                            break;
                        default:
                            console.log("El Proyecto no tiene estado.");//no debería ocurrir
                            break;
                    }
                    
                });

                        
               
               
                              
        },

        computed: { 
            

        },
        
        methods: {

            aprobar(us,index){ //esta funcion le pasas al boton 'Aprobar' html

                
                var self=this;
                var msg1 = '¿Desea aprobar el UserStory?';
                var msg2 ='Operación Realizada Correctamente';
                var msg3 ='Operación Cancelada';
                console.log(us)

                var datos = {
                    id:us.id,
                    nombre:us.nombre,
                    valor_negocio:us.valor_negocio,
                    prioridad: us.prioridad,
                    valor_tecnico: us.valor_tecnico,
                    proyecto: us.proyecto.id,
                    estado:'Finalizado',
                    motivo_comentario: self.comentario_motivo[index],
                    estado_qa: 'Aprobado',
                }

                var actividad = { //se guarda una actividad sin duracion
                    nombre: 'Aprobación de User Story '+ us.nombre,
                    descripcion: self.comentario_motivo[index],
                    duracion:0,
                    sprint: us.sprint.id,
                    us:us.id,
                    miembro:us.miembro_sprint.id,
                    fecha : new Date().toISOString().slice(0, 10),
                    estado_tablero : 'Control de Calidad',
                }

                

                console.log("datos a enviar:",datos)
                console.log("actividad sin duracion:",actividad)
                

                this.$confirm(
                   
                    msg1,
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'info',
                    center: true,
                }
                )
                .then(() => {
                    HistorialUserStoryServicio.HistorialUserStoryPorUs_Sprint(us.id,us.sprint.id).then((historialUs)=>{
                    console.log("El historial obtenido es",historialUs[0])

                    var historialUsPut ={
                        id: historialUs[0].id,
                        us: historialUs[0].us.id,
                        sprint: historialUs[0].sprint.id,
                        miembro_sprint: historialUs[0].miembro_sprint.id,
                        duracion_estimada_sprint: historialUs[0].duracion_estimada_sprint,

                        motivo_comentario : self.comentario_motivo[index],
                        estado_tablero: 'Control de Calidad',
                        estado: 'Finalizado'
                    }

                    console.log("historial por actualizar: ", historialUsPut)
                    
                    HistorialUserStoryServicio.Editar(historialUsPut).then(()=>{
                        console.log("El historial se edito correctamente!!!!!")
                    })

                    }) 

                    UserStoryServicio.Editar(datos).then( function() {

                        console.log(actividad)
                        ActividadServicio.Guardar(actividad).then(()=>{ window.location.reload();})
                        
                        self.$notify({
                            title: 'Correcto.',
                            message: msg2,
                            type: 'success',
                            
                        });
                        
                        //window.location.reload(); //recargamos la pagina para que tome el nuevo estado el proyecto

                        }).catch( (error) => {
                            self.$notify({
                                title: 'Error.',
                                message: error,
                                type: 'error'
                            })
                        });
                    
                     })
                    .catch(() => { // Opcion: CANCELAR, 
                        this.$message({
                        type: 'info',
                        message: msg3,
                        })
                    })
                
            },

            rechazar(us,index){  //esta funcion le pasas al boton 'Rechazar' html
                var self=this;
                var msg1 = '¿Desea rechazar el UserStory?';
                var msg2 ='Operación Realizada Correctamente';
                var msg3 ='Operación Cancelada';
                console.log(us)

               
                var datos = {
                    id:us.id,
                    nombre:us.nombre,
                    valor_negocio:10,
                    prioridad: 10,
                    valor_tecnico: 10,
                    proyecto: us.proyecto.id,
                    

                    estado:'No Finalizado',
                    estado_tablero: 'To Do',
                    motivo_comentario: self.comentario_motivo[index],
                    estado_qa: 'Rechazado',

                    duracion_estimada: null,
                    sprint : null,
                    miembro_sprint: null,
                    usuario: null,
                    duracion_restante: null,
                    porcentaje_realizado: null,
                    horas_extras_trabajadas_us: null,
                }
                

                 var actividad = { //se guarda una actividad sin duracion
                    nombre: 'Rechazo de User Story '+ us.nombre,
                    descripcion: self.comentario_motivo[index],
                    duracion:0,
                    sprint: us.sprint.id,
                    us:us.id,
                    miembro:us.miembro_sprint.id,
                    fecha : new Date().toISOString().slice(0, 10),
                    estado_tablero : 'Control de Calidad',
                }

                

                console.log("datos a enviar:",datos)
                console.log("actividad sin duracion:",actividad)
                

                this.$confirm(
                   
                    msg1,
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'info',
                    center: true,
                }
                )
                .then(() => {
                 HistorialUserStoryServicio.HistorialUserStoryPorUs_Sprint(us.id,us.sprint.id).then((historialUs)=>{
                    console.log("El historial obtenido es",historialUs[0])

                    var historialUsPut ={
                        id: historialUs[0].id,
                        us: historialUs[0].us.id,
                        sprint: historialUs[0].sprint.id,
                        miembro_sprint: historialUs[0].miembro_sprint.id,
                        duracion_estimada_sprint: historialUs[0].duracion_estimada_sprint,

                        motivo_comentario : self.comentario_motivo[index],
                        estado_tablero: 'Control de Calidad',
                        estado: 'No Finalizado'
                    }

                    console.log("historial por actualizar: ", historialUsPut)
                    
                    HistorialUserStoryServicio.Editar(historialUsPut).then(()=>{
                        console.log("El historial se edito correctamente!!!!!")
                    })

                    }) 
                    console.log("datos ->>>>: ",datos)

                    ActividadServicio.Guardar(actividad)
                    
                    UserStoryServicio.Editar(datos).then( function() {

                        console.log(actividad)
                        
                            self.$notify({
                            title: 'Correcto.',
                            message: msg2,
                            type: 'success',
                            })

                            window.location.reload();
                        
                        

                        }).catch( (error) => {
                            self.$notify({
                                title: 'Error.',
                                message: error,
                                type: 'error'
                            })
                        });
                    
                     })
                    .catch(() => { // Opcion: CANCELAR, 
                        this.$message({
                        type: 'info',
                        message: msg3,
                        })
                    })


            },
            
            recuperarHistorialUs(us){ //historial userstory
                var self = this;
                var us_id = us.id
                self.dialogFormVisible5 = true;
                HistorialUserStoryServicio.HistorialUserStoryPorUs(us_id).then((resultado)=>{
                    self.historialUsActual = resultado
                    console.log("el historial recuperado es: ", self.historialUsActual)
                })
                HistorialEstadosUserStoryServicio.HistorialEstadosUserStoryPorUs(us_id).then((resultado)=>{
                    self.historialEstadosUsActual = resultado
                    console.log("el historial recuperado es: ", self.historialEstadosUsActual)
                })
            },

            recuperarUS4(us){ //detalle userstory
                var self=this;
                self.dialogFormVisible4 = true;
                console.log(us)
                self.userStoryActual = us
                console.log(self.userStoryActual)
            },

            recuperarUS1(us){ //actividades
                var self=this;
                self.dialogFormVisible = true;
                var us_id = us.id
                ActividadServicio.ListarActividadPorUs(us_id).then((resultado)=>{
                    self.actividadesActual =resultado;
                    console.log(self.actividadesActual)
                })
            },

            
                        


        },
        mounted(){
            var self = this;

            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
            .tituloDialog{
                color:rgb(85, 172, 215);
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
                font-size: 35px;
                font-weight: bold;
            }
            .detalle .subtitulo {
                color:rgb(85, 172, 215);
                font-weight: bold;
                font-size: 18px;
            }
            .detalle .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

            .subtitle {
                color:white;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

            #proyecto_editar .fila .el-col:first-of-type{
                border-left: 1px solid lightgray;
            }

            #proyecto_editar .el-col{
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
             }
        
            #proyecto_editar .fila:last-of-type .el-col {
                border-bottom: 1px solid lightgray;
            }

            #proyecto_editar .fila {
                box-sizing:content-box;
            }

            #proyecto_editar .alternado {
                background: #eaeaea;
            } 
        
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}





