{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Inicio
{% endblock %}

{% block contenido %}
    {{ block.super }}
    

    <div>
      <h1> Prueba de Pantalla de Ejemplo y Prueba </h1>
    </div>

{% endblock %}
