{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Editar Horas Laborales 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js'%}"></script>
    <script src="{% static 'js/PermisosServicio.js'%}"></script>
    <script src="{% static 'js/MiembroServicio.js'%}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js'%}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" style='display:block;'>
       
            <el-row>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
                <el-col :sm='24' :md='12'>
                    <h1 class="tituloPrincipal"> Editar Horas Laborales </h1>
                    
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Horas Laborales por Día" >
                            <el-input-number v-model="form.horas_laborales" :min="1" :max="24"  />
                        </el-form-item>

                        
                        <el-button type="primary" @click="submit" default> Guardar </el-button>


                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
   
        `,

        data() {
            return {
                

                form: {
                    id: 0,
                    horas_laborales: 0,
                    team_member: 0,
                    sprint: 0,
                },

                
                permisoVista: 'Agregar Miembro al Sprint',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[]
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });
            
        },
        methods: {
            submit(){
                var self = this;

                var miembrosprint = {...self.form };
                
                console.log(miembrosprint)
                MiembroSprintServicio.Editar( miembrosprint ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "Miembro del Sprint Editado Correctamente.",
                        type: 'success'
                    });

                    window.location.href="/ejecucion_proyecto/{{ codigo_ejecucion }}/sprint/listar/"

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error al Editar Miembro Sprint',
                        message: error,
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;

            MiembroSprintServicio.Obtener( {{ codigo_miembro_sprint }} ).then( function(resultado) {

                var miembroSprintActual = resultado;
                console.log(miembroSprintActual)

                self.form.id = miembroSprintActual.id;
                self.form.horas_laborales = miembroSprintActual.horas_laborales;
                self.form.team_member = miembroSprintActual.team_member.id;
                self.form.sprint = miembroSprintActual.sprint.id;
                
                
            });

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        
    .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
    }
        

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
