{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Agregar Miembros al Sprint
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" style="width: 50%; float:left">
        {% comment %} <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group> {% endcomment %}
            <span class="tituloDialog" slot="title"> Agregar Miembro</span>
            
            <el-form
                :model="form"
                ref="form"
                label-width="120px" 
                
                class="demo-dynamic"
                >

                <el-form-item
                    v-for="(miembro, index) in form.miembros"
                    :key="miembro.key"
                    :prop="'miembros.' + index + '.value'"
                    :rules="{
                    required: true, message: 'Agregue los campos para miembro', trigger: 'blur'
                    }"
                >
                    <el-divider><i class="el-icon-user"></i></el-divider>
                  <span  class="subtitulo2" slot="label"><i class="el-icon-user"></i>Miembro $[[index]] del Sprint</span>
                  <br> 
                   
                        <p class="subtitulo">
                            Seleccione un miembro que trabajará en este sprint:
                            <el-select v-model="form.miembros[index].team_member" placeholder="Seleccionar Miembro del Proyecto">
                                <el-option
                                    v-for="item in miembrosProyecto"
                                    :key="item.id"
                                    :label="item.usuario.username"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select>
                        </p>

                        

                        <p class="subtitulo">
                            Ingrese las horas laborales diarias:
                            <el-input-number v-model="form.miembros[index].horas_laborales"  :min="1" :max="24"/>
                        </p>
                        
                    
                    <el-button @click.prevent="resetearMiembro(miembro)">Resetear</el-button>
                
                </el-form-item>


                <el-form-item>
                    <el-button type="primary" @click="submit()">Guardar</el-button>
                    <el-button @click="addMiembro">Nuevo Miembro</el-button>
                    <el-divider><i class="el-icon-user"></i></el-divider>
                </el-form-item>


            </el-form>
            
        </div>
        <div v-else>
            
        </div>
        <div style="width: 50%; float:right">


            <span class="tituloDialog" slot="title"> Miembros Actuales del Sprint</span>
                <el-divider><i class="el-icon-info"></i></el-divider>    

                     <el-table 
                        ref="filterTable"
                        :data="miembrosSprint"
                        style="width: 100%"
                        stripe
                        border
                        
                    >
                        <el-table-column 
                            prop="team_member.usuario.username"
                            label="Usuario"
                            sortable
                            
                            column-key="team_member.usuario.username"
                            class-name="filaBacklog"
                            align="center"
                        />

                        <el-table-column 
                            prop="team_member.usuario.email"
                            label="Correo de Contacto"
                            sortable
                            
                            column-key="team_member.usuario.email"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column 
                            prop="team_member.rol_proyecto.nombre"
                            label="Rol"
                            sortable
                            
                            column-key="team_member.rol_proyecto.nombre"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column 
                            prop="horas_laborales"
                            label="Horas Laborales que trabajará Por Día"
                            sortable
                            
                            column-key="horas_laborales"
                            class-name="filaBacklog"
                            align="center"
                        />

                        <el-table-column label="Opciones" class-name="filaBacklog"
                header-align="center">
                    <template #default="scope">
                        
                        <el-button v-if="
                                        permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                        && proyectoActivado
                                        "
                            
                            type="warning" icon="el-icon-edit" 
                            medium
                            default 
                            @click="editar(scope.row)" 
                        >
                        </el-button>

                        <el-button v-if="
                                        (scope.row.team_member.rol_proyecto.nombre != 'ScrumMaster')
                                        && permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                        && proyectoActivado
                                        "
                            
                            type="danger" 
                            icon="el-icon-delete" 
                            medium
                            default
                            @click="borrar(scope.row)" 
                            >
                        </el-button>

                    </template>
                </el-table-column>
                    </el-table>

                    

                <el-divider><i class="el-icon-info"></i></el-divider>
            
        </div>


        `,

        data() {
            return {
                permisoVista: 'Agregar Miembro al Sprint',
                permisoVista2: 'Agregar Miembro al Sprint',
                permisosUsuarioProyecto:[],

                form: {
                    miembros: [
                        {
                            horas_laborales: '',
                            team_member: null,
                            sprint: parseInt('{{ codigo_sprint }}'),
                        }
                    ]
                },

               

                miembrosProyecto: [], //para el select de team_member
                miembrosSprint: [], //para el listado de sprint members


                proyectoActivado:null,
                proyectoPendiente:null,
                proyectoCancelado:null,
                proyectoSuspendido:null,
                proyectoTerminado:null,

                proyectoActual: {
                    id: 0,
                    nombre: '',
                    estado: '',
                    fecha_inicio: '',
                    fecha_fin: '',
                    descripcion: '',
                },
                
            };
        },
        methods: {

        
           submit(){

               var self=this;
               const miembrosPost=self.form.miembros;
               miembrosPost.forEach((miembro)=>{
                   MiembroSprintServicio.Guardar(miembro).then((resultado)=>{
                       self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                        })
                        window.location.reload()
                        
                   }).catch((error) =>{
                        self.$notify({
                            title: 'Error.',
                            //message: error,
                            message:'Usuarios Duplicados, ingrese correctamente',
                            type: 'error'
                        })
                   })
               })

                
               console.log(self.form)
               console.log(self.form.miembrosProyecto)
               
            },

            resetearMiembro(item){

                var self= this;
                var index = self.form.miembros.indexOf(item)
                console.log(index);
               
                if (index !== -1) {
                    self.form.miembros.splice(index, 1)
                    console.log(self.form.miembros.length)
                }
                
            },

            addMiembro() {
                this.form.miembros.push({
                    horas_laborales: '',
                    team_member: null,
                    sprint: parseInt('{{ codigo_sprint }}'),
                })
            },

            editar(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/miembro_sprint/editar/" + fila.id + "/";
            },

    
            borrar(fila) {
                // Mensaje de Confirmacion para eliminar el miembro sprint
                this.$confirm(
                'Esto eliminará permanentemente el Miembro del Sprint. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.

                    MiembroSprintServicio.Borrar( fila.id ).then( respuesta => {
                        window.location.reload(); //al borrar el registro recargamos la pagina actual
                    });

                    this.$message({ //muestra un mensaje de  
                    type: 'success',
                    message: 'El miembro del Sprint fue Eliminado Correctamente',
                    })
                })
                .catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                })
            },
           
        },
        mounted(){

            var self = this;
            
            MiembroServicio.ObtenerMiembroScrumMaster({{codigo_ejecucion}}).then((miembroScrum) => {

                MiembroServicio.ObtenerMiembrosProyecto({{codigo_ejecucion}}).then( function(resultado) {
                    
                    const miembrosRecuperados = resultado;
                    console.log(miembrosRecuperados)
                    miembrosRecuperados.forEach(miembro => {

                        console.log(miembro.id)
                        if(miembro.id != miembroScrum.id )
                        {//el scrum master del proyecto no es seleccionable en el select
                            self.miembrosProyecto.push(miembro);
                        }else{
                            console.log("Este miembro no es seleccionable en el select",miembro)
                        }
                    })
                
                });
            });

            MiembroSprintServicio.ListarPorSprint({{codigo_sprint}}).then((resultado) => {
                self.miembrosSprint=resultado;
            })
             

        },
        created(){

            var self=this;

            PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{ codigo_ejecucion }}).then( function(resultado) {
                self.permisosUsuarioProyecto=resultado;
            });


            ProyectoServicio.Obtener( {{ codigo_ejecucion }} ).then( function(resultado) {

                    var proyecto = resultado;

                    self.proyectoActual.id = proyecto.id;
                    self.proyectoActual.nombre = proyecto.nombre;
                    self.proyectoActual.fecha_inicio = proyecto.fecha_inicio;
                    self.proyectoActual.descripcion = proyecto.descripcion;
                    self.proyectoActual.fecha_fin = proyecto.fecha_fin;
                    self.proyectoActual.estado = proyecto.estado;
                    
                    switch(self.proyectoActual.estado){
                        case 'Pendiente':
                            self.proyectoPendiente=true;
                            break;
                        case 'Activo':
                            self.proyectoActivado=true;
                            break;
                        case 'Cancelado':
                            self.proyectoCancelado=true;
                            break;
                        case 'Suspendido':
                            self.proyectoSuspendido=true;
                            break;
                        case 'Terminado':
                            self.proyectoTerminado=true;
                            break;
                        default:
                            console.log("El Proyecto no tiene estado.");//no debería ocurrir
                            break;
                    }
                    
                });

        },
        
    };
    // Se registra rolcomponent
    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 20px;
                font-weight: bold;
        }
        .subtitulo {
                color:black;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 20px;
                font-weight: bold;
        }

        .subtitulo2 {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 18px;
                font-weight: bold;
                
                float:left;
        }


        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }

        .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
            }
        
    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}

