{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Opciones-Ejecucion 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:
        `
         <!--Si el Proyecto = Pendiente y el Usuario tiene el Permiso Activar Proyecto y el Permiso de Ver Menu del Proyecto-->
         <div v-if="proyectoPendiente && (permisosUsuarioProyecto.indexOf(permisoVista) != -1) && (permisosUsuarioProyecto.indexOf(permisoVista2) != -1)" style='display:block;'> 
            <ul>
                <h1 class="title is-1"> El Proyecto se encuentra en estado Pendiente  </h1>
                <br>
                <br>
                <br>
                <el-button type="primary" @click="cambiarEstadoProyecto('Activo')" icon="el-icon-video-play" round> Activar Proyecto </el-button>
            </ul>
        </div>
        <div v-else-if="proyectoPendiente && (permisosUsuarioProyecto.indexOf(permisoVista2) != -1)" style='display:block;'> 
            <ul>
                <h1 class="title is-1"> El Proyecto se encuentra en estado Pendiente  </h1>
                <h1>Contacte con el ScrumMaster del Proyecto para que Active el Proyecto</h1>
                <br>
            </ul>
        </div>

        {% comment %} <!--Si el Proyecto = Suspendido y el Usuario tiene el Permiso Activar Proyecto y el Permiso de Ver Menu del Proyecto-->
        <div v-if="proyectoSuspendido && (permisosUsuarioProyecto.indexOf(permisoVista) != -1) && (permisosUsuarioProyecto.indexOf(permisoVista2) != -1)" style='display:block;'> 
            <ul>
                <h1>El Proyecto se encuentra en estado Suspendido </h1>
                <br>
                <br>
                <br>
                <el-button type="primary" @click="cambiarEstadoProyecto('Activo')" icon="el-icon-video-play" round> Reanudar Proyecto </el-button>
            </ul>
        </div> {% endcomment %}
        {% comment %} <div v-else-if="proyectoSuspendido && (permisosUsuarioProyecto.indexOf(permisoVista2) != -1)" style='display:block;'> 
            <ul>
                <h1>El Proyecto se encuentra en estado Pendiente </h1>
                <h2>Contacte con el ScrumMaster del Proyecto para que Active el Proyecto</h2>
                <br>
            </ul>
        </div> {% endcomment %}

        {% comment %} <!--Si el Proyecto = Cancelado-->
        <div v-if="proyectoCancelado" style='display:block;'> 
            <ul>
                <h1>El Proyecto se encuentra en estado Cancelado! </h1>
            </ul>
        </div> {% endcomment %}

        {% comment %} <div v-if="proyectoTerminado" style='display:block;'> 
            <ul>
                <h1>El Proyecto se encuentra en estado Terminado </h1>
                <ul>
                    <h3>Nombre: $[[ proyectoActual.nombre ]] </h3>
                    <h3>Descripcion: $[[ proyectoActual.descripcion ]] </h3>
                    <h3>Fecha de Inicio: $[[ proyectoActual.fecha_inicio ]] </h3>
                    <h3>Fecha de Fin: $[[ proyectoActual.fecha_fin ]] </h3>
                </ul>
                
            </ul>
        </div> {% endcomment %}

        <!--Si el Proyecto esta Activado o el Proyecto Esta Terminado y el Usuario tiene el Permiso de Ver Menu del Proyecto-->
        <div v-if="(proyectoActivado || proyectoTerminado || proyectoSuspendido || proyectoCancelado) && (permisosUsuarioProyecto.indexOf(permisoVista2) != -1)" style='display:block;'>   
            <ul v-if="proyectoCancelado">
                <h1 class="title is-1"> El Proyecto se encuentra en estado Cancelado  </h1>
                <ul>
                    <h1 class="title is-4">Fecha de Inicio: $[[ proyectoActual.fecha_inicio ]]  </h3>
                    <br>
                    <br>
                </ul>
                
            </ul>
            <ul v-if="proyectoTerminado">
                <h1 class="title is-1"> El Proyecto se encuentra en estado Terminado  </h1>
                <ul>
                    <h1 class="title is-4">Fecha de Inicio: $[[ proyectoActual.fecha_inicio ]]  - Fecha de Fin: $[[ proyectoActual.fecha_fin ]]  </h3>
                    <br>
                    <br>
                </ul>
                
            </ul>
            <ul v-if="proyectoSuspendido">
                <h1 class="title is-1"> El Proyecto se encuentra en estado Suspendido  </h1>
                <ul>
                    <h1 class="title is-4">Fecha de Inicio: $[[ proyectoActual.fecha_inicio ]]   </h3>
                    <br>
                    <br>
                </ul>
                
            </ul>
            <ul v-for="(item,index) in opciones">
                <el-link class="subtitle is-4" v-if="(permisosUsuarioProyecto.indexOf(permisosMenu[index].permiso) != -1) && (permisosMenu[index].estado.indexOf(proyectoActual.estado) != -1)" @click="goTO(index)">
                    <strong>$[[item]]</strong>
                    <br>
                </el-link>
                <br v-if="(permisosUsuarioProyecto.indexOf(permisosMenu[index].permiso) != -1) && (permisosMenu[index].estado.indexOf(proyectoActual.estado) != -1)" @click="goTO(index)">
                <br v-if="(permisosUsuarioProyecto.indexOf(permisosMenu[index].permiso) != -1) && (permisosMenu[index].estado.indexOf(proyectoActual.estado) != -1)" @click="goTO(index)">
            </ul>
                
            <el-button type="danger" @click="cambiarEstadoProyecto('Activo')" icon="el-icon-video-play" round v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1 && proyectoSuspendido"> Reanudar Proyecto </el-button>    
            <el-button type="danger" @click="cambiarEstadoProyecto('Cancelado')" icon="el-icon-close" round v-if="permisosUsuarioProyecto.indexOf(permisoVista4) != -1 && proyectoActivado"> Cancelar Proyecto </el-button>
            <el-button type="warning" @click="cambiarEstadoProyecto('Suspendido')" icon="el-icon-video-pause" round v-if="permisosUsuarioProyecto.indexOf(permisoVista3) != -1 && proyectoActivado"> Suspender Proyecto </el-button>
            <el-button type="success" @click="cambiarEstadoProyecto('Terminado')" icon="el-icon-finished" round v-if="permisosUsuarioProyecto.indexOf(permisoVista5) != -1 && proyectoActivado"> Finalizar Proyecto </el-button>

        </div>
        
        `,

        data() {
            return {

                opciones:[  "Sprints - Administracion",
                            "Agregar Miembros al Sprint - Reemplazar",
                            "User Stories - Administracion ",
                            "Sprint Planing - Asignar UserStories",
                            "Product Backlog",
                            "Sprint Backlog",
                            "Burndown Chart",
                            "Ejecucion del Sprint - Tablero Kanban",
                            "Control de Calidad",
                            "Actividades"
                            
                        ],
                permisosMenu : [ //permiso -> que se necesita para ver //estado de proyecto en donde la opcion esta disponible
                            {
                                permiso:'Listar Sprint',
                                estado: ["Activo"]
                            },
                            {
                                permiso:'Listar Sprint',
                                estado: ["Activo"]
                            },
                            {
                                permiso:'Listar UserStory',
                                estado: ["Activo"]
                            },
                            {
                                permiso:'Listar Sprint',
                                estado: ["Activo"]
                            },
                            {
                                permiso:'Ver ProductBacklog',
                                estado: ["Activo","Terminado","Suspendido","Cancelado"]
                            },
                            {
                                permiso:'Ver SprintBacklog',
                                estado: ["Activo","Terminado","Suspendido","Cancelado"]
                            },
                            {
                                permiso:'Ver BurndownChart',
                                estado: ["Activo","Terminado","Suspendido","Cancelado"]
                            },
                            {
                                permiso:'Ver Kanban',
                                estado: ["Activo"]
                            },
                            {
                                permiso:'Ver Control de Calidad',
                                estado: ["Activo","Terminado","Suspendido","Cancelado"]
                            },

                            {
                                permiso:'Ver Actividades',
                                estado: ["Activo","Terminado","Suspendido","Cancelado"]
                            },
                            
        

                ],
                /*
                permisosMenu:[ "Listar Sprint", ["Activo",""]
                                "Listar Sprint", ["Activo",""]
                                "Listar UserStory", ["Activo",""]
                                "Listar Sprint", ["Activo",""]
                                "Ver ProductBacklog", ["Activo",""]
                                "Ver SprintBacklog", ["Activo",""]
                                "Ver BurndownChart", ["Activo",""]
                                "Listar Sprint", ["Activo",""]
                                "Ver Control de Calidad", ["Activo",""]
                                "Ver Actividades", ["Activo",""]
                                

                ],
                */

                

                proyectoActivado:null,
                proyectoPendiente:null,
                proyectoCancelado:null,
                proyectoSuspendido:null,
                proyectoTerminado:null,
                permisosUsuarioProyecto:[],
                permisoVista:'Activar Proyecto',
                permisoVista2:'Ver Menu del Proyecto',
                permisoVista3:'Suspender Proyecto',
                permisoVista4:'Cancelar Proyecto',
                permisoVista5:'Finalizar Proyecto',
                
                proyectoActual: {
                    id: 0,
                    nombre: '',
                    estado: '',
                    fecha_inicio: '',
                    fecha_fin: '',
                    descripcion: '',
                },

                usFinalizados : 0,
                usNoFinalizados : 0,
                usAsignados : 0,
                usPendientes : 0,
                usTotal: 0,
                
            };
        },
        methods: {

            goTO(index) {
                switch(index){
//
                    case 0:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/sprint/listar/";
                        break;

                    case 1:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/sprint/agregar_miembro/";
                        break;

                    case 2:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/userstory/listar/";
                        break;

                    case 3:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/sprint/sprint_planing/";
                        break;

                    case 4:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/userstory/product_backlog/";
                        break;

                    case 5:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/sprint/sprint_backlog/";
                        break;
                    case 6:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/sprint/burndownchart/";
                        break;
                    case 7:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/sprint/iniciar_sprint/";
                        break;
                    case 8:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/control_calidad/";
                        break;
                    case 9:
                        window.location.href = "/ejecucion_proyecto/"+ {{ codigo_ejecucion }} + "/sprint/actividades/";
                        break;
                    

                    //AGREGAR LAS OTRAS OPCIONES
                }
                
            },

            cambiarEstadoProyecto(estado){
                //var now = new Date();
                //var dateString = moment(now).format('YYYY-MM-DD');
                //console.log(dateString)
                //datos.fecha_inicio=dateString; //esto es mejor hacerlo desde el backend backend

                var self=this;
                var msg1 = '';
                var msg2='';
                var msg3='';
                var msg4='';
                var datos = {...self.proyectoActual };
                
                switch(true){
                    case (estado === 'Activo' && self.proyectoActual.estado === 'Pendiente'):
                        datos.estado=estado;
                        msg1 = 'Desea Activar el Proyecto. ¿Continuar?'
                        msg2 ='Activación del Proyecto'
                        msg3 ='Activación Cancelada'
                        msg4='El Proyecto se Activo Correctamente'
                        break;
                    case (estado === 'Activo' && self.proyectoActual.estado === 'Suspendido'):
                        datos.estado=estado;
                        msg1 = 'Desea Reanudar el Proyecto. ¿Continuar?'
                        msg2 ='Reanudación del Proyecto'
                        msg3 ='Reanudación Cancelada'
                        msg4='El Proyecto se Reanudo Correctamente' 
                        break;
                    case (estado =='Cancelado'):
                        datos.estado=estado;
                        msg1 = 'Desea Cancelar el Proyecto. ¿Continuar?'
                        msg2 ='Cancelación del Proyecto'
                        msg3 ='Cancelación Abortada'
                        msg4='El Proyecto se Cancelo Correctamente'
                        break;
                    case (estado =='Suspendido'):
                        datos.estado=estado;
                        msg1 = 'Desea Suspender el Proyecto. ¿Continuar?'
                        msg2 ='Suspender el Proyecto'
                        msg3 ='Acción Cancelada'
                        msg4='El Proyecto se Suspendio Correctamente'
                        break;
                    case (estado =='Terminado'):
                        datos.estado=estado;
                        msg1 = 'Desea Finalizar el Proyecto. ¿Continuar?'
                        msg2 ='Finalizar el Proyecto'
                        msg3 ='Acción Cancelada'
                        msg4='Proyecto Finalizado Correctamente'
                        break;
                    default:
                        console.log("El Proyecto no tiene estado.")//no debería ocurrir
                        break;
                }
                
                console.log(datos);

                if(estado == 'Terminado'){
                    UserStoryServicio.ListarPorProyecto({{codigo_ejecucion}}).then((resultado)=>{

                        var userstories = resultado
                        var cantidadUserstories = userstories.length
                        self.usTotal = cantidadUserstories
                        var cantidadUserstoriesPendientes = 0
                        var cantidadUserstoriesNoFinalizado = 0 
                        var cantidadUserstoriesAsignado = 0
                        var cantidadUserstoriesFinalizado = 0 

                        userstories.forEach((us)=>{
                            console.log(us)
                            if(us.estado == 'Pendiente'){
                                cantidadUserstoriesPendientes = cantidadUserstoriesPendientes + 1
                                self.usPendientes = cantidadUserstoriesPendientes
                            }else if(us.estado == 'No Finalizado'){
                                cantidadUserstoriesNoFinalizado = cantidadUserstoriesNoFinalizado +1
                                self.usNoFinalizados = cantidadUserstoriesNoFinalizado
                            }else if(us.estado == 'Asignado'){
                                cantidadUserstoriesAsignado = cantidadUserstoriesAsignado +1
                                self.usAsignados = cantidadUserstoriesAsignado
                            }else if(us.estado == 'Finalizado'){
                                cantidadUserstoriesFinalizado = cantidadUserstoriesFinalizado +1
                                self.usFinalizados = cantidadUserstoriesFinalizado
                            }
                        })
                    }).then(()=>{
                        if(self.usTotal == self.usFinalizados){
                            console.log("Puede Finalizar")
                            
                        }else{
                            console.log("No Puede Finalizar")
                            console.log("Tiene :")
                            console.log("us pend",self.usPendientes)
                            console.log("us no fina",self.usNoFinalizados)
                            console.log("us asignados a un sprint",self.usAsignados)
                        }
                    })
                }
                

                
                this.$confirm(
                msg1,
                msg2,
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'info',
                    center: true,
                }
                )
                .then(() => { // Opcion: ACTIVAR/REANUDAR/CANCELAR/SUSPENDER/FINALIZAR - PROYECTO
                    
                    ProyectoServicio.Editar( datos ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: msg4,
                        type: 'success'
                    });

                    window.location.reload(); //recargamos la pagina para que tome el nuevo estado el proyecto

                    }).catch( (error) => {
                        self.$notify({
                            title: 'Error.',
                            message: error,
                            type: 'error'
                        })
                    });
                    
                })
                .catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: msg3,
                    })
                })
            },

        },
        mounted(){
            
        },

        created(){

            var self=this;

            PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }}, {{ codigo_ejecucion }}).then( function(resultado) {
                self.permisosUsuarioProyecto=resultado;
            });
                
            
            ProyectoServicio.Obtener( {{ codigo_ejecucion }} ).then( function(resultado) {

                var proyecto = resultado;

                self.proyectoActual.id = proyecto.id;
                self.proyectoActual.nombre = proyecto.nombre;
                self.proyectoActual.fecha_inicio = proyecto.fecha_inicio;
                self.proyectoActual.descripcion = proyecto.descripcion;
                self.proyectoActual.fecha_fin = proyecto.fecha_fin;
                self.proyectoActual.estado = proyecto.estado;
                
                switch(self.proyectoActual.estado){
                    case 'Pendiente':
                        self.proyectoPendiente=true;
                        break;
                    case 'Activo':
                        self.proyectoActivado=true;
                        break;
                    case 'Cancelado':
                        self.proyectoCancelado=true;
                        break;
                    case 'Suspendido':
                        self.proyectoSuspendido=true;
                        break;
                    case 'Terminado':
                        self.proyectoTerminado=true;
                        break;
                    default:
                        console.log("El Proyecto no tiene estado.");//no debería ocurrir
                        break;
                }
                    
                    
            });

        },
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

            .subtitle {
                color:white;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

        .el-carousel__item h {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color: #99a9bf;
        }

        .el-carousel__item:nth-child(2n + 1) {
            background-color: #d3dce6;
        }
    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
