{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Editar Sprint 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js'%}"></script>
    <script src="{% static 'js/PermisosServicio.js'%}"></script>
    <script src="{% static 'js/MiembroServicio.js'%}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" style='display:block;'>
       
            <el-row>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
                <el-col :sm='24' :md='12'>
                    <h1 class="tituloPrincipal"> Editar Sprint </h1>
                    
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="form.nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Cantidad de Dias Laborales" >
                            <el-input-number v-model="form.dias_laborales" :min="1" :max="365"  />
                        </el-form-item>

                        {% comment %} <el-form-item label="Dias Habiles" >
                            <el-checkbox-group
                                v-model="form.dias_habiles">
                                <el-checkbox v-for="dia in dias" :label="dia.id" :key="dia.id" >$[[dia.nombre]]</el-checkbox>
                            </el-checkbox-group>
                        </el-form-item> {% endcomment %}
                        
                        <el-button type="primary" @click="submit" default> Guardar </el-button>


                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
   
        `,

        data() {
            return {
                /*
                dias:[{id:1,nombre:'Lunes'},
                      {id:2,nombre:'Martes'},
                      {id:3,nombre:'Miercoles'},
                      {id:4,nombre:'Jueves'},
                      {id:5,nombre:'Viernes'},
                      {id:6,nombre:'Sabado'},
                      {id:7,nombre:'Domingo'},
                    ],
                */

                form: {
                    id: 0,
                    nombre: '',
                    dias_laborales: 0,
                    //dias_habiles: [],
                    proyecto: parseInt('{{codigo_ejecucion}}')
                },

                
                permisoVista: 'Editar Sprint',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[]
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });
            
        },
        methods: {
            submit(){
                var self = this;

                var sprint = {...self.form };
                
                console.log(sprint)
                SprintServicio.Editar( sprint ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "Sprint Editado Correctamente.",
                        type: 'success'
                    });

                    window.location.href="/ejecucion_proyecto/{{ codigo_ejecucion }}/sprint/listar/"

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error al Editar Sprint',
                        message: error,
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;

            SprintServicio.Obtener( {{ codigo_sprint }} ).then( function(resultado) {

                var sprintActual = resultado;
                console.log(sprintActual)

                self.form.id = sprintActual.id;
                self.form.nombre = sprintActual.nombre;
                self.form.dias_laborales = sprintActual.dias_laborales;
                //self.form.dias_habiles = sprintActual.dias_habiles;
                
                
            });

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        
    .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
    }
        

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
