{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Inicio 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/RolSistemaServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" style='display:block;'>
            <h1 class="title is-1"> Editar Rol de Sistema </h1>
            <el-row>
                <el-col :sm='24' :md='12'>
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="form.nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Descripción" >
                            <el-input v-model="form.descripcion"></el-input>
                        </el-form-item>

                        <el-form-item label="Permisos de Administracion" >
                            <el-checkbox-group
                                v-model="form.permisos">
                                <el-checkbox v-for="permiso in permisos" :label="permiso.id" :key="permiso.id" >$[[permiso.nombre]]</el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-button type="primary" @click="submit" default> Guardar </el-button>


                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                permisos: [],
                permisoVista: 'Editar Rol Sistema',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[],
                form: {
                    id: 0,
                    nombre: '',
                    descripcion: '',
                    permisos: [],
                    
                }
                
            };
        },
        created(){
                
                //this.longitud();
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
            
        },

        methods: {
            submit(){
                var self = this;

                var datos = {...self.form };
                RolSistemaServicio.Editar( datos ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "Guardado correcto.",
                        type: 'success'
                    });

                    window.location.href= "/rol_sistema/listar";

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error.',
                        message: 'Este Rol No es Editable',
                        type: 'error'
                    })

                    window.location.href= "/rol_sistema/listar";
                });
            }
        },
        mounted(){
            var self = this;

            PermisosServicio.ObtenerPermisosSistema().then( function(resultado) {
                self.permisos = resultado;
            });

            RolSistemaServicio.Obtener( {{ codigo_rol }} ).then( function(resultado) {

                var rolSistema = resultado;

                self.form.id = rolSistema.id;
                self.form.nombre = rolSistema.nombre;
                self.form.descripcion = rolSistema.descripcion;
                self.form.permisos =  rolSistema.permisos.map( dato => dato.id )
                
            });

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>
{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
