{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Crear Sprint
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/RolProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" style='display:block;'>
        
            <el-row>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
                <el-col :sm='24' :md='12'>
                <h1 class="title is-1">  Crear Sprint </h1>
                
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Cantidad de Dias Laborales" >
                             <el-input-number v-model="dias_laborales" :min="1" :max="365"  />
                        </el-form-item>

                        {% comment %} <el-form-item label="Dias Habiles" >
                            <el-checkbox-group
                                v-model="dias_habiles">
                                <el-checkbox v-for="dia in dias" :label="dia.id" :key="dia.id" >$[[dia.nombre]]</el-checkbox>
                            </el-checkbox-group>
                        </el-form-item> {% endcomment %}

                        <el-form-item label="Horas Laborales que trabajará el ScrumMaster" >
                             <el-input-number v-model="horas_laborales" :min="1" :max="24"  />
                        </el-form-item>

                        <p>OBS: El sprint se crea con Estado Pendiente, debe iniciarlo manualmente</p>

                        <el-button type="primary" @click="submit" round> Guardar </el-button>
                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                /*
                dias:[{id:1,nombre:'Lunes'},
                      {id:2,nombre:'Martes'},
                      {id:3,nombre:'Miercoles'},
                      {id:4,nombre:'Jueves'},
                      {id:5,nombre:'Viernes'},
                      {id:6,nombre:'Sabado'},
                      {id:7,nombre:'Domingo'},
                    ],
                */

                nombre: null,
                dias_laborales: 1,
                dias_habiles: [],
                proyecto: parseInt('{{ codigo_ejecucion }}'),
                permisoVista: 'Crear Sprint',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],
                horas_laborales: 1,
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });

        },      
        methods: {
            submit(){
                var self = this;
                // recuperamos los datos ingresados en el formulario
                // y lo guardamos en un objeto

                //if(self.dias_habiles.length > 0) //si se ingreso algun dia habil se hace post
                //{
                    var sprint = {
                        nombre: self.nombre,
                        dias_laborales: self.dias_laborales,
                        //dias_habiles: self.dias_habiles,
                        proyecto: self.proyecto,
                    }

                    console.log(sprint);

                    SprintServicio.Guardar( sprint ).then( function(resultado) {
                        self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                        })

                        MiembroServicio.ObtenerMiembroScrumMaster( {{ codigo_ejecucion }} ).then( (miembroScrum) => {

                            var scrumMasterMiembroSprint = {
                                horas_laborales: self.horas_laborales,
                                team_member: miembroScrum.id,
                                sprint: resultado.id,
                            }

                            console.log(scrumMasterMiembroSprint)
                    
                            MiembroSprintServicio.Guardar( scrumMasterMiembroSprint ).then(()=>{
                                window.location.href="/ejecucion_proyecto/{{ codigo_ejecucion }}/sprint/listar/"
                            })
                        })
                       
            
                    }).catch( (error) => {
                        self.$notify({
                            title: 'Error.',
                            //message: error,
                            message:'Debe Completar todos los Campos para Crear un Sprint',
                            type: 'error'
                        })

                    });
                /*}else{
                    self.$notify({
                            title: 'Error.',
                            message:'Debe Ingresar por lo menos un Dia habil',
                            type: 'error'
                        })
                }*/

            }
        },
        mounted(){
        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
