{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Ver Notas
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
    <script src="{% static 'js/HistorialUserStoryServicio.js' %}"></script>
    <script src="{% static 'js/ActividadServicio.js' %}"></script>
    <script src="{% static 'js/NotaServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: left;display:block;">
            <h1 class="tituloPrincipal"> Notas </h1>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:25px;"></i> Menu del Proyecto</el-button>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/actividades/{{codigo_sprint}}/userstory/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-back" style="font-size:25px;"></i> Atras</el-button>
            </el-button-group>
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">
                <el-col :span="12"><div class="grid-content"> ID </div></el-col>
                <el-col :span="12"><div class="grid-content"> Notas </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="12"><div class="grid-content"> $[[ fila.id ]] </div></el-col>
                <el-col :span="12"><div class="grid-content"> $[[ fila.nota ]] </div></el-col>
            </el-row>

        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {

                tableData : [],
               
                permisoVista: 'Ver Actividades',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],

                
                
            };
        },

        created(){

                //this.getUserStories();

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });


                NotaServicio.ListarNotaPorUs({{codigo_us}}).then((resultado)=>{
                    self.tableData=resultado
                })
                

                    


             

                
            
        },

        computed: { 

        },
        
        methods: {
            
            submit(){
                var self=this;
                const aux1 = [...self.usToPut];
                const aux2 =[...self.obj];
                aux1.forEach(index =>{
                    const datos = {...aux2[index]}
                    console.log(datos)
                    UserStoryServicio.Editar(datos).then((resultado)=>{
                        self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                        })
                    }).catch( (error) => {
                        self.$notify({
                            title: 'Error.',
                            //message: error,
                            message:error,
                            type: 'error'
                        })
                    })
                })
                window.location.reload();
            },
            test(fila) {
                var self=this
                console.log(self.usToPut)
                console.log(self.obj)
            },

            editar(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/editar/" + fila.id + "/";
            },


            getUserStories(){
                UserStoryServicio.ListarUsSprintPlaning({{codigo_ejecucion}}).then( respuesta => {
                    this.tableData = respuesta;
                    this.obj=respuesta;
                });
            },

        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
            .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
            }
            .detalle .subtitulo {
                color:#409EFF;
                font-weight: bold;
                font-size: 18px;
            }
            .detalle .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
        
        .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
                text-align:center; 
        }

        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }
            
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




