{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Burndownchart Prototipo
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],

        template:`
        <div id="proyecto_editar" style="text-align: left;display:block;">
            <h1 class="title is-1">Burndownchart</h1>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>

            <div class="explanation">
                 {% comment %} <p>HAY QUE ver como calcular xMax (Los dias del Sprint) y las coordenadas(JSON) para calcular este grafico var lineDataActual = [{'x': 0, 'y': 190}, {'x': 1, 'y': 60}]</p> {% endcomment %}
                {% comment %} <p>xMax = {{xMax}}</p> {% endcomment %}
                {% comment %} <p>dias_sprint = {{dias_laborales}}</p>
                <p>coordenadas_bdc = {{coordenadas|safe}}</p>  {% endcomment %}
            </div>

            <svg id="visualisation" width="800" height="600" class="chart"></svg>

        </div>
      
        `,

        data() {
            return {
                capacidadSprint : -1,
                permisoVista: 'Ver BurndownChart',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],

            };
        },

        created(){

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                    var permisos=[...self.permisosUsuarioProyecto];
            var permiso=self.permisoVista;

            if(permisos.indexOf(permiso) != -1)
            {

                $(function(){
                    initChart();
                });

                function initChart() {
                    var lineDataActual = {{ coordenadas|safe }}; //en esta linea se carga lo que calculamos var lineDataActual = {{coordenadas_bdc}}

                    var svg = d3.select("#visualisation"),
                        width = 800,
                        height = 600,
                        margins = {
                            top: 80,
                            right: 50,
                            bottom: 80,
                            left: 80
                        },
                        xMin = d3.min(lineDataActual, function (d) {
                            return 0
                        }),
                        yMin = d3.min(lineDataActual, function (d) {
                            if (d.y>0){
                                return 0;
                            }else{
                                return d.y;
                            }

                        }),
                        yMax = d3.max(lineDataActual, function (d) {
                            return d.y;
                        }),

                    xRange = d3.scale.linear().range([margins.left, width - margins.right]).domain([

                        xMin,parseInt({{ xMax }} + 1) //parseInt({{ xMax }} + 1) //hay que pasar xMax a la vista.html parseInt(xMax + 1)
                    ]),

                    yRange = d3.scale.linear().range([height - margins.top, margins.bottom]).domain([

                        yMin,yMax
                    ]),

                    xAxis = d3.svg.axis()
                        .scale(xRange)
                        .tickSubdivide(true),

                    yAxis = d3.svg.axis()
                        .scale(yRange)
                        .orient("left")
                        .tickSubdivide(true);

                    function make_x_axis() {
                        return d3.svg.axis()
                            .scale(xRange)
                            .orient("bottom")
                            .tickSubdivide(true)
                    }

                    function make_y_axis() {
                        return d3.svg.axis()
                            .scale(yRange)
                            .orient("left")
                            .tickSubdivide(true)
                    }


                    svg.append("g")
                        .attr("class", "grid")
                        .attr("transform", "translate(0," + (height - margins.top) + ")")
                        .call(make_x_axis()
                            .tickSize((-height) + (margins.top + margins.bottom), 0, 0)
                            .tickFormat("")
                        )

                    svg.append("g")
                        .attr("class", "grid")
                        .attr("transform", "translate(" + (margins.left) + ",0)")
                        .call(make_y_axis()
                            .tickSize((-width) + (margins.right + margins.left), 0, 0)
                            .tickFormat("")
                        )

                    svg.append("svg:g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + (height - (margins.bottom)) + ")")
                        .call(xAxis);

                    svg.append("svg:g")
                        .attr("class", "y axis")
                        .attr("transform", "translate(" + (margins.left) + ",0)")
                        .call(yAxis);



                    var lineFunc = d3.svg.line()
                        .x(function (d) {
                            return xRange(d.x);
                        })
                        .y(function (d) {
                            return yRange(d.y);
                        })
                        .interpolate('basis');


                    var lineDataIdeal = [{
                        'x': xMin,
                        'y': yMax
                    }, {
                        'x': parseInt({{dias_laborales}}),  //hay que pasar xMax a la vista.html parseInt({{xMax}}) //parseInt({{ object.dias_laborales }})
                        'y': 0
                    }];


                    svg.append("svg:path")
                        .attr("d", lineFunc(lineDataIdeal))
                        .attr("class", "ideal");

                    svg.append("svg:path")
                        .attr("d", lineFunc(lineDataActual))
                        .attr("class", "actual");

                    svg.append("text")
                        .attr("class", "x label")
                        .attr("text-anchor", "end")
                        .attr("x", width - 50)
                        .attr("y", height - 6)
                        .text("Dias de Sprint");

                    svg.append("text")
                        .attr("class", "y label")
                        .attr("text-anchor", "end")
                        .attr("y", 6)
                        .attr("x", -80)
                        .attr("dy", ".75em")
                        .attr("transform", "rotate(-90)")
                        .text("Trabajo por hacer (hs)");
                }
            }  
                });
                              
        },

        computed: { //propiedad calculada se puede usar directamente en los templates usando ex: longitud
            

        },
        
        methods: {
          

        },
        mounted(){
            var self = this;

               
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        .chart {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: #fff;
        }
        .chart > .axis path,
        .chart > .axis line {
            fill: none;
            stroke: #2F4F4F;
            stroke-width:2;
            shape-rendering: crispEdges;
        }
        .chart > .axis .tick line {
            fill: none;
            stroke: #000000;
            stroke-width:2;
        }
        .chart > path.ideal {
            stroke: #1E90FF;
            stroke-width:5;
            stroke-linecap:round;
        }
        .chart > path.actual {
            stroke: red;
            stroke-width:2;
            stroke-linecap:round;
            fill: none;
            /*fill: rgba(0,0,0,0.1);*/
        }
        .chart > .grid .tick {
            stroke: #1E90FF; /* stroke: #eee;*/
            opacity: 0.5;
        }
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}





