{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Sprint Backlog
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: left;display:block;">
            <h1 class="title is-1"> Sprint Backlog - Seleccionar un Sprint  </h1>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
            
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">
                <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="4"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="4"><div class="grid-content"> Cantidad de Dias Laborales </div></el-col>
                <el-col :span="4"><div class="grid-content"> Fecha de Inicio </div></el-col>
                <el-col :span="4"><div class="grid-content"> Fecha de Fin </div></el-col>
                <el-col :span="4"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.dias_laborales ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.fecha_inicio ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.fecha_fin ]] </div></el-col>
            

                <el-col :span="4">
                    <div class="grid-content">
                        <el-button @click="goToSprintBacklog(fila)" type="primary" icon="el-icon-menu" circle ></el-button>
                    </div>
                </el-col>

            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                tableData : [],
                permisoVista: 'Listar Sprint',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],
            };
        },

        created(){

                this.getSprints();

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });

                
            
        },

        computed: { 

        },
        
        methods: {
            

            goToSprintBacklog(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/sprint_backlog/";
            },


            getSprints(){
                SprintServicio.ListarSprintDelUsuarioPorProyecto({{codigo_ejecucion}},{{user.id}}).then( respuesta => {
                    this.tableData = respuesta;
                });
            },

        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
            
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




