{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Sprint
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: center;display:block;">
        {% comment %} <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
            <h1 class="title is-1"> Listar Sprint </h1>


            
            <el-button type="primary" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/crear'"><i class="el-icon-circle-plus-outline" style="font-size:25px;"></i></el-button>
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">
                <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="4"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="4"><div class="grid-content"> Cantidad de Dias Laborales </div></el-col>
                <el-col :span="4"><div class="grid-content"> Fecha de Inicio </div></el-col>
                <el-col :span="4"><div class="grid-content"> Fecha de Fin </div></el-col>
                <el-col :span="4"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.dias_laborales ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.fecha_inicio ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.fecha_fin ]] </div></el-col>
            

                <el-col :span="4">
                    <div class="grid-content">
                        <el-button @click="editar(fila)" type="primary" icon="el-icon-edit" circle style="background-color:#cca300" v-if="fila.estado == 'Pendiente'"></el-button>
                    </div>
                </el-col>

            </el-row> {% endcomment %}

            <el-dialog v-model="dialogFormVisible4"  width="90%" >
                <span class="tituloDialog" slot="title"> Detalle del Sprint</span>                        

                <el-divider><i class="el-icon-info"></i></el-divider>
                <div class="detalle">
                    <span class="subtitulo">  Nombre: </span> <span class="valor">$[[sprintActual.nombre]]  </span> <br>
                    <span class="subtitulo">  Cantidad de Dias Laborales: </span> <span class="valor" v-if="sprintActual.dias_laborales">$[[sprintActual.dias_laborales]]  </span> <br>
                    <span class="subtitulo">  Estado: </span> <span class="valor">$[[sprintActual.estado]]  </span> <br>
                    <span class="subtitulo">  Fecha de Inicio: </span> <span class="valor" v-if="sprintActual.fecha_inicio">$[[sprintActual.fecha_inicio]]  </span> <br>
                    <span class="subtitulo">  Fecha de Fin: </span> <span class="valor" v-if="sprintActual.fecha_fin">$[[sprintActual.fecha_fin]]  </span> <br>

                </div>

                <el-divider><i class="el-icon-info"></i></el-divider>    

                <span class="tituloDialog" slot="title"> Miembros del Sprint</span>

                     <el-table 
                        ref="filterTable"
                        :data="tableData2"
                        style="width: 100%"
                        stripe
                        border
                        
                    >
                        <el-table-column 
                            prop="team_member.usuario.username"
                            label="Usuario"
                            sortable
                            
                            column-key="team_member.usuario.username"
                            class-name="filaBacklog"
                            align="center"
                        />

                        <el-table-column 
                            prop="team_member.usuario.email"
                            label="Correo de Contacto"
                            sortable
                            
                            column-key="team_member.usuario.email"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column 
                            prop="team_member.rol_proyecto.nombre"
                            label="Rol"
                            sortable
                            
                            column-key="team_member.rol_proyecto.nombre"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column 
                            prop="horas_laborales"
                            label="Horas Laborales que trabajará Por Día"
                            sortable
                            
                            column-key="horas_laborales"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column label="Opciones" class-name="filaBacklog"
                header-align="center">
                    <template #default="scope">
                        
                        <el-button v-if="
                                        permisosUsuarioProyecto.indexOf(permisoVista10) != -1
                                        && proyectoActivado
                                        && sprintPendiente
                                        "
                            
                            type="warning" icon="el-icon-edit" 
                            medium
                            default 
                            @click="editarHorasLaborales(scope.row)" 
                        >
                        </el-button>

                        <el-button v-if="
                                        (scope.row.team_member.rol_proyecto.nombre != 'ScrumMaster')
                                        && permisosUsuarioProyecto.indexOf(permisoVista10) != -1
                                        && proyectoActivado
                                        && sprintPendiente
                                        "
                            
                            type="danger" 
                            icon="el-icon-delete" 
                            medium
                            default
                            @click="borrar2(scope.row)" 
                            >
                        </el-button>

                    </template>
                </el-table-column>
                    </el-table>

                <el-divider><i class="el-icon-info"></i></el-divider>    

            </el-dialog>
            
            <h1 class="tituloPrincipal"> Sprint - Administración </h1>

            <div class="botonesBacklog">
                <el-button v-if="
                                permisosUsuarioProyecto.indexOf(permisoVista4) != -1 
                                && (proyectoActivado) 
                                "
                    icon="el-icon-circle-plus-outline" 
                    type="primary"
                    default 
                    onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/crear'"
                >
       
                    Crear Sprint

                </el-button>



                <el-button
                        type="danger"
                        icon="el-icon-refresh-left"
                        @click="clearFilter"
                        default
                    >
                        Resetear Filtros

                </el-button>
            </div>
            

            <el-table 
                ref="filterTable"
                :data="tableData"
                style="width: 100%"
                stripe
                border
                fit
                
                
            >
                <el-table-column 
                    prop="nombre"
                    label="Nombre"
                    sortable
                    width="180"
                    column-key="nombre"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="estado"
                    label="Estado"
                    sortable
                    width="180"
                    column-key="estado"
                    class-name="filaBacklog"
                    align="center"
                    :filters="[
                        { text: 'Pendiente', value: 'Pendiente' },
                        { text: 'En Proceso', value: 'En Proceso' },
                        { text: 'Terminado', value: 'Terminado' },
                    ]"
                    :filter-method="filterHandler"
                />
                <el-table-column
                    prop="dias_laborales"
                    label="Duracion del Sprint"
                    sortable
                    width="180"
                    column-key="dias_laborales"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="fecha_inicio"
                    label="Fecha de Inicio"
                    sortable
                    width="180"
                    column-key="fecha_inicio"
                    class-name="filaBacklog"
                    align="center"
                />
                {% comment %} <el-table-column
                    prop="fecha_fin"
                    label="Fecha de Fin"
                    sortable
                    width="180"
                    column-key="fecha_fin"
                    class-name="filaBacklog"
                    align="center"
                /> {% endcomment %}


                <el-table-column label="Opciones" class-name="filaBacklog"
                header-align="center">
                    <template #default="scope">
                        <el-button-group>
                        <el-button
                            icon="el-icon-info"
                            type="primary"
                            mini
                            default
                            @click="recuperarSprint(scope.row, scope.$index)"
                        >

                        </el-button>

                        <el-button v-if="
                                            scope.row.estado == 'Pendiente' 
                                            && permisosUsuarioProyecto.indexOf(permisoVista5) != -1 
                                            && proyectoActivado
                                        "
                            icon="el-icon-user"
                            type="success"
                            mini
                            default
                            @click="agregarMiembro(scope.row, scope.$index)"
                        >
                            Agregar 
                        </el-button>

                        <el-button v-if="
                                            (scope.row.estado == 'Pendiente' || scope.row.estado == 'En Proceso')
                                             && permisosUsuarioProyecto.indexOf(permisoVista6) != -1 
                                             && (proyectoActivado)
                                        "
                            icon="el-icon-refresh"
                            type="info"
                            mini
                            default
                            @click="reemplazarMiembro(scope.row, scope.$index)"
                        >
                            Reemplazar

                        </el-button>

                        <el-button v-if="
                                            scope.row.estado == 'Pendiente' 
                                            && permisosUsuarioProyecto.indexOf(permisoVista7) != -1 
                                            && proyectoActivado
                                        "
                            icon="el-icon-set-up"
                            type="primary"
                            mini
                            default
                            @click="sprintPlaning(scope.row, scope.$index)"
                        >
                            Planing

                        </el-button>

                        <el-button v-if="   (scope.row.estado == 'En Proceso' || scope.row.estado == 'Terminado')  
                                            && permisosUsuarioProyecto.indexOf(permisoVista8) != -1 
                                            && (proyectoActivado || proyectoSuspendido || proyectoTerminado || proyectoCancelado)
                                        "
                            icon="el-icon-data-board"
                            type="success"
                            mini
                            default
                            @click="bdc(scope.row, scope.$index)"
                        >
                            Burndown Chart

                        </el-button>


                        <el-button v-if="   (scope.row.estado == 'Pendiente' || scope.row.estado == 'En Proceso' || scope.row.estado == 'Terminado')  
                                            && permisosUsuarioProyecto.indexOf(permisoVista9) != -1 
                                            && (proyectoActivado || proyectoSuspendido || proyectoTerminado || proyectoCancelado)
                                        "
                            icon="el-icon-menu"
                            type="info"
                            mini
                            default
                            @click="sprintBacklog(scope.row, scope.$index)"
                        >
                            BackLog

                        </el-button>

                        <el-button v-if="
                                            scope.row.estado == 'Pendiente' 
                                            && permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                            && (proyectoActivado)
                                        "
                            
                            type="warning" icon="el-icon-edit" 
                            mini
                            default 
                            @click="editar(scope.row)" 
                        >
                        </el-button>

                        {% comment %} <el-button v-if="
                                            scope.row.estado == 'Pendiente' 
                                            && permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                            && (proyectoActivado)
                                        "
                            type="danger" 
                            icon="el-icon-delete" 
                            mini
                            default
                            @click="borrar(scope.row)" 
                            >
                        </el-button> {% endcomment %}
                        
                        </el-button-group>


                    </template>
                </el-table-column>

            </el-table>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {

                tableData : [], //todos los sprints del proyecto para el table principal
                tableData2 : [], //miembros sprint para el detalle sprint
                permisosUsuarioProyecto:[],

                permisoVista: 'Listar Sprint',// PERMISOS CAMBIAR
                permisoVista2: 'Editar Sprint',// PERMISOS CAMBIAR
                permisoVista3: 'Ver Actividades',
                permisoVista4: 'Crear Sprint',
                permisoVista5: 'Agregar Miembro al Sprint',
                permisoVista6: 'Reemplazar Miembro',
                permisoVista7: 'Asignar UserStory',
                permisoVista8: 'Ver BurndownChart',
                permisoVista9: 'Ver SprintBacklog',
                permisoVista10:'Agregar Miembro al Sprint',
                

                
                dialogFormVisible: false,
                dialogFormVisible4: false,
                dialogFormVisible5: false,
                sprintActual:null,


                proyectoActivado:null,
                proyectoPendiente:null,
                proyectoCancelado:null,
                proyectoSuspendido:null,
                proyectoTerminado:null,

                sprintPendiente:null,

                proyectoActual: {
                    id: 0,
                    nombre: '',
                    estado: '',
                    fecha_inicio: '',
                    fecha_fin: '',
                    descripcion: '',
                },
            };
        },

        created(){

                this.getSprints();
                

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });

                ProyectoServicio.Obtener( {{ codigo_ejecucion }} ).then( function(resultado) {

                    var proyecto = resultado;

                    self.proyectoActual.id = proyecto.id;
                    self.proyectoActual.nombre = proyecto.nombre;
                    self.proyectoActual.fecha_inicio = proyecto.fecha_inicio;
                    self.proyectoActual.descripcion = proyecto.descripcion;
                    self.proyectoActual.fecha_fin = proyecto.fecha_fin;
                    self.proyectoActual.estado = proyecto.estado;
                    
                    switch(self.proyectoActual.estado){
                        case 'Pendiente':
                            self.proyectoPendiente=true;
                            break;
                        case 'Activo':
                            self.proyectoActivado=true;
                            break;
                        case 'Cancelado':
                            self.proyectoCancelado=true;
                            break;
                        case 'Suspendido':
                            self.proyectoSuspendido=true;
                            break;
                        case 'Terminado':
                            self.proyectoTerminado=true;
                            break;
                        default:
                            console.log("El Proyecto no tiene estado.");//no debería ocurrir
                            break;
                    }
                    
                });

                
            
        },

        computed: { 

        },
        
        methods: {
            

            getSprints(){
                SprintServicio.ListarSprintPorProyecto({{codigo_ejecucion}}).then( respuesta => {
                    this.tableData = respuesta;
                });
            },

            
           

            clearFilter() {
                this.$refs.filterTable.clearFilter()
            },

            filterHandler(value, row, column) {
                const property = column['property']
                return row[property] === value
            },

            recuperarSprint(sprint){ //detalle sprint
                var self=this;
                

                MiembroSprintServicio.ListarPorSprint(sprint.id).then( respuesta => {
                    this.tableData2 = respuesta;
                    self.dialogFormVisible4 = true;
                    console.log(sprint)
                    self.sprintActual = sprint
                    if(sprint.estado == 'Pendiente')
                        self.sprintPendiente = true
                    else
                        self.sprintPendiente = false    
    
                    console.log(self.sprintActual)
                });
                
            },

            agregarMiembro(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/agregar_miembro/";
            },

            reemplazarMiembro(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/reemplazar_miembro/";
            },

            sprintPlaning(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/sprint_planing/";
            },
            
            sprintBacklog(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/sprint_backlog/";
            },

            bdc(fila){
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/" + fila.id + "/burndownchart/";
            },

            editar(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/editar/" + fila.id + "/";
            },

            
            editarHorasLaborales(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/miembro_sprint/editar/" + fila.id + "/";
            },

            borrar(fila) {
                // Mensaje de Confirmacion para eliminar el sprint
                this.$confirm(
                'Esto eliminará permanentemente el Sprint. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.

                    SprintServicio.Borrar( fila.id ).then( respuesta => {
                        window.location.reload(); //al borrar el registro recargamos la pagina actual
                    });

                    this.$message({ //muestra un mensaje de  
                    type: 'success',
                    message: 'El Sprint fue Eliminado Correctamente',
                    })
                })
                .catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                })
            },

            borrar2(fila) {
                // Mensaje de Confirmacion para eliminar el miembro sprint
                this.$confirm(
                'Esto eliminará permanentemente el Miembro del Sprint. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.

                    MiembroSprintServicio.Borrar( fila.id ).then( respuesta => {
                        window.location.reload(); //al borrar el registro recargamos la pagina actual
                    });

                    this.$message({ //muestra un mensaje de  
                    type: 'success',
                    message: 'El miembro del Sprint fue Eliminado Correctamente',
                    })
                })
                .catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                })
            },



        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>

            .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
            }
            .detalle .subtitulo {
                color:#409EFF;
                font-weight: bold;
                font-size: 18px;
            }
            .detalle .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
         .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
        }

        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




