{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Crear Proyecto
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/RolProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" style='display:block;'>
            <el-row>
                <el-col :sm='24' :md='12'>
                <h1 class="title is-1"> Crear Proyecto </h1>
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Descripción" >
                            <el-input v-model="descripcion"></el-input>
                        </el-form-item>

                        <el-form-item label="Scrum Master" >
                            <el-select v-model="usuarioSeleccionadoId" placeholder="Seleccionar Scrum Master">
                                <el-option
                                    v-for="item in usuarios"
                                    :key="item.id"
                                    :label="item.user.username"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <p>OBS: El proyecto se crea con Estado Pendiente, debe activarlo manualmente</p>

                        <el-button type="primary" @click="submit" default> Guardar </el-button>
                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                usuarios: [], //recuperamos los Perfiles de usuarios para iterar en el select

                nombre: '',
                descripcion: '',
                usuarioSeleccionadoId: null,
                permisoVista: 'Crear Proyecto',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[]
            /*
                form: {
                    nombre: '', //v-model="form.nombre"
                    descripcion: '', //v-model="form.descripcion"
                    usuario_scrum: null //v-model="form.usuario_scrum"
                }

            */
                

            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
            
        },      
        methods: {
            submit(){

                var self = this;
  
                // recuperamos los datos ingresados en el formulario
                // y lo guardamos en un objeto
                var proyecto = {
                    nombre: self.nombre,
                    descripcion: self.descripcion,
                }

                console.log(proyecto);

                // mediante la funcion definida en js/ProyectoServicio.js
                //hacemos una peticion Post con el objeto(proyecto) como argumento

                ProyectoServicio.Guardar( proyecto ).then( function(resultado) {

                    

                    //var proyectoID = resultado.id;
                    //ROLES POR DEFECTO AL CREAR UN PROYECTO, SE CREAN JUNTO A ÉL
                    var rolScrumMaster = {
                        nombre: 'ScrumMaster',
                        permisos : [11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,42], //AGREGAR ACA LOS id de los permisos, segun la bd
                        es_modificable : false,
                        es_unico : true,
                        proyecto : resultado.id,
                        descripcion: 'ScrumMaster'
                    }

                    var rolDeveloper = {
                        nombre: 'Developer', //menu proyecto,kanban
                        permisos : [12,34], //AGREGAR ACA LOS id de los permisos, segun la bd
                        es_modificable : false,
                        es_unico : false,
                        proyecto : resultado.id,
                        descripcion: 'Desarrollador del proyecto'
                    }

                    var rolProductOwner = {
                        nombre: 'ProductOwner', //menu proyecto,p backlog, sprint backlog,bdc, kanban, 
                        permisos : [12,29,30,31,34,39], //AGREGAR ACA LOS id de los permisos, segun la bd
                        es_modificable : false,
                        es_unico : true,
                        proyecto : resultado.id,
                        descripcion: 'Es el responsable de asegurar que el equipo aporte valor al negocio. Representa las partes interesadas internas y externas, por lo que debe comprender y apoyar las necesidades de todos los usuarios en el negocio, así como también las necesidades y el funcionamiento del Equipo Scrum.'
                    }


                    RolProyectoServicio.Guardar( rolScrumMaster ).then( function(resultado2) {
                
                        var scrumMasterMiembro = {
                            proyecto: resultado.id,
                            usuario: self.usuarioSeleccionadoId,
                            rol_proyecto: resultado2.id
                        }

                        console.log(scrumMasterMiembro)
                    
                        MiembroServicio.Guardar( scrumMasterMiembro )
                        RolProyectoServicio.Guardar( rolDeveloper )
                        RolProyectoServicio.Guardar( rolProductOwner ).then( () => {window.location.href= "/proyecto/listar";})
                    })

                    
                    
                    self.$notify({
                        title: 'Correcto.',
                        message: "Guardado correcto.",
                        type: 'success'
                    })

                    // Si se guardo correctamente nos redirigimos a Listar Proyecto
                    

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error.',
                        message: error,
                        type: 'error'
                    })

                });
                
                
                            
            }
        },
        mounted(){
            var self = this;

            // al montarse el componente recuperamos todos los perfiles de usuarios
            // y lo guardamos en un array usuarios []
            UsuarioSistemaServicio.Listar().then( function(resultado) {
                self.usuarios = resultado;
            });

            


            

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>
{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
