{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Reemplazar Miembro
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" style="width: 50%; float:left">
        
        <span class="tituloDialog" slot="title"> Reemplazar Miembro</span>
        <el-divider><i class="el-icon-refresh"></i></el-divider>
        <el-button-group>
                {% comment %} <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button> {% endcomment %}
            </el-button-group>

            
            <p class="subtitulo">Miembros del Proyecto Disponibles para Reemplazar</p>
            <br>
            <el-select v-model="idTeam_member" placeholder="Seleccionar Miembro del Proyecto"> 
                <el-option
                    v-for="item in miembrosProyectoDisponibles"
                    :key="item.id"
                    :label="item.usuario.username"
                    :value="item.id"
                >
                </el-option>
            </el-select>

            <br>
            <br>
            <p class="subtitulo">Horas Laborales que trabajará el miembro suplente </p>
            <br>
            
            
            <el-input-number v-model="horas_laborales" :min="1" :max="24"  />
           
            <br>
            <br>
            <p class="subtitulo">Miembro del Sprint por Reemplazar</p>
            <br>
            <el-select v-model="idMiembroSprint" placeholder="Seleccionar Miembro del Sprint">
                <el-option
                    v-for="item in miembrosSprint"
                    :key="item.id"
                    :label="item.team_member.usuario.username"
                    :value="item.id"
                >
                </el-option>
            </el-select>

            

            <br>
            <br>
            <p>  <el-button type="primary" @click="submit"> Guardar </el-button> </p>
            

           
            
        </div>
        <div v-else>
            
        </div>
        <div style="width: 50%; float:right">

           

            
             

                <span class="tituloDialog" slot="title"> Miembros Actuales del Sprint</span>
                <el-divider><i class="el-icon-info"></i></el-divider>    

                     <el-table 
                        ref="filterTable"
                        :data="miembrosSprintConScrum"
                        style="width: 100%"
                        stripe
                        border
                        
                    >
                        <el-table-column 
                            prop="team_member.usuario.username"
                            label="Usuario"
                            sortable
                            
                            column-key="team_member.usuario.username"
                            class-name="filaBacklog"
                            align="center"
                        />

                        <el-table-column 
                            prop="team_member.usuario.email"
                            label="Correo de Contacto"
                            sortable
                            
                            column-key="team_member.usuario.email"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column 
                            prop="team_member.rol_proyecto.nombre"
                            label="Rol"
                            sortable
                            
                            column-key="team_member.rol_proyecto.nombre"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column 
                            prop="horas_laborales"
                            label="Horas Laborales que trabajará Por Día"
                            sortable
                            
                            column-key="horas_laborales"
                            class-name="filaBacklog"
                            align="center"
                        />
                    </el-table>

                <el-divider><i class="el-icon-info"></i></el-divider>

            

            

            
            
        </div>


        `,

        data() {
            return {
                permisoVista: 'Reemplazar Miembro',
                permisosUsuarioProyecto:[],

                miembrosSprint: [], //para el select de sprint members
                miembrosProyectoDisponibles:[], //para el select de team members del proyecto

                miembrosProyectoConScrum:[],
                miembrosSprintConScrum:[],

                idTeam_member:null, 
                idMiembroSprint:null, 
                horas_laborales:null,

                
                
            };
        },
        methods: {

        
           submit(){

               var self=this;
               var miembro = {
                    id: self.idMiembroSprint,
                    team_member: self.idTeam_member,
                    sprint: parseInt({{codigo_sprint}}),
                    horas_laborales: self.horas_laborales
                };

                console.log(miembro)
               msg1="Desea Reemplazar a los miembros. Continuar?"
               msg2="Reemplazar Miembro"
               msg3="Accion Cancelada"
            
               self.$confirm(
                msg1,
                msg2,
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                ).then(()=>{


                   
                    MiembroSprintServicio.Editar(miembro).then(()=>{
                        self.$notify({
                        title: 'Correcto.',
                        message: "Guardado correcto.",
                        type: 'success'
                        })

                        


                        window.location.reload()
                    }).catch((error)=>{
                        self.$notify({
                        title: 'Error',
                        message: error,
                        type: 'error'
                        })

                    })
                        
                }).catch((error)=>{
                   self.$message({
                    type: 'info',
                    message: msg3,
                    })
                })
               


               
            },
            

           
        },
        mounted(){

            var self = this;
            
            
            MiembroServicio.ObtenerMiembroScrumMaster({{codigo_ejecucion}}).then((scrumMiembro) => {

                MiembroServicio.ObtenerMiembrosProyecto({{codigo_ejecucion}}).then( function(resultado1) {
                    
                    const miembroRecuperados1 = resultado1;
                    console.log(miembroRecuperados1)
                    const aux1 =[];
                    const disponibles=[];
                    const aux2=[];

                    self.miembrosProyectoConScrum = miembroRecuperados1;
                    
                    miembroRecuperados1.forEach(miembro => {

                        //console.log(miembro.id)
                        if(miembro.id != scrumMiembro.id )
                        {//el scrum master del proyecto no es seleccionable en el select
                            
                            aux1.push(miembro)
                            disponibles.push(miembro)
                        }else{
                           // console.log("Este miembro no es seleccionable en el select",miembro)
                        }
                    })

                    MiembroSprintServicio.ListarPorSprint({{codigo_sprint}}).then( function(resultado2) {
                    
                        const miembrosRecuperados2 = resultado2;
                        
                        
                        self.miembrosSprintConScrum = miembrosRecuperados2;
                        


                        miembrosRecuperados2.forEach(miembrosprint => {

                            
                            if(miembrosprint.team_member.id != scrumMiembro.id )
                            {//el scrum master del proyecto no es seleccionable en el select
                                self.miembrosSprint.push(miembrosprint);
                                aux2.push(miembrosprint)
                            }else{
                                //console.log("Este miembrosprint no es seleccionable en el select",miembrosprint)
                            }

                        })

                        //recuperamos solo los miembros disponibles (que estan libres para reemplazar)
                    
                    
                   
                        
                        aux2.forEach(miembro_sprint =>{
                            console.log(miembro_sprint.team_member)
                            var idtm= miembro_sprint.team_member.id
                            console.log("miembros",aux1)
                            console.log("miembros sprint",aux2)
                            //index = aux1.indexOf(42,'id') //https://stackoverflow.com/questions/8668174/indexof-method-in-an-object-array/38516944
                            //var e = miembro
                            index = disponibles.map(function(e) { return e.id; }).indexOf(idtm)
                            console.log("index es: ",index)
                            if( index != -1) //si el team member ya es sprint member =>
                            {

                                //const result = disponibles.filter(word => word.length > 6);
                                disponibles.splice(index,1)
                            }
                        })

                    })
                    console.log("disponibles",disponibles)

                    self.miembrosProyectoDisponibles=disponibles

                
                });



                    
           

                

                
                    
                
                
                

            });

            

            

         

            
             

        },
        created(){

            var self=this;

            PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{ codigo_ejecucion }}).then( function(resultado) {
                self.permisosUsuarioProyecto=resultado;
            });


        },
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        
        .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 20px;
                font-weight: bold;
        }
        .subtitulo {
                color:black;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 20px;
                font-weight: bold;
        }


        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }

        .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
            }
    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
