{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Ejecuciones de Proyectos
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: center;display:block;">

        <el-dialog v-model="dialogFormVisible4"  width="90%" >

                <span class="tituloDialog" slot="title"> Miembros del Proyecto</span>
                    <el-divider><i class="el-icon-info"></i></el-divider>    
                     <el-table 
                        ref="filterTable"
                        :data="tableData2"
                        style="width: 100%"
                        stripe
                        border
                        
                    >
                        <el-table-column 
                            prop="usuario.username"
                            label="Usuario"
                            sortable
                            
                            column-key="usuario.username"
                            class-name="filaBacklog"
                            align="center"
                        />

                        <el-table-column 
                            prop="usuario.email"
                            label="Correo de Contacto"
                            sortable
                            
                            column-key="usuario.email"
                            class-name="filaBacklog"
                            align="center"
                        />
                        <el-table-column 
                            prop="rol_proyecto.nombre"
                            label="Rol"
                            sortable
                            
                            column-key="rol_proyecto.nombre"
                            class-name="filaBacklog"
                            align="center"
                        />
                        
                    </el-table>

                <el-divider><i class="el-icon-info"></i></el-divider>    

            </el-dialog>

            <h1 class="title is-1"> Ejecuciones de Proyectos </h1>

             
            <el-table 
                ref="filterTable"
                :data="tableData"
                style="width: 100%"
                stripe
                border
                fit
            >
                <el-table-column 
                    prop="proyecto.nombre"
                    label="Nombre"
                    sortable
                    width="180"
                    column-key="proyecto.nombre"
                    class-name="filaBacklog"
                    align="center"
                />

                <el-table-column
                    prop="proyecto.estado"
                    label="Estado"
                    sortable
                    width="180"
                    column-key="proyecto.estado"
                    :filters="[
                        { text: 'Pendiente', value: 'Pendiente' },
                        { text: 'Activo', value: 'Activo' },
                        { text: 'Cancelado', value: 'Cancelado' },
                        { text: 'Suspendido', value: 'Suspendido' },
                        { text: 'Terminado', value: 'Terminado' },
                    ]"
                    :filter-method="filterHandler"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="proyecto.fecha_inicio"
                    label="Fecha de Inicio"
                    sortable
                    width="180"
                    column-key="proyecto.fecha_inicio"
                    class-name="filaBacklog"
                    align="center"
                />
                <el-table-column
                    prop="proyecto.fecha_fin"
                    label="Fecha de Fin"
                    sortable
                    width="180"
                    column-key="proyecto.fecha_fin"
                    class-name="filaBacklog"
                    align="center"
                />

                <el-table-column
                    prop="nombre"
                    label="Rol en el Proyecto:"
                    sortable
                    width="180"
                    column-key="nombre"
                    class-name="filaBacklog"
                    align="center"
                />

                <el-table-column label="Opciones" class-name="filaBacklog"
                header-align="center">
                    <template #default="scope">

                        <el-button v-if="scope.row.nombre == 'ScrumMaster'"
                            icon="el-icon-info"
                            type="primary"
                            medium
                            default
                            @click="getMiembrosProyecto(scope.row.proyecto.id)"
                        >

                        </el-button>
                        

                        <el-button v-if="scope.row.permisosUsuarioProyecto.indexOf(permisoVista4) != -1"
                            icon="el-icon-menu"
                            type="primary"
                            medium
                            default
                            @click="menuProyecto(scope.row.proyecto.id)"
                        >
                            Menu del Proyecto

                        </el-button>
                        
                        <el-button v-if="
                                        (scope.row.proyecto.estado == 'Activo' || scope.row.proyecto.estado == 'Pendiente')
                                        && scope.row.permisosUsuarioProyecto.indexOf(permisoVista2) != -1
                                        "
                            
                            type="warning" icon="el-icon-user" 
                            medium
                            default 
                            @click="agregarMiembro(scope.row.proyecto.id)" 
                        >

                            Agregar Miembro
                        </el-button>

                        <el-button v-if="
                                        scope.row.permisosUsuarioProyecto.indexOf(permisoVista3) != -1
                                        "
                            
                            type="success" 
                            icon="el-icon-plus" 
                            medium
                            default
                            @click="agregarRolesProyecto(scope.row.proyecto.id)" 
                            >
                            Roles del Proyecto
                        </el-button>

                    </template>
                </el-table-column>

            </el-table> 

        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                tableData : [],
                tableData2 : [],

                permisoVista: 'Ver Ejecucion de Proyecto',// PERMISOS CAMBIAR
                permisoVista2: 'Agregar Miembro al Proyecto',// PERMISOS CAMBIAR
                permisoVista3: 'Listar Rol Proyecto',// PERMISOS CAMBIAR
                permisoVista4: 'Ver Menu del Proyecto',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[],

                dialogFormVisible4: false,
                


            };
        },

        created(){
                this.getproyectos();
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                 });

                
                
        },

        computed: { //propiedad calculada se puede usar directamente en los templates usando ex: longitud
            

        },
        
        methods: {

            opciones(fila) {
                window.location.href = "/ejecucion_proyecto/" + fila.id + "/";
            },

            menuProyecto(id_proyecto){
                window.location.href = "/ejecucion_proyecto/" + id_proyecto + "/";
            },

            agregarMiembro(id_proyecto){
                window.location.href = "/definicion_proyecto/" + id_proyecto + "/agregar_miembro/";
            },

            agregarRolesProyecto(id_proyecto){
                window.location.href = "/definicion_proyecto/" + id_proyecto + "/rol_proyecto/listar/";
            },

            getMiembrosProyecto(id_proyecto){ //detalle proyecto
                var self=this;
            
                MiembroServicio.ObtenerMiembrosProyecto(id_proyecto).then( (respuesta) => {
                    self.tableData2 = respuesta;
                    self.dialogFormVisible4 = true;
                });
                
            },



            getproyectos(){ //obtenemos los proyectos donde es miembro el usuario y obtenemos los permisos de cada proyecto
                var self = this;

                ProyectoServicio.ListarProyectosDelUsuario( {{ user.id }} ).then( respuesta => {
                    
                    var proyectosPertenece = respuesta;

                    proyectosPertenece.forEach((proyecto)=>{

                        PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},proyecto.proyecto.id).then( function(resultado) {

                            proyecto.permisosUsuarioProyecto = resultado;
                            self.tableData.push(proyecto);
                            console.log(self.tableData)

                        
                        });

                    });

                });
            },

            resetDateFilter() {
                this.$refs.filterTable.clearFilter('date')
            },
            clearFilter() {
                this.$refs.filterTable.clearFilter()
            },
            formatter(row, column) {
                return row.address
            },
            filterTag(value, row) {
                return row.tag === value
            },


            filterHandler(value, row, column) {
                const property = column['property']
                //console.log(property) //proyecto.estado
                var auxproperty = property.slice(9,property.length)
                //console.log(auxproperty) //estado
                console.log(value)
                console.log(row)
                return row.proyecto[auxproperty] === value
            },


        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
       .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
                text-align:center;
            }
            .detalle .subtitulo {
                color:#409EFF;
                font-weight: bold;
                font-size: 18px;
            }
            .detalle .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        

        .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
                text-align:center;
        }

        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




