{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Crear User Story
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/RolProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" style='display:block;'>
            <el-row>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
                <el-col :sm='24' :md='12'>
                <h1 class="title is-1"> Crear User Story </h1>
                
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Valor de Negocio" >
                             <el-input-number v-model="valor_negocio" :min="1" :max="10"  />
                        </el-form-item>

                         <el-form-item label="Prioridad" >
                             <el-input-number v-model="prioridad" :min="1" :max="10"  />
                        </el-form-item>

                         <el-form-item label="Valor de Tecnico" >
                             <el-input-number v-model="valor_tecnico" :min="1" :max="10"  />
                        </el-form-item>

                        <el-form-item label="Descripcion" >
                            <el-input
                                v-model="descripcion"
                                autosize
                                type="textarea"
                                placeholder="Ingrese una descripcion para el userstory"
                            />
                        </el-form-item>


                        <p>OBS: El UserStory se crea con Estado Pendiente, debe asignarlo en el Sprint Planing</p>

                        <el-button type="primary" @click="submit" default> Guardar </el-button>

                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {

                nombre: '',
                valor_negocio: 1,
                prioridad: 1,
                valor_tecnico: 1,
                descripcion: '',
                proyecto: parseInt('{{ codigo_ejecucion }}'),

                permisoVista: 'Crear UserStory',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });

        },      
        methods: {
            submit(){
                var self = this;
                // recuperamos los datos ingresados en el formulario
                // y lo guardamos en un objeto

                var us = {
                        nombre: self.nombre,
                        valor_negocio: self.valor_negocio,
                        prioridad: self.prioridad,
                        valor_tecnico: self.valor_tecnico,
                        descripcion:self.descripcion,
                        proyecto: self.proyecto,
                        horas_trabajadas_us: 0,
                        duracion_restante : null,
                        porcentaje_realizado : 0,
                        horas_extras_trabajadas_us: 0
                    };

                console.log(us)
                
                UserStoryServicio.Guardar(us).then(()=>{
                    
                    self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                    })
                    window.location.href="/ejecucion_proyecto/{{ codigo_ejecucion }}/userstory/product_backlog/"
                }).catch(error =>{
                    self.$notify({
                            title: 'Error.',
                            //message: error,
                            message:'Debe Completar todos los Campos para Crear un userstory',
                            type: 'error'
                        })
                })
                


               

            }
        },
        mounted(){
        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
