{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Listar Roles Sistema
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/RolSistemaServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" id="rol_sistema_editar" style="text-align: left;display:block;">
            <h1 class="title is-1"> Listar Roles de Sistema </h1>
            {% comment %} <el-button type="primary" onclick="window.location.href='/rol_sistema/crear'"><i class="el-icon-circle-plus-outline" style="font-size:25px;"></i></el-button> {% endcomment %}
            <div class="botonesBacklog">
                

                <el-button v-if="
                                permisosUsuarioSistema.indexOf(permisoVista4) != -1  
                                "
                    onclick="window.location.href='/rol_sistema/crear'"
                    type="primary" 
                    icon="el-icon-circle-plus-outline" 
                    default
                >
                    Crear Rol Sistema
                </el-button>
            </div>
            <el-row class="fila" style="text-align:center;">
                <el-col :span="4"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="8"><div class="grid-content"> Descripción </div></el-col>
                <el-col :span="8"><div class="grid-content"> Permisos </div></el-col>
                <el-col :span="4"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="4"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="8"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>

                <el-col :span="8"><div class="grid-content"> 
                    <ul style="list-style-position:inside; margin:0; padding:0 10px;">
                        <li v-for="permiso in fila.permisos" style="padding:0 0 5px 0;"> <i class="el-icon-check" ></i>$[[ permiso.nombre ]] </li>
                    </ul>
                </el-col>

                <el-col :span="4">
                    <div class="grid-content">
                        <el-button v-if="permisosUsuarioSistema.indexOf(permisoVista2) != -1
                                        && fila.nombre != 'Usuario Normal'   && fila.nombre != 'Administrador'  
                                        "
                            @click="editar(fila)" 
                            type="primary" 
                            icon="el-icon-edit" 
                            default
                        >
                        Editar Rol Sistema
                        </el-button>

                        <el-button v-if="permisosUsuarioSistema.indexOf(permisoVista3) != -1
                                        && fila.nombre != 'Usuario Normal'   && fila.nombre != 'Administrador'  
                                        "
                            @click="borrar(fila)" 
                            type="danger" 
                            icon="el-icon-delete" 
                            default
                        >
                        Eliminar Rol Sistema
                        </el-button>
                    </div>
                </el-col>

            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                
                tableData : [],
                permisoVista: 'Listar Rol Sistema',// PERMISOS CAMBIAR
                permisoVista2: 'Editar Rol Sistema',// PERMISOS CAMBIAR
                permisoVista3: 'Eliminar Rol Sistema',// PERMISOS CAMBIAR
                permisoVista4: 'Crear Rol Sistema',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[],
            };
        },

        created(){
                this.getrolesproyecto();
   	                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
        },

        computed: { //propiedad calculada se puede usar directamente en los templates
            
        },
        
        methods: {

            editar(fila) {
                window.location.href = "/rol_sistema/editar/" + fila.id + "/";
            },
            
            borrar(fila) {
                // Mensaje de Confirmacion para eliminar el rol
                this.$confirm(
                'Esto eliminará permanentemente el Rol. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.
                    
                    RolSistemaServicio.Borrar( fila.id ).then( respuesta => {
                        window.location.reload();
                    }).then(() => {
                        this.$message({   
                        type: 'success',
                        message: 'El Rol fue Eliminado Correctamente',
                        })
                    }).catch( (error) => {

                        opcion = error.request.status;

                        switch(opcion){
                            case 403:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: 'Es un Rol por Defecto',
                                type: 'error',
                                });
                            break;

                            case 500:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: 'El Rol esta en Uso Actualmente',
                                type: 'error',
                                });
                            break;

                            default:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: error,
                                type: 'error',
                                });
                            break;
                        }

                     });
                        
                }).catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                });
                
            },

            getrolesproyecto(){
                RolSistemaServicio.Listar().then( respuesta => {
                    this.tableData = respuesta;
                });
            },

        },
        mounted(){
            
        },

       
        
    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #rol_sistema_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #rol_sistema_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #rol_sistema_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #rol_sistema_editar .fila {
            box-sizing:content-box;
        }

        #rol_sistema_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
         .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 50px;
                font-weight: bold;
        }

        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_sistema.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_sistema.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




