{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Editar Proyecto 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js'%}"></script>
    <script src="{% static 'js/PermisosServicio.js'%}"></script>
    <script src="{% static 'js/MiembroServicio.js'%}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" style='display:block;'>
            <el-row>
            <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group>
                <el-col :sm='24' :md='12'>
                    <h1 class="title is-1"> Editar User Story </h1>
                    
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="form.nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Valor de Negocio" >
                            <el-input-number v-model="form.valor_negocio" :min="1" :max="10"  />
                        </el-form-item>

                        <el-form-item label="Prioridad" >
                            <el-input-number v-model="form.prioridad" :min="1" :max="10"  />
                        </el-form-item>

                        <el-form-item label="Valor Tecnico" >
                            <el-input-number v-model="form.valor_tecnico" :min="1" :max="10"  />
                        </el-form-item>

                        <el-form-item label="Descripcion" >
                            <el-input
                                v-model="form.descripcion"
                                autosize
                                type="textarea"
                            />
                        </el-form-item>
                        
                        <el-button type="primary" @click="submit" default> Guardar </el-button>


                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
   
        `,

        data() {
            return {
               

                form: {
                    id: 0,
                    nombre: '',
                    valor_negocio: 0,
                    prioridad: 0,
                    valor_tecnico:0,
                    proyecto: parseInt('{{codigo_ejecucion}}')
                },

                
                permisoVista: 'Editar UserStory',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[]
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });

                UserStoryServicio.Obtener( {{ codigo_userstory }} ).then( function(resultado) {

                var usActual = resultado;
                console.log(usActual)

                self.form.id = usActual.id;
                self.form.nombre = usActual.nombre;
                self.form.valor_tecnico = usActual.valor_tecnico;
                self.form.prioridad = usActual.prioridad;
                self.form.valor_negocio = usActual.valor_negocio;
                self.form.proyecto = usActual.proyecto.id;
                self.form.descripcion = usActual.descripcion;
                
                
            });
            
        },
        methods: {
            submit(){
                var self = this;

                var sprint = {...self.form };
                
                console.log(sprint)
                UserStoryServicio.Editar( sprint ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "UserStory Editado Correctamente.",
                        type: 'success'
                    });

                    window.location.href="/ejecucion_proyecto/{{ codigo_ejecucion }}/userstory/product_backlog/"

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error al Editar UserStory',
                        message: error,
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;

            

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
