{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Crear Usuario 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/RolSistemaServicio.js' %}"></script>
    <script src="{% static 'js/AuthUserServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" style='display:block;text-align:left;'>
            <h1> Asignar usuario de sistema </h1>
            <el-row>
                <el-col :sm='24' :md='12'>
                    <el-form ref="form" :model="form" label-width="180px">
      
                        <el-form-item label="Descripción">
                            <el-input v-model="descripcion" placeholder="Descripción del usuario"></el-input>
                        </el-form-item>

                        <el-form-item label="Usuario registrado" >
                            <el-select v-model="usuarioSeleccionado" placeholder="Seleccionar Username">
                                <el-option
                                    v-for="item in usuarios"
                                    :key="item.id"
                                    :label="item.username"
                                    :value="item.id"
                                >
                                </el-option>
                            </el-select>
                        </el-form-item>


                        <el-form-item label="Rol Sistema" >
                            <el-select v-model="rolSeleccionado" placeholder="Seleccionar Rol">
                            <el-option
                                v-for="item in rolesSistema"
                                :key="item.id"
                                :label="item.nombre"
                                :value="item.id"
                            >
                            </el-option>
                        </el-select>

                        </el-form-item>

                        <el-button type="primary" @click="submit" style="float:right"round> Guardar </el-button>
                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                descripcion: '',

                usuarioSeleccionado: null,
                rolSeleccionado: null,

                usuarios: [],
                rolesSistema: [] ,
                permisoVista: 'Crear Usuario',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[]   
            };
        },
        created(){
                this.getproyectos();
                //this.longitud();
                   	var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
            
        },
        methods: {
            submit(){

                var self = this;
                var datos = {...self.form };

                var usuario = {
                    user : self.usuarioSeleccionado,
                    descripcion : self.descripcion,
                    rol_sistema: self.rolSeleccionado
                };

                console.log(usuario);

                UsuarioSistemaServicio.Guardar( usuario ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "Guardado correcto.",
                        type: 'success'
                    })

                    window.location.href= "/rol_sistema/listar";

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error - Duplicados',
                        message: 'Perfil de Usuario ya Existe',
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;

            AuthUserServicio.Listar().then( function(resultado) {
                self.usuarios = resultado;
            });

            RolSistemaServicio.Listar().then( function(resultado) {
                self.rolesSistema = resultado;
            });
        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
