{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Definiciones de Proyectos
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: left;display:block;">
            <h1 class="title is-1"> Definiciones de Proyectos </h1>

            <el-row class="fila" style="text-align:center;">
                <el-col :span="8"><div class="grid-content"> Nombre </div></el-col>
                <el-col :span="8"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="8"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="8"><div class="grid-content"> $[[ fila.nombre ]] </div></el-col>
                <el-col :span="8"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>

                <el-col :span="8">
                    <div class="grid-content">
                        <el-button @click="opciones(fila)" type="primary" icon="el-icon-s-tools" circle style="background-color:#000000"></el-button>
                    </div>
                </el-col>

            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                tableData : [],
                permisosUsuarioSistema: [],
                permisoVista: 'Ver Definicion de Proyecto',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[]
            
            };
        },

        created(){
                this.getproyectos();
                //this.longitud();
                   	var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                     self.permisosUsuarioSistema=resultado;
                });
        },

        computed: { //propiedad calculada se puede usar directamente en los templates usando ex: longitud
            

        },
        
        methods: {

            opciones(fila) {
                window.location.href = "/definicion_proyecto/" + fila.id + "/";
            },


            getproyectos(){
                /*
                ProyectoServicio.Listar().then( respuesta => {
                    this.tableData = respuesta;
                });
                */
                ProyectoServicio.ListarProyectosDelUsuario( {{ user.id }} ).then( respuesta => {
                    this.tableData = respuesta;
                });
                
            },

        },
        mounted(){
            PermisosServicio.PermisosDelUsuarioPorSistema( {{ user.id }} ).then( respuesta => {
                    this.permisosUsuarioSistema = respuesta;
                    console.log(this.permisosUsuarioSistema);
                });
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
            
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




