{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Inicio 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/RolSistemaServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" style='display:block;'>
            <h1 class="title is-1"> Crear Rol de Sistema </h1>
            <el-row>
                <el-col :sm='24' :md='12'>
                    <el-form ref="form" :model="form" label-width="120px">
                        
                        <el-form-item label="Nombre" >
                            <el-input v-model="form.nombre"></el-input>
                        </el-form-item>

                        <el-form-item label="Descripción" >
                            <el-input v-model="form.descripcion"></el-input>
                        </el-form-item>

                        <el-form-item label="Permisos" >
                            <el-checkbox-group
                                v-model="form.permisos">
                                <el-checkbox v-for="permiso in permisos" :label="permiso.id" :key="permiso.id" :disabled="!permiso.desactivado" @change="checkboxT(permiso,$event)">$[[permiso.nombre]]</el-checkbox>
                            </el-checkbox-group>
                        </el-form-item>

                        <el-button type="primary" @click="submit" default> Guardar </el-button>


                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                permisos: [],
                form: {
                    nombre: '',
                    descripcion: '',
                    permisos: [],
                    
                },
                permisoVista: 'Crear Rol Sistema',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[],
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
            
        },
        methods: {

            checkboxT(permiso,event){
                var self=this;
                
                switch(true){
                    case (permiso.nombre === 'Crear Proyecto' && event==true):
                        self.form.permisos.push(3)
                        break;
                    case (permiso.nombre === 'Crear Proyecto' && event==false):
                        var forDeletion = [3]
                        self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Editar Proyecto' && event==true):
                        self.form.permisos.push(3)
                        break;
                    case (permiso.nombre === 'Editar Proyecto' && event==false):
                        var forDeletion = [3]
                        self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                     case (permiso.nombre === 'Eliminar Proyecto' && event==true):
                        self.form.permisos.push(3)
                        break;
                    case (permiso.nombre === 'Eliminar Proyecto' && event==false):
                        var forDeletion = [3]
                        self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Crear Rol Sistema' && event==true):
                        self.form.permisos.push(6)
                        break;
                    case (permiso.nombre === 'Crear Rol Sistema' && event==false):
                        var forDeletion = [6]
                        self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Editar Rol Sistema' && event==true):
                        self.form.permisos.push(6)
                        break;
                    case (permiso.nombre === 'Editar Rol Sistema' && event==false):
                        var forDeletion = [6]
                        self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Eliminar Rol Sistema' && event==true):
                        self.form.permisos.push(6)
                        break;
                    case (permiso.nombre === 'Eliminar Rol Sistema' && event==false):
                        var forDeletion = [6]
                        self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;
                    case (permiso.nombre === 'Editar Usuario' && event==true):
                        self.form.permisos.push(8)
                        break;
                    case (permiso.nombre === 'Editar Usuario' && event==false):
                        var forDeletion = [8]
                        self.form.permisos = self.form.permisos.filter(item => !forDeletion.includes(item))
                        break;

                    
                    

                    
                    default:
                        console.log("..")//no debería ocurrir
                        break;
                }
   
            },

            submit(){

                var self = this;
                var datos = {...self.form };

                RolSistemaServicio.Guardar( datos ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "Guardado correcto.",
                        type: 'success'
                    })

                    window.location.href= "/rol_sistema/listar";

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error.',
                        message: error,
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;

            PermisosServicio.ObtenerPermisosSistema().then( function(resultado) {
                self.permisos = resultado;
            });

        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>
{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}