{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Listar Perfiles de Usuarios
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/UsuarioSistemaServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}


<script>

{% block script %}
    
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" id="usuario_editar" style="text-align: left;display:block;">
            <h1 class="title is-1"> Listar Usuarios </h1>
            
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">
                <el-col :span="4"><div class="grid-content"> Id </div></el-col>
                <el-col :span="4"><div class="grid-content"> Username </div></el-col>
                <el-col :span="8"><div class="grid-content"> Descripcion </div></el-col>
                <el-col :span="4"><div class="grid-content"> Rol sistema </div></el-col>
                <el-col :span="4"><div class="grid-content"> Opciones </div></el-col>
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }">
                <el-col :span="4"><div class="grid-content"> $[[ fila.id ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ fila.user.username ]] </div></el-col>
                <el-col :span="8"><div class="grid-content"> $[[ fila.descripcion ]] </div></el-col>
                <el-col :span="4"><div class="grid-content"> $[[ (fila.rol_sistema != null) ? fila.rol_sistema.nombre : '']] </div></el-col>


                <el-col :span="4">
                    <div class="grid-content">
                        <el-button 
                            v-if="permisosUsuarioSistema.indexOf(permisoVista2) != -1"
                            @click="editar(fila)" 
                            type="warning" 
                            icon="el-icon-edit" 
                            default
                        >
                            Editar Usuario
                        </el-button>
                        
                    </div>
                </el-col>

            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                
                tableData : [],
                permisoVista: 'Listar Usuario',// PERMISOS CAMBIAR
                permisoVista2: 'Editar Usuario',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[]
        
            };
        },
        created(){
                
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
            
        },

        computed: { //propiedad calculada se puede usar directamente en los templates 
           
        },
        
        methods: {

            nuevo() {
                window.location.href='/usuario/crear';
            },

            editar(fila) {
                window.location.href = "/usuario/editar/" + fila.id + "/";
            },
            
            borrar(fila) {
                // Mensaje de Confirmacion para eliminar el perfil
                this.$confirm(
                'Esto eliminará permanentemente el Perfil de Usuario. ¿Continuar?',
                'Atención!',
                {
                    confirmButtonText: 'SI',
                    cancelButtonText: 'CANCELAR',
                    type: 'warning',
                    center: true,
                }
                )
                .then(() => { // Opcion: SI, eliminamos el registro de la bd, con una peticion delete a la api.
                    
                    UsuarioSistemaServicio.Borrar( fila.id ).then( respuesta => {
                    window.location.reload();
                    }).then(() => {
                        this.$message({   
                        type: 'success',
                        message: 'El Perfil fue Eliminado Correctamente',
                        })
                    }).catch( (error) => {

                        opcion = error.request.status;

                        switch(opcion){
                           
                            case 500:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: 'El Perfil de Usuario esta en Uso Actualmente',
                                type: 'error',
                                });
                            break;

                            default:
                                this.$notify({   
                                title: 'Error al Eliminar',
                                message: error,
                                type: 'error',
                                });
                            break;
                        }

                     });
                        
                }).catch(() => { // Opcion: CANCELAR, 
                    this.$message({
                    type: 'info',
                    message: 'Eliminación Cancelada',
                    })
                });
                
            },
            


            getUsuarios(){
                UsuarioSistemaServicio.Listar().then( respuesta => {
                    this.tableData = respuesta;
                });
            },


            

        },
        mounted(){
            this.getUsuarios();
        },

       
        
    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #usuario_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #usuario_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #usuario_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #usuario_editar .fila {
            box-sizing:content-box;
        }

        #usuario_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}

{#se pueden pasar props al componente desde la plantilla de django, <rolcomponent props={{user.username}}></rolcomponent>#}

{% comment %}

{% block contenido %}

    {# SI EL ROL ES Administrador PUEDE VER LA LISTA DE ROLES DE SISTEMA#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Administrador" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




{% comment %}

{% block contenido %}

    {# SI EL ROL ES Invitado PUEDE VER LA LISTA DE ROLES DE PROYECTO#}
    {% for rol in user.profile.rol_proyecto.all%}
         {% if "Invitado" in rol.nombre %}
             {{ block.super }}
            <rolcomponent></rolcomponent>
          {% endif %}
    {% endfor %}
{% endblock %}

{% endcomment %}




