{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Agregar Miembros al Proyecto
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/RolProyectoServicio.js' %}"></script>
    <script src="{% static 'js/AuthUserServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        

        template:`
        <div v-if="permisosUsuario.indexOf(permisoVista) != -1" style='display:block;'>
        <h1 class="title is-1"> Agregar Miembros al Proyecto </h1>
            <el-form
                :model="form"
                ref="form"
                label-width="120px"
                class="demo-dynamic"
                >

                <el-form-item
                    v-for="(miembro, index) in form.miembros"
                    :key="miembro.key"
                    :prop="'miembros.' + index + '.value'"
                    :rules="{
                    required: true, message: 'Agregue los campos para miembro', trigger: 'blur'
                    }"
                >
                <el-divider><i class="el-icon-user"></i></el-divider>
                  <span  class="subtitulo2" slot="label"><i class="el-icon-user"></i>Miembro $[[index]] del Proyecto</span>
                  <br> 
                    <el-select v-model="form.miembros[index].usuario" placeholder="Seleccionar Usuario">
                        <el-option
                            v-for="item in usuarios"
                            :key="item.id"
                            :label="item.username"
                            :value="item.id"
                        >
                        </el-option>
                    </el-select>

                     <el-select v-model="form.miembros[index].rol_proyecto" placeholder="Seleccionar Rol de Proyecto">
                        <el-option
                            v-for="item in rolesProyecto"
                            :key="item.id"
                            :label="item.nombre"
                            :value="item.id"
                        >
                        </el-option>
                    </el-select>

                    

                    <el-button 
                        type="danger"
                        icon="el-icon-delete"
                        @click.prevent="removeMiembro(miembro,miembro.id)">Borrar Miembro</el-button>
                </el-form-item>


                <el-form-item>
                    <el-button type="primary" @click="submit()">Guardar</el-button>
                    <el-button 
                    type="success"
                    icon="el-icon-plus"
                    @click="addMiembro">Nuevo Miembro</el-button>
                    <el-divider><i class="el-icon-user"></i></el-divider>
                    
                </el-form-item>


            </el-form>
        </div>
        <div v-else>
        
        </div>

        `,

        data() {
            return {
                permisoVista: 'Agregar Miembro al Proyecto',
                usuarios: [],
                rolesProyecto: [],
                rolesProyectoUnicos: [],
                permisosUsuario:[],
                ok:false,

                form: {
                    miembros: [
                        
                    ]
                },

                miembrosToDetele: []
                
            };
        },
        methods: {

            /*
            submitForm(formName) {
            this.$refs[formName].validate((valid) => {
            if (valid) {
                alert('submit!')
            } else {
                console.log('error submit!!')
                return false
            }
            })
           },
           */
        
           submit(){
               var self=this;

               const datos = self.form.miembros;
               if(self.form.miembros.length == 0)
                {
                    const miembrosPorEliminar = self.miembrosToDetele
                    miembrosPorEliminar.forEach((miembroId)=>{
                        MiembroServicio.Borrar(miembroId)
                    })
                    window.location.reload();
                }else{
                    const idrolesUnicos = self.rolesProyectoUnicos;
                    var duplicados=[];
                    
                    datos.forEach(dato =>{
                        idrolesUnicos.forEach(rol =>{
                            if(dato.rol_proyecto == rol)
                                duplicados.push(dato.rol_proyecto);
                        })
                    })

                    console.log(duplicados);

                        //Eliminanos los duplicados
                    let result = duplicados.filter((item,index)=>{
                            return duplicados.indexOf(item) === index;
                        })

                        console.log(result);

                    if(( duplicados.length <= result.length)){ //si no hay roles Unicos Duplicados

                    datos.forEach(dato => {
                            console.log(dato);

                            opcion = Object.keys(dato);
                            
        
                            if( opcion[0] == "id" ){ //si el objeto tiene id, se hace put

                            MiembroServicio.Editar( dato ).then( function() {
                                    self.$notify({
                                        title: 'Correcto.',
                                        message: "Guardado correcto.",
                                        type: 'success'
                                    })

                                    const miembrosPorEliminar = self.miembrosToDetele
                                    miembrosPorEliminar.forEach((miembroId)=>{
                                        MiembroServicio.Borrar(miembroId)
                                    })
                                    

                                    window.location.reload();

                                }).catch( (error) => {
                                        self.$notify({
                                            title: 'Usuario Duplicado',
                                            message: 'El usuario solo puede tener un Rol en el Proyecto',
                                            type: 'error'
                                        })
                                    });
                            }else{ //si no, se hace post (no tiene id)

                                MiembroServicio.Guardar( dato ).then( function() {
                                    self.$notify({
                                        title: 'Correcto.',
                                        message: "Guardado correcto.",
                                        type: 'success'
                                    })

                                    const miembrosPorEliminar = self.miembrosToDetele
                                    miembrosPorEliminar.forEach((miembroId)=>{
                                        MiembroServicio.Borrar(miembroId)
                                    })
                                    

                                    window.location.reload();

                                }).catch( (error) => {
                                        self.$notify({
                                            title: 'Usuario Duplicado',
                                            message: 'El usuario solo puede tener un Rol en el Proyecto',
                                            type: 'error'
                                        })
                                    });
                                }
                                });
                                }else{
                                    self.$notify({
                                        title: 'Roles Duplicados',
                                        message: 'Roles de Proyecto Unicos Duplicados, Por Favor Ingrese Correctamente',
                                        type: 'error'
                                    })
                                }

                    }
               
        },

           


            resetForm(formName) {
                this.$refs[formName].resetFields()
            },

            removeMiembro(item,id) {

                var self= this;
                var index = self.form.miembros.indexOf(item)
                console.log("miembro id a eliminar: ",id)
                console.log(index);
                if( (id == undefined)){
                    self.form.miembros.splice(index, 1)
                    console.log("Este miembro no esta en la bd, no se guarda su id para eliminar")
                    console.log(self.form.miembros.length)
                }else{
                    if (index !== -1) {
                    self.miembrosToDetele.push( item.id )
                    self.form.miembros.splice(index, 1)
                    console.log(self.form.miembros.length)
                    }
                console.log(self.miembrosToDetele)
                }
            },

            addMiembro() {
                this.form.miembros.push({
                    //key: Date.now(),
                    proyecto: parseInt('{{ codigo_definicion }}'),
                    usuario: null,
                    rol_proyecto: null,
                })
                //console.log(this.form.miembros);
                //console.log(this.form.miembros[0].value);
                //console.log(this.form.miembros[1].value);
            },

           

           
        },
        mounted(){

            var self = this;

            AuthUserServicio.Listar().then( function(resultado) {
                const usuariosRecuperados = resultado;
                usuariosRecuperados.forEach(usuario => {
                    console.log(usuario.id)
                   if(usuario.id != parseInt('{{user.id}}'))
                   {//El usuario que agrega miembro no puede cambiar su propio rol desde esta pantalla, debe pedir a otro usuario (scrum por ejemplo que le cambie el rol)
                     self.usuarios.push(usuario);
                   }else{
                       console.log("Este usuario no se carga en el select")
                   }
                })
                
                // self.usuarios = resultado;
            });

            RolProyectoServicio.ListarRolesPorProyecto( {{ codigo_definicion }} ).then( function(resultado) {

                const rolesRecuperados = resultado;
                rolesRecuperados.forEach(rol => {
                   if(rol.nombre != 'ScrumMaster')
                   {//El Scrum Master no debe ser seleccionable como rol
                     self.rolesProyecto.push(rol);
                   }else{
                       console.log("Este rol no se carga en el select")
                   }
                })
      
            });


             
            
            

        },
        created(){

            var self=this;
            self.ok=true;

            MiembroServicio.ObtenerMiembrosProyecto( {{ codigo_definicion }} ).then( function(resultado) {
                
                const auxMiembros = resultado;
                console.log("LOS MIEMBROS SON: ", resultado)

                auxMiembros.forEach(dato =>{

                        if(dato.rol_proyecto.nombre != 'ScrumMaster') 
                        {//No se puede editar el miembro con el ScrumMaster desde esta pantalla, solo desde el administrador
                            self.form.miembros.push({
                            id: dato.id,
                            proyecto: dato.proyecto.id,
                            usuario: dato.usuario.id,
                            rol_proyecto: dato.rol_proyecto.id,
                            })
                        }else{
                            console.log("Este Registro no se carga");
                        }

                        

                })
                //console.log(resultado)
                //console.log(resultado[0].usuario.id)
                //console.log(self.form.miembros)
            });


            

            
            RolProyectoServicio.rolesUnicos( {{ codigo_definicion }} ).then( function(resultado) {

                const auxRoles = resultado;

                auxRoles.forEach(dato =>{

                    self.rolesProyectoUnicos.push(dato.id);

                })
                //console.log(self.rolesProyectoUnicos)
            });

            /*
            MiembroServicio.permisos({{ user.id }},{{ codigo_definicion }}).then( function(resultado) {
                //self.permisos = resultado;
                console.log("ROL ACTUAL DEL USUARIO: ",resultado[0].rol_proyecto.nombre);
                const permisosRecuperados = resultado[0].rol_proyecto.permisos;
                var permisosActuales=[]
                permisosRecuperados.forEach(permiso =>{
                    permisosActuales.push(permiso.nombre);
                })
                //console.log(permisosRecuperados)
                //console.log("PERMISOS DEL USUARIO: ",resultado[0].rol_proyecto.permisos[0].nombre);
                console.log("PERMISOS DEL USUARIO: ",permisosActuales)
                self.permisos=permisosActuales;
                console.log("hola", self.permisos)

            });*/

            PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{ codigo_definicion }}).then( function(resultado) {
                self.permisosUsuario=resultado;
            });


            

        },
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>

{% block estilos %}
    <style>
        
        .tituloPrincipal {
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 20px;
                font-weight: bold;
        }
        .subtitulo {
                color:black;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 20px;
                font-weight: bold;
        }

        .subtitulo2 {
                color:#409EFF;
                /*text-shadow: 0px 0px 10px #409EFF;*/
                font-size: 18px;
                font-weight: bold;
                
                float:left;
        }


        .botonesBacklog{
            text-align:left; 
            width:100%; 
            padding:0;
        }
        .botonesBacklog .el-button{
            
            font-size: 20px;
        }

        .filaBacklog{
                font-size: 15px;
                border-right: 1px solid lightgray;
                border-top: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                border-left: 1px solid lightgray;
                padding:20px;
                word-wrap: break-word;
                word-break: break-all;
                box-sizing:content-box;
        }

        .el-table {
            border: 1px solid lightgray;
        }

        .tituloDialog{
                color:#409EFF;
                text-shadow: 0px 0px 10px #409EFF;
                font-size: 35px;
                font-weight: bold;
            }
        
    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
