{% extends "base.html" %}


{% block titulo %}
    {{ block.super }}
    Sprint
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->

{% load static %}
{% block scripts %}
    <script src="{% static 'js/ProyectoServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
    <script src="{% static 'js/MiembroServicio.js' %}"></script>
    <script src="{% static 'js/MiembroSprintServicio.js' %}"></script>
    <script src="{% static 'js/SprintServicio.js' %}"></script>
    <script src="{% static 'js/UserStoryServicio.js' %}"></script>
    <script src="{% static 'js/HistorialUserStoryServicio.js' %}"></script>
    <script src="{% static 'js/HistorialEstadosUserStoryServicio.js' %}"></script>
    
{% endblock %}


<script>

{% block script %}
    let rolComponent = {
        delimiters: ['$[[', ']]'],
        
        
        template:`
        <div v-if="permisosUsuarioProyecto.indexOf(permisoVista) != -1" id="proyecto_editar" style="text-align: left;display:block;">
            <h1 class="title is-1"> Sprint Planing </h1>
            {% comment %} <el-button-group>
                <el-button type="primary" size="mini" onclick="window.location.href='/ejecucion_proyecto/{{codigo_ejecucion}}/'" v-if="permisosUsuarioProyecto.indexOf('Ver Menu del Proyecto') != -1"><i class="el-icon-house" style="font-size:15px;"></i> Menu del Proyecto</el-button>
            </el-button-group> {% endcomment %}
            <span class="subtitulo">  Capacidad del Sprint: </span> <span class="valor"> $[[capacidadSprint]] horas  </span> <br>
            <br />
            <br />
            <el-row class="fila" style="text-align:center;">
                <el-col :span="9"><div class="grid-content"> UserStory </div></el-col>
                <el-col :span="3"><div class="grid-content"> Estado </div></el-col>
                <el-col :span="2"><div class="grid-content"> Priorizacion</div></el-col>
                <el-col :span="5"><div class="grid-content"> Duración Estimada(Hs)</div></el-col>
                <el-col :span="5"><div class="grid-content"> Miembro del Sprint</div></el-col>
                
        
            </el-row>

            <el-row v-for="(fila, index) in tableData" v-bind:class="{ fila:true, alternado: index%2 == 0 }"  >

                <el-col :span="9" >
                    <div class="grid-content">

                        <el-checkbox-group v-model="usToPut">         
                            <el-checkbox   :label="index" :key="index" @change="test" >$[[fila.nombre]]  </el-checkbox>
                        </el-checkbox-group>

                    </div>
                </el-col>

                <el-col :span="3"><div class="grid-content"> $[[ fila.estado ]] </div></el-col>

                <el-col :span="2"><div class="grid-content"> $[[ fila.priorizacion ]] </div></el-col>

                

                <el-col :span="5">
                    <div class="grid-content">
                        <el-input-number v-model="obj[index].duracion_estimada" :min="1" :max="1000"  />
                    </div>
                </el-col>


                <el-col :span="5">
                    <div class="grid-content">
                        <el-select v-model="obj[index].miembro_sprint" placeholder="Seleccionar Miembro Sprint">
                            <el-option
                                v-for="item in miembrosSprint"
                                :key="item.id"
                                :label="item.team_member.usuario.username"
                                :value="item.id"
                            >
                            </el-option>
                        </el-select>
                    </div>
                </el-col> 


                {% comment %} <el-col :span="2">
                    <div class="grid-content">

                    </div>
                </el-col> {% endcomment %}


    
            </el-row>
            <el-button type="primary" @click="submit" round> Guardar </el-button>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {

                tableData : [],
                miembrosSprint:[],
                capacidadSprint: null,
                permisoVista: 'Asignar UserStory',// PERMISOS CAMBIAR
                permisosUsuarioProyecto:[],

                obj:[],
                usToPut:[],
                
            };
        },

        created(){

                //this.getUserStories();

                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorProyecto({{ user.id }},{{codigo_ejecucion}}).then( function(resultado) {
                    self.permisosUsuarioProyecto=resultado;
                });


                UserStoryServicio.ListarUsSprintPlaning( {{ codigo_ejecucion }} ,{{codigo_sprint}} ).then( function(resultado) {
                
                    const auxUS = resultado;
                    self.tableData = resultado;

                    console.log("LOS US SON: ", resultado)

                    auxUS.forEach(us => {

                        if(us.miembro_sprint == null || us.duracion_estimada == null){
                            var idMiembro = null
                            var duracionEstimada = null
                        }else{
                            idMiembro = us.miembro_sprint.id;
                            duracionEstimada = us.duracion_estimada;
                        }

                        self.obj.push({
                            id: us.id,
                            proyecto: us.proyecto.id,
                            sprint: parseInt('{{codigo_sprint}}'), //asignamos el id de este sprint para usar esto en el sprint planing
                            duracion_estimada: duracionEstimada,
                            miembro_sprint: idMiembro,
                            estado: 'Asignado',
                            nombre: us.nombre,
                            valor_tecnico :us.valor_tecnico,
                            valor_negocio :us.valor_negocio,
                            prioridad :us.prioridad,
                        })


                    })

                    
                    
                    //console.log(self.form.userstories)

                });


                MiembroSprintServicio.ListarPorSprint({{codigo_sprint}}).then((resultado)=>{
                    self.miembrosSprint=resultado
                })

                
                SprintServicio.CapacidadSprint({{codigo_sprint}}).then((resultado)=>{
                    self.capacidadSprint=resultado
                })

                
            
        },

        computed: { 

        },
        
        methods: {
            
            submit(){
                var self=this;
                const aux1 = [...self.usToPut];
                const aux2 =[...self.obj];
                aux1.forEach(index =>{
                    const datos = {...aux2[index]}
                    console.log(datos)
                    UserStoryServicio.Editar(datos).then((resultado)=>{

                        self.$notify({
                            title: 'Correcto.',
                            message: "Guardado correcto.",
                            type: 'success'
                        })

                        console.log("resultado es :",resultado)

                        var historialUs ={
                            us: resultado.id,
                            sprint: resultado.sprint,
                            miembro_sprint: resultado.miembro_sprint,
                            duracion_estimada_sprint: resultado.duracion_estimada,
                            estado_tablero: 'To Do',
                            horas_trabajadas_sprint: 0,
                            priorizacion: resultado.priorizacion,
                        }

                        console.log("El historial us es: ",historialUs)


                        var historialEstadosUs ={
                            us: resultado.id,
                            sprint: resultado.sprint,
                            miembro_sprint: resultado.miembro_sprint,
                            estado_tablero: 'To Do',
                        }

                        console.log("El historial de estados del us es: ",historialEstadosUs)
                        
                        HistorialUserStoryServicio.Guardar(historialUs).then(()=>{
                            console.log("El historial se guardo correctamente!!!")
                        })

                        HistorialEstadosUserStoryServicio.Guardar(historialEstadosUs).then(()=>{
                            console.log("El historial de estados se guardo correctamente!!!")
                        })


                    }).catch( (error) => {
                        self.$notify({
                            title: 'Error.',
                            //message: error,
                            message:error,
                            type: 'error'
                        })
                    })
                })
                //window.location.reload();
            },
            test(fila) {
                var self=this
                console.log(self.usToPut)
                console.log(self.obj)
            },

            editar(fila) {
                window.location.href = "/ejecucion_proyecto/{{codigo_ejecucion}}/sprint/editar/" + fila.id + "/";
            },

        },
        mounted(){
            
        },

    };

    app.component('rolcomponent', rolComponent);

{% endblock %}


</script>

{% block estilos %}
    <style>
        #proyecto_editar .fila .el-col:first-of-type{
            border-left: 1px solid lightgray;
        }

        #proyecto_editar .el-col{
            border-right: 1px solid lightgray;
            border-top: 1px solid lightgray;
            padding:20px;
            word-wrap: break-word;
            word-break: break-all;
        }
        
        #proyecto_editar .fila:last-of-type .el-col {
            border-bottom: 1px solid lightgray;
        }

        #proyecto_editar .fila {
            box-sizing:content-box;
        }

        #proyecto_editar .alternado {
            background: #eaeaea;
        } 
        .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

        .subtitulo{
                color:#409EFF;
                font-size: 18px;
                font-weight: bold;
            }
        .valor{
                color: black;
                font-weight: bold;
                font-size: 18px;
            }
    </style>
{% endblock %}

{% block contenido %}
    {{ block.super }}
    <rolcomponent></rolcomponent> 
{% endblock %}






