{% extends "base.html" %}

{% block titulo %}
    {{ block.super }}
    Editar Usuarios 
{% endblock %}

<!-- 
    Esta etiqueta script exterior al bloque
    solo sirve para colorear las letras, 
    no afecta al codigo 
-->
{% load static %}
{% block scripts %}
    <script src="{% static 'js/RolSistemaServicio.js' %}"></script>
    <script src="{% static 'js/AuthUserServicio.js' %}"></script>
    <script src="{% static 'js/UsuarioSistemaServicio.js' %}"></script>
    <script src="{% static 'js/PermisosServicio.js' %}"></script>
{% endblock %}

<script>
{% block script %}
    let rolcomponent2 = {
        delimiters: ['$[[', ']]'],
        
        template:`
        <div v-if="permisosUsuarioSistema.indexOf(permisoVista) != -1" style='display:block;text-align:left;'>
            <h1 class="title is-1"> Editar usuario de sistema </h1>
            <el-row>
                <el-col :sm='24' :md='12'>
                    <el-form ref="form" :model="form" label-width="180px">
      
                        <el-form-item label="Descripción">
                            <el-input v-model="descripcion" placeholder="Descripción del usuario"></el-input>
                        </el-form-item>

                        


                        <el-form-item label="Rol Sistema" >
                            <el-select v-model="rolSeleccionado" placeholder="Seleccionar Rol">
                            <el-option
                                v-for="item in rolesSistema"
                                :key="item.id"
                                :label="item.nombre"
                                :value="item.id"
                            >
                            </el-option>
                        </el-select>

                        </el-form-item>

                        <el-button type="primary" @click="submit" style="float:right"default> Guardar </el-button>
                    </el-form>
                </el-col>
            </el-row>
        </div>
        <div v-else>
            
        </div>
        `,

        data() {
            return {
                id: -1,
                descripcion: '',

                usuarioSeleccionado: null,
                rolSeleccionado: null,

                usuarios: [],
                rolesSistema: [],
                permisoVista: 'Editar Usuario',// PERMISOS CAMBIAR
                permisosUsuarioSistema:[]   
            };
        },
        created(){
                var self=this;  
                PermisosServicio.PermisosDelUsuarioPorSistema({{ user.id }}).then( function(resultado) {
                    self.permisosUsuarioSistema=resultado;
                });
            
        },
        methods: {
            submit(){

                var self = this;
                var datos = {...self.form };

                var usuario = {
                    id : self.id,
                    user : self.usuarioSeleccionado,
                    descripcion : self.descripcion,
                    rol_sistema: self.rolSeleccionado
                };

                UsuarioSistemaServicio.Editar( usuario ).then( function() {
                    self.$notify({
                        title: 'Correcto.',
                        message: "Guardado correcto.",
                        type: 'success'
                    })

                    window.location.href= "/usuario/listar";

                }).catch( (error) => {
                    self.$notify({
                        title: 'Error de Asignacion',
                        message: 'El usuario ya se encuentra asignado a un Perfil',
                        type: 'error'
                    })

                });
            }
        },
        mounted(){
            var self = this;


            AuthUserServicio.Listar().then( function(resultado) {
                self.usuarios = resultado;

                RolSistemaServicio.Listar().then( function(resultado) {
                    self.rolesSistema = resultado;

                    UsuarioSistemaServicio.Obtener({{ codigo }}).then ((resultado) => {
                        self.id = resultado.id;
                        self.usuarioSeleccionado = resultado.user.id;

                        if ( resultado.rol_sistema != null)
                            self.rolSeleccionado = resultado.rol_sistema.id;
                        
                        self.descripcion = resultado.descripcion;
                    });

                });
            });


        }
        
    };

    app.component('rolcomponent2', rolcomponent2);

{% endblock %}


</script>
{% block estilos %}
    <style>
        

            .title {
                color:#778899;
                text-shadow: 0px 0px 10px rgb(85, 172, 215);
            }

    </style>
{% endblock %}

{% block contenido %}

    {{ block.super }}

    <rolcomponent2></rolcomponent2>
{% endblock %}
